@model HRMS.Models.ITsupport.AssetModel

@{
    var locations = new List<string>();
    locations.Add("Hyderabad");
    locations.Add("Madurai");
}

<!-- Modal -->
<div class="modal fade" id="assettransfer-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="asset-transfer-popup-details">
                    <div class="asset-transfer-popup-title">@Model.EditAssets.AssetID</div>
                    <div class="asset-transfer-popup-info">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 profile-pic">
                                <div class="form-group assetview-assettransfer-tabs">
                                    <img src="~/Assets/EmpImages/1155.jpeg">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group assetview-assettransfer-tabs">
                                    <label for="AssetTransfer-PONumber">@Model.EditAssets.AllocatedEmployeeName</label>
                                    <div>@Model.AllocatedEmpInfo.Designation</div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="form-group assetview-assettransfer-tabs">
                                    <label for="AssetTransfer-PONumber">Location</label>
                                    <div>@Model.EditAssets.Location</div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="form-group assetview-assettransfer-tabs">
                                    <label for="AssetTransfer-PONumber">Assigned Date</label>
                                    <div>@Model.EditAssets.AssignedDate.Value.ToString("yyyy-MM-dd")</div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="form-group assetview-assettransfer-tabs">
                                    <label for="AssetTransfer-PONumber">Assigned By</label>
                                    <div>@Model.EditAssets.AssignedBy</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form id="assettransfer-form" class="admin-assettransfer needs-validation" novalidate>
                        <div class="asset-transfer-popup-subtitle">Asset Transfer To</div>
                        <div class="container" style="margin-left: 5px">
                            <div class="row">
                                <div class="col-lg-9 col-md-6 assettransfer-left-block-main">
                                    <div class="col-lg-12 col-md-12 assettransfer-field-info">
                                        <div class="col-lg-6 col-md-12 assettransfer-left-block">
                                            <div class="form-group assettransfer-tabs">
                                                <label for="AssetTransfer-Location">Location</label>
                                                <select name="AssetTransfer-Location" class="AssetTransfer-Location form-control form-select" id="AssetTransfer-Location">
                                                    <option value="" disabled selected hidden>Select Location</option>
                                                    @foreach (var location in locations)
                                                    {
                                                        <option value="@location">@location</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 assettransfer-field-info assettransfer-employee-field">
                                        <div class="col-lg-6 col-md-12 assettransfer-left-block">
                                            <div class="form-group assettransfer-tabs">
                                                <label for="AssetTransfer-Employee">Employee</label>
                                                <select name="AssetTransfer-Employee" class="AssetTransfer-Employee form-control form-select" id="AssetTransfer-Employee">
                                                    <option value="" disabled selected hidden>Select Employee</option>
                                                    @foreach (var emp in Model.Employees)
                                                    {
                                                        <option value="@emp.EmployeeID">@emp.EmployeeName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-12 assettransfer-right-block">
                                            <input type="checkbox" class="form-control" name="AssetTransfer-AcknowledgeEmail" id="AssetTransfer-AcknowledgeEmail" value="Send Acknowledge Email">
                                            <span class="AssetTransfer-AcknowledgeEmail">Send Acknowledge Email</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 assettransfer-field-info">
                                        <div class="col-lg-6 col-md-12 assettransfer-left-block">
                                            <div class="form-group assettransfer-tabs">
                                                <label for="AssetTransfer-AssignedBy">Transfer By</label>
                                                <select name="AssetTransfer-AssignedBy" class="AssetTransfer-AssignedBy form-control form-select" id="AssetTransfer-AssignedBy">
                                                    <option value="" disabled selected hidden>Select Name</option>
                                                    @foreach (var emp in Model.ITEmployees)
                                                    {
                                                        <option value="@emp.EmployeeID">@emp.EmployeeName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 assettransfer-field-info">
                                        <div class="col-lg-6 col-md-12 assettransfer-left-block">
                                            <div class="form-group assettransfer-tabs">
                                                <label for="AssetTransfer-AssignedDate">Transfer Date</label>
                                                <input type="date" class="form-control" id="AssetTransfer-TransferDate" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 assettransfer-right-block-main">
                                    <div class="assettransfer-file-upload" id="assettransfer-file-upload-area" style="border: 1px solid #ced4da; padding: 20px; text-align: center; border-radius: 5px; margin-top: 23px;">
                                        <label for="assettransfer-file-upload-input" id="assettransfer-file-upload-label" style="cursor: pointer;">
                                            <i class="fas fa-cloud-upload-alt fa-3x" style="color: #ced4da; "></i>
                                        </label>
                                        <input type="file" id="assettransfer-file-upload-input" accept=".jpeg,.png,.jpg" onchange="handleAssetTransferFileUpload(this)" style="display: none;">
                                        <div class="invalid-feedback">required.</div>
                                    </div>
                                    <div class="assettransfer-file-upload-input-label" id="assettransfer-file-upload-input-label">
                                        <label for="assettransfer-file-upload-input-label">Upload File*</label>
                                    </div>
                                    <div class="assettransfer-uploaded-file" id="assettransfer-uploaded-file-info" style="display: none;">
                                        <p style="color: green; font-size: 13px;" id="assettransfer-uploaded-file-text"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 text-right">
                                    <button type="button" class="btn assettransfer-purchaseinfo-Cancel">Cancel</button>
                                    <button type="button" class="btn btn-primary assettransfer-Transfer">Transfer</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>