@model HRMS.Models.ITsupport.VendorViewModel

@{ // Convert the list to a JSON string
    var vendorsJson = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Allvendors); }

<input type="hidden" id="vendorsJson" value='@vendorsJson' />

<div class="res-sadmin-vendorapproval-table table-responsive">
    <table id="sadminvendorapprovaltable" class="display" style="width: 100%;">
        <thead style="background-color: #d8e6fb; border-radius: 10px;">
            <tr>
                <th><input type="checkbox" id="vendor-selectAll"></th>
                <th>Vendor ID</th>
                <th>Vendor Name</th>
                <th>Vendor Contact</th>
                <th>Vendor Address</th>
                <th>Created Date</th>
                <th>Created By</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var vendor in Model.Allvendors)
            {
            <tr class="odd" data-vendorid="@vendor.VedorID">
                <td><input type="checkbox" class="vendor-check"></td>
                <td class="tdvendorid">@vendor.VedorID</td>
                <td class="tdvendorapprovalname">
                    <div style="display: flex; align-items: center;">
                        <span style="margin-top: 0px; margin-right: 10px;">
                           <div class="t-vendorname" title="@vendor.VendorName"> @vendor.VendorName</div>
                           <div class="t-vendoremail" title="@vendor.VendorEmail" style="color: #3E78CF;">@vendor.VendorEmail</div>
                        </span>
                    </div>
                </td>
                <td class="tdvendorcontact">@vendor.VendorContact</td>
                <td class="tdvendoraddress">@vendor.VendorAddress</td>
                <td class="tdcreateddate">
                    @if (vendor.CreatedDate.HasValue)
                    {
                        @vendor.CreatedDate.Value.ToString("dd-MM-yyyy")
                    }
                </td>
                <td class="tdcreatedby">@vendor.CreatedBy</td>
                <td class="tdvendorstatus">
                    <span class="sadmin-vendorapproved-btn">
                        <img src="/assets/@(vendor.Status == "Approved" ? "Approve.png" : vendor.Status == "Rejected" ? "Reject.png" : "Pending.png")"
                             alt="@vendor.Status"
                             style="width:25px"
                             title="@(vendor.Status == "Approved" ? $"Approved by {vendor.ApprovedBy}" : vendor.Status == "Rejected" ? $"Rejected by {vendor.RejectedBy}" : "Pending")">
                        <div style="display: none">@vendor.Status</div>
                    </span>
                </td>

                <td>
                    <span class="vendor-approval-edit" data-toggle="modal" data-target="#sadmin-approvalcard" onclick="openVendorModal(@vendor.VedorID)">
                        <i class="fas fa-eye"></i>
                    </span>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
