@model HRMS.Models.ITsupport.AssetModel

@{
    ViewBag.Title = "AddAsset";

    var assetTypes = new List<string>();
    assetTypes.Add("Laptop");
    assetTypes.Add("Mouse");
    assetTypes.Add("HeadPhone");
    assetTypes.Add("Keyboard");
    assetTypes.Add("Monitor");
    assetTypes.Add("Charger");
    assetTypes.Add("Others");


    var locations = new List<string>();
    locations.Add("Hyderabad");
    locations.Add("Madurai");


    var AssignTypes = new List<string>();
    AssignTypes.Add("Un-Assigned");
    AssignTypes.Add("Assigned");
    AssignTypes.Add("Scrap");
}
<style>
    .is-invalid {
        border-color: red !important;
    }

    .is-valid {
        border-color: green !important;
    }

    .is-invalid .select2-selection {
        border-color: red;
    }

    .is-invalid .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: red;
    }

    input.is-invalid, select.is-invalid {
        border-color: red;
    }

    .invalid-feedback {
        display: none;
        color: red;
    }

    input.is-invalid ~ .invalid-feedback,
    select.is-invalid ~ .invalid-feedback {
        display: block;
    }
</style>

@Html.Partial("_NavBar")
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid assetAdding-tab" style="width: 84%">
        <div class="content admin-assetadd-container">
            <div class="admin-asset-add">
                <div class="container-fluid top admin-assetadd">
                    <div class="row navbar align-items-center mt-2">
                        <h4 class="header mb-0 text-right">Add Asset</h4>
                    </div>

                    <div class="assetadd-tab-info">
                        <ul class="nav nav-tabs res-admin-assetadd-tabs responsive-tabs" id="assetaddTab" role="tablist" style="font-size: 15px; width: 100%;">
                            <li class="nav-item active" role="presentation">
                                <a class="nav-link active" id="tab1-link" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true"><b>Asset Information</b></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tab2-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><b>Purchase Information</b></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tab3-link" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><b>Allocate Information</b></a>
                            </li>
                            <i class="fa fa-caret-up"></i>
                            <i class="fa fa-caret-down"></i>
                        </ul>
                    </div>


                    <div class="tab-content" id="assetadd-TabContent">
                        <!-- Asset Info Tab -->
                        <div class="tab-pane fade assetadd-details show active" id="tab1" role="tabpanel" aria-labelledby="tab1-link">
                            <!-- Basic HTML Form -->
                            <form id="assetadd-form" class="admin-assetform">
                                <div class="container" style="margin-left: 5px">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 assetadd-main-left-block">
                                            <div class="col-lg-12 col-md-6 AssetID" style="padding-left:0px;">
                                                <div class="col-lg-7 col-md-6">
                                                    <div class="form-group assetadd-tabs">
                                                        <label for="AssetID">Asset ID*</label>
                                                        <input type="text" class="form-control" value="@Model.EditAssets.AssetID" name="AssetID" id="AssetID" placeholder="Enter Asset ID" required>
                                                        <div class="invalid-feedback">Asset ID is required.</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4">
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-6 AssetType-block" style="padding-left:0px;">
                                                <div class="col-lg-7 col-md-6 assetadd-left-block">
                                                    <div class="form-group assetadd-tabs">
                                                        <label for="AssetType">Asset Type*</label>
                                                        <select name="AssetType" class="AssetType form-control form-select" id="AssetType" required>
                                                            <option value="" disabled selected hidden>Select Type</option>
                                                            @foreach (var assetType in assetTypes)
                                                            {
                                                                var isAssetSelected = assetType == Model.EditAssets.AssetType1 ? "selected" : "";
                                                                <option value="@assetType" @isAssetSelected>@assetType</option>
                                                            }
                                                        </select>
                                                        <div class="invalid-feedback">Asset Type is required.</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 assetadd-right-block">
                                                    <div class="form-group assetadd-tabs">
                                                        <div class="upload-btn-wrapper attach1wrapper">
                                                            <button class="btn asset-upload-btn"><i class="fas fa-upload"></i>Upload</button>
                                                            <input type="file"
                                                                   class="form-control"
                                                                   name="AssetImage"
                                                                   id="AssetImage"
                                                                   required
                                                                   accept=".jpeg,.png,.jpg" data-existingfile="">
                                                            @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType1Image))
                                                            {
                                                                var assetFolderID = Model.EditAssets.AssetID.Split('#')[1];
                                                                var assetImageURL = "/ticketing/assets/" + assetFolderID + "/" + Model.EditAssets.AssetType1Image;
                                                              <a href="@assetImageURL" target="_blank"><img src="@assetImageURL" alt="Subscription Logo" class="edit-AssetType1Image" /></a>  
                                                            }

                                                            <div class="invalid-feedback">required.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-6 AssetType-block-1" style="padding-left:0px;">
                                                <div class="col-lg-7 col-md-6 assetadd-left-block">
                                                    <div class="form-group assetadd-tabs">
                                                        <select name="AssetType-1" class="AssetType form-control form-select" id="AssetType-1" required>
                                                            <option value="" disabled selected hidden>Select Type</option>
                                                            @foreach (var assetType in assetTypes)
                                                            {
                                                                var isAssetSelected2 = assetType == Model.EditAssets.AssetType2 ? "selected" : "";
                                                                <option value="@assetType" @isAssetSelected2>@assetType</option>
                                                            }
                                                        </select>
                                                        <div class="invalid-feedback">Asset Type is required.</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 assetadd-right-block">
                                                    <div class="form-group assetadd-tabs">
                                                        <div class="upload-btn-wrapper attach1wrapper">
                                                            <button class="btn asset-upload-btn"><i class="fas fa-upload"></i>Upload</button>
                                                            <input type="file"
                                                                   class="form-control"
                                                                   name="AssetImage-1"
                                                                   id="AssetImage-1"
                                                                   required
                                                                   accept=".jpeg,.png,.jpg" data-existingfile="">
                                                            @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType2Image))
                                                            {
                                                                var assetFolderID = Model.EditAssets.AssetID.Split('#')[1];
                                                                var assetImageURL = "/ticketing/assets/" + assetFolderID + "/" + Model.EditAssets.AssetType2Image;
                                                                <a href="@assetImageURL" target="_blank"><img src="@assetImageURL" alt="Subscription Logo" class="edit-AssetType1Image" /></a>
                                                            }
                                                            <div class="invalid-feedback">required.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-6 AssetType-block-2" style="padding-left:0px;">
                                                <div class="col-lg-7 col-md-6 assetadd-left-block">
                                                    <div class="form-group assetadd-tabs">
                                                        <select name="AssetType-2" class="AssetType form-control form-select" id="AssetType-2" required>
                                                            <option value="" disabled selected hidden>Select Type</option>
                                                            @foreach (var assetType in assetTypes)
                                                            {
                                                                var isAssetSelected3 = assetType == Model.EditAssets.AssetType3 ? "selected" : "";
                                                                <option value="@assetType" @isAssetSelected3>@assetType</option>
                                                            }
                                                        </select>
                                                        <div class="invalid-feedback">Asset Type is required.</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 assetadd-right-block">
                                                    <div class="form-group assetadd-tabs">
                                                        <div class="upload-btn-wrapper attach1wrapper">
                                                            <button class="btn asset-upload-btn"><i class="fas fa-upload"></i>Upload</button>
                                                            <input type="file"
                                                                   class="form-control"
                                                                   name="AssetImage-1"
                                                                   id="AssetImage-2"
                                                                   required
                                                                   accept=".jpeg,.png,.jpg" data-existingfile="">
                                                            @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType3Image))
                                                            {
                                                                var assetFolderID = Model.EditAssets.AssetID.Split('#')[1];
                                                                var assetImageURL = "/ticketing/assets/" + assetFolderID + "/" + Model.EditAssets.AssetType3Image;
                                                                <a href="@assetImageURL" target="_blank"><img src="@assetImageURL" alt="Subscription Logo" class="edit-AssetType1Image" /></a>
                                                            }
                                                            <div class="invalid-feedback">required.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-6 AssetType-block-3" style="padding-left:0px;">
                                                <div class="col-lg-7 col-md-6 assetadd-left-block">
                                                    <div class="form-group assetadd-tabs">
                                                        <select name="AssetType-3" class="AssetType form-control form-select" id="AssetType-3" required>
                                                            <option value="" disabled selected hidden>Select Type</option>
                                                            @foreach (var assetType in assetTypes)
                                                            {
                                                                var isAssetSelected4 = assetType == Model.EditAssets.AssetType4 ? "selected" : "";
                                                                <option value="@assetType" @isAssetSelected4>@assetType</option>
                                                            }
                                                        </select>
                                                        <div class="invalid-feedback">Asset Type is required.</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 assetadd-right-block">
                                                    <div class="form-group assetadd-tabs">
                                                        <div class="upload-btn-wrapper attach1wrapper">
                                                            <button class="btn asset-upload-btn"><i class="fas fa-upload"></i>Upload</button>
                                                            <input type="file"
                                                                   class="form-control"
                                                                   name="AssetImage-1"
                                                                   id="AssetImage-3"
                                                                   required
                                                                   accept=".jpeg,.png,.jpg" data-existingfile="">
                                                            @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType4Image))
                                                            {
                                                                var assetFolderID = Model.EditAssets.AssetID.Split('#')[1];
                                                                var assetImageURL = "/ticketing/assets/" + assetFolderID + "/" + Model.EditAssets.AssetType4Image;
                                                                <a href="@assetImageURL" target="_blank"><img src="@assetImageURL" alt="Subscription Logo" class="edit-AssetType1Image" /></a>
                                                            }
                                                            <div class="invalid-feedback">required.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-4 col-md-6 assetadd-main-mid-block">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group assetadd-tabs">
                                                    <label for="AssetManufacture">Manufacture*</label>
                                                    <input type="text" class="form-control" value="@Model.EditAssets.Manufacturer" name="AssetManufacture" id="AssetManufacture" placeholder="Enter Manufacture" required>
                                                    <div class="invalid-feedback">Manufacture is required.</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group assetadd-tabs">
                                                    <label for="AssetModel">Model*</label>
                                                    <input type="text" class="form-control" value="@Model.EditAssets.Model" name="AssetModel" id="AssetModel" placeholder="Enter Model" required>
                                                    <div class="invalid-feedback">Model is required.</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group assetadd-tabs">
                                                    <label for="AssetBarcode">Barcode</label>
                                                    <input type="text" class="form-control" value="@Model.EditAssets.BarCode" name="AssetBarcode" id="AssetBarcode" placeholder="Enter Barcode">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group assetadd-tabs">
                                                    <label for="AssetRAM">RAM</label>
                                                    <input type="text" class="form-control" value="@Model.EditAssets.RAM" name="AssetRAM" id="AssetRAM" placeholder="Enter RAM">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group assetadd-tabs">
                                                    <label for="AssetWarrentyStartDate">Warrenty Start Date*</label>

                                                    @if (Model.EditAssets.WarrantyStartDate != DateTime.MinValue)
                                                    {
                                                        @Html.TextBoxFor(m => m.EditAssets.WarrantyStartDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "AssetWarrentyStartDate" })
                                                    }
                                                    else
                                                    {
                                                        <input type="date" class="form-control" id="AssetWarrentyStartDate" value="@Model.EditAssets.WarrantyStartDate">
                                                    }

                                                    <div class="invalid-feedback">Warrenty Start Date is required.</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group assetadd-tabs">
                                                    <label for="AssetWarrentyEndDate">Warrenty End Date*</label>
                                                    @if (Model.EditAssets.WarrantyEndDate != DateTime.MinValue)
                                                    {
                                                        @Html.TextBoxFor(m => m.EditAssets.WarrantyEndDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "AssetWarrentyEndDate" })
                                                    }
                                                    else
                                                    {
                                                        <input type="date" class="form-control" id="AssetWarrentyEndDate" value="@Model.EditAssets.WarrantyEndDate">
                                                    }


                                                    <div class="invalid-feedback">Warrenty End Date is required.</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-2 col-md-2 assetadd-main-right-block">
                                            <div class="assetadd-file-upload" id="assetadd-file-upload-area" style="border: 1px solid #ced4da; padding: 20px; text-align: center; border-radius: 5px; margin-top: 23px;">
                                                <label for="assetadd-file-upload-input" id="assetadd-file-upload-label" style="cursor: pointer;">
                                                    <i class="fas fa-cloud-upload-alt fa-3x" style="color: #ced4da; "></i>
                                                </label>
                                                <input type="file" id="assetadd-file-upload-input" accept=".jpeg,.png,.jpg" onchange="handleAssetFileUpload(this)" style="display: none;">

                                                <div class="invalid-feedback">required.</div>
                                            </div>
                                            <div class="assetadd-file-upload-input-label" id="assetadd-file-upload-input-label">
                                                <label for="assetadd-file-upload-input-label">Upload File*</label>
                                            </div>
                                            @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetMainImage))
                                            {
                                                var assetFolderID = Model.EditAssets.AssetID.Split('#')[1];
                                                var assetImageURL = "/ticketing/assets/" + assetFolderID + "/" + Model.EditAssets.AssetMainImage;
                                              <a href="@assetImageURL" target="_blank"><img src="@assetImageURL" alt="Subscription Logo" class="edit-AssetType3Image" width="50" height="50" /></a>  
                                            }
                                            <div class="assetadd-uploaded-file" id="assetadd-uploaded-file-info" style="display: none;">
                                                <p style="color: green; font-size: 13px;" id="assetadd-uploaded-file-text"></p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 text-right">
                                            <button type="button" class="btn assetadd-Cancel">Cancel</button>
                                            <button type="button" class="btn btn-primary assetadd-Update saveandnext">Save and Next</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>


                        <!-- Purchase Info Tab -->
                        <div class="tab-pane fade assetadd-purchaseinfo-details" id="tab2" role="tabpanel" aria-labelledby="tab2-link">
                            <!-- Basic HTML Form -->
                            <form id="assetadd-purchaseinfo-form" class="admin-assetadd-purchaseinfo needs-validation" novalidate>
                                <div class="container" style="margin-left: 5px">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 assetadd-purchaseinfo-left-block-main">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group assetadd-purchaseinfo-tabs">
                                                    <label for="AssetPurchase-Vendorname">Vendor Name</label>
                                                    <select name="AssetPurchase-Vendorname" class="AssetPurchase-Vendorname form-control form-select" id="AssetPurchase-Vendorname">
                                                        <option value="" disabled selected hidden>Select Vendor</option>
                                                        @foreach (var vendor in Model.allVendors)
                                                        {
                                                            var isVendorSelected = vendor.VendorName == Model.EditAssets.VendorName ? "selected" : "";
                                                            <option value="@vendor.VedorID" @isVendorSelected>@vendor.VendorName - @vendor.VedorID</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group assetadd-purchaseinfo-tabs">
                                                    <label for="AssetPurchase-PONumber">PO Number</label>
                                                    <input type="text" class="form-control" value="@Model.EditAssets.PONumber" name="AssetPurchase-PONumber" id="AssetPurchase-PONumber" placeholder="Enter PO Number">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group assetadd-purchaseinfo-tabs">
                                                    <label for="AssetPurchase-PurchaseDate">Purchase Date</label>
                                                    @if (Model.EditAssets.PurchaseDate != DateTime.MinValue)
                                                    {
                                                        @Html.TextBoxFor(m => m.EditAssets.PurchaseDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "AssetPurchase-PurchaseDate" })
                                                    }
                                                    else
                                                    {
                                                        <input type="date" class="form-control" id="AssetPurchase-PurchaseDate" value="@Model.EditAssets.PurchaseDate">
                                                    }

                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group assetadd-purchaseinfo-tabs">
                                                    <label for="AssetPurchase-InvoiceDate">Invoice Date</label>
                                                    @if (Model.EditAssets.InvoiceDate != DateTime.MinValue)
                                                    {
                                                        @Html.TextBoxFor(m => m.EditAssets.InvoiceDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "AssetPurchase-InvoiceDate" })
                                                    }
                                                    else
                                                    {
                                                        <input type="date" class="form-control" id="AssetPurchase-InvoiceDate" value="@Model.EditAssets.InvoiceDate">
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 text-right">
                                            <button type="button" class="btn assetadd-purchaseinfo-Cancel">Cancel</button>
                                            <button type="button" class="btn btn-primary assetadd-purchaseinfo-Update saveandnext">Save and Next</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade assetadd-allocateinfo-details" id="tab3" role="tabpanel" aria-labelledby="tab3-link">
                            <!-- Basic HTML Form -->
                            <form id="assetadd-allocateinfo-form" class="admin-assetadd-allocateinfo needs-validation" novalidate>
                                <div class="container" style="margin-left: 5px">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-6 assetadd-allocateinfo-left-block-main">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="col-lg-6 col-md-12 assetadd-allocate-left-block">
                                                    <div class="form-group assetadd-allocateinfo-tabs">
                                                        <label for="AssetAllocate-Location">Location</label>
                                                        <select name="AssetAllocate-Location" class="AssetAllocate-Location form-control form-select" id="AssetAllocate-Location">
                                                            <option value="" disabled selected hidden>Select Location</option>

                                                            @foreach (var location in locations)
                                                            {
                                                                var isLocationSelected = location == Model.EditAssets.Location ? "selected" : "";
                                                                <option value="@location" @isLocationSelected>@location</option>
                                                            }

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 assetadd-allocate-employee-field">
                                                <div class="col-lg-6 col-md-12 assetadd-allocate-left-block">
                                                    <div class="form-group assetadd-allocateinfo-tabs">
                                                        <label for="AssetAllocate-Employee">Employee</label>
                                                        <select name="AssetAllocate-Employee" class="AssetAllocate-Employee form-control form-select" id="AssetAllocate-Employee">
                                                            <option value="" disabled selected hidden>Select Employee</option>

                                                            @foreach (var emp in Model.Employees)
                                                            {
                                                                var isEmployeeSelected = emp.EmployeeName == Model.EditAssets.AllocatedEmployeeName ? "selected" : "";
                                                                <option value="@emp.EmployeeName" @isEmployeeSelected>@emp.EmployeeName</option>
                                                            }


                                                            <option value="222">dfds</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 col-md-12 assetadd-allocate-right-block">
                                                    <input type="checkbox" class="form-control" name="AssetAllocate-AcknowledgeEmail" id="AssetAllocate-AcknowledgeEmail" value="Send Acknowledge Email">
                                                    <span class="AssetAllocate-AcknowledgeEmail">Send Acknowledge Email</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="col-lg-6 col-md-12 assetadd-allocate-left-block">
                                                    <div class="form-group assetadd-allocateinfo-tabs">
                                                        <label for="AssetAllocate-AssignedBy">Assigned By</label>
                                                        <select name="AssetAllocate-AssignedBy" class="AssetAllocate-AssignedBy form-control form-select" id="AssetAllocate-AssignedBy">
                                                            <option value="" disabled selected hidden>Select Name</option>
                                                            @foreach (var deptEmp in Model.Employees.Where(e => e.Department == "IT"))
                                                            {
                                                                var selected = !string.IsNullOrEmpty(Model.EditAssets?.AssignedBy) && (Model.EditAssets.AssignedBy == deptEmp.EmployeeName) ? "selected" : "";
                                                                <option value="@deptEmp.EmployeeName" @selected>@deptEmp.EmployeeName</option>
                                                            }

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="col-lg-6 col-md-12 assetadd-allocate-left-block">
                                                    <div class="form-group assetadd-allocateinfo-tabs">
                                                        <label for="AssetAllocate-AssignedDate">Assigned Date</label>
                                                        @if (Model.EditAssets.AssignedDate != DateTime.MinValue)
                                                        {
                                                            @Html.TextBoxFor(m => m.EditAssets.AssignedDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "AssetAllocate-AssignedDate" })
                                                        }
                                                        else
                                                        {
                                                            <input type="date" class="form-control" id="AssetAllocate-AssignedDate" value="@Model.EditAssets.AssignedDate">
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="col-lg-6 col-md-12 assetadd-allocate-left-block">
                                                    <div class="form-group assetadd-allocateinfo-tabs">
                                                        <label for="AssetAllocate-AllocateStatus">Allocate Status</label>
                                                        <select name="AssetAllocate-AllocateStatus" class="AssetAllocate-AllocateStatus form-control form-select" id="AssetAllocate-AllocateStatus">
                                                            <option value="" disabled selected hidden>Select Status</option>

                                                            @foreach (var assignType in AssignTypes)
                                                            {
                                                                var isAssignTypeSelected = assignType == Model.EditAssets.AllocatedStatus ? "selected" : "";
                                                                <option value="@assignType" @isAssignTypeSelected>@assignType</option>
                                                            }

                                                        </select>
                                                        <div class="invalid-feedback">Allocate Status is required.</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="col-lg-6 col-md-6 assetadd-allocate-left-block">
                                                    <div class="form-group assetadd-allocateinfo-tabs">
                                                        <label for="AssetAllocate-Remarks">Remarks</label>
                                                        <textarea rows="1" class="form-control" id="AssetAllocate-Remarks" AssetAllocate-Remarks" name="AssetAllocate-Remarks">@Model.EditAssets.Remarks</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 text-right">
                                            <button type="button" class="btn assetadd-purchaseinfo-Cancel">Cancel</button>
                                            <button type="button" class="btn btn-primary assetadd-Update-final">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>




                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/z-AssetScript.js"></script>
<script>
    $(document).ready(function () {
        $('#AssetAllocate-Employee').select2();
        $("#AssetImage").change(function (e) {
            for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
                var file = e.originalEvent.srcElement.files[i];
                var img = document.createElement("img");
                var reader = new FileReader();
                reader.onloadend = function () {
                    img.src = reader.result;
                }
                reader.readAsDataURL(file);
                $("#AssetImage").after(img);
                $(".admin-asset-add .AssetType-block .upload-btn-wrapper img").after("<span class='uploaded-image-close'><i class='fa fa-times-circle' aria-hidden='true'></i></span>");
            }
        });

        $("#AssetImage-1").change(function (e) {
            for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
                var file = e.originalEvent.srcElement.files[i];
                var img = document.createElement("img");
                var reader = new FileReader();
                reader.onloadend = function () {
                    img.src = reader.result;
                }
                reader.readAsDataURL(file);
                $("#AssetImage-1").after(img);
                $(".admin-asset-add .AssetType-block-1 .upload-btn-wrapper img").after("<span class='uploaded-image-close-1'><i class='fa fa-times-circle' aria-hidden='true'></i></span>");
            }
        });

        $("#AssetImage-2").change(function (e) {
            for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
                var file = e.originalEvent.srcElement.files[i];
                var img = document.createElement("img");
                var reader = new FileReader();
                reader.onloadend = function () {
                    img.src = reader.result;
                }
                reader.readAsDataURL(file);
                $("#AssetImage-2").after(img);
                $(".admin-asset-add .AssetType-block-2 .upload-btn-wrapper img").after("<span class='uploaded-image-close-2'><i class='fa fa-times-circle' aria-hidden='true'></i></span>");
            }
        });

        $("#AssetImage-3").change(function (e) {
            for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
                var file = e.originalEvent.srcElement.files[i];
                var img = document.createElement("img");
                var reader = new FileReader();
                reader.onloadend = function () {
                    img.src = reader.result;
                }
                reader.readAsDataURL(file);
                $("#AssetImage-3").after(img);
                $(".admin-asset-add .AssetType-block-3 .upload-btn-wrapper img").after("<span class='uploaded-image-close-3'><i class='fa fa-times-circle' aria-hidden='true'></i></span>");
            }
        });

        $(document).on("click", ".uploaded-image-close", function () {
            $(".admin-asset-add .upload-btn-wrapper img").remove();
            $(".admin-asset-add .upload-btn-wrapper .uploaded-image-close").remove();
        });

        $(document).on("click", ".uploaded-image-close-1", function () {
            $(".admin-asset-add .AssetType-block-1 .upload-btn-wrapper img").remove();
            $(".admin-asset-add .AssetType-block-1 .upload-btn-wrapper .uploaded-image-close-1").remove();
        });

        $(document).on("click", ".uploaded-image-close-2", function () {
            $(".admin-asset-add .AssetType-block-2 .upload-btn-wrapper img").remove();
            $(".admin-asset-add .AssetType-block-2 .upload-btn-wrapper .uploaded-image-close-2").remove();
        });

        $(document).on("click", ".uploaded-image-close", function () {
            $(".admin-asset-add .AssetType-block-3 .upload-btn-wrapper img").remove();
            $(".admin-asset-add .AssetType-block-3 .upload-btn-wrapper .uploaded-image-close-3").remove();
        });

    });

    function handleAssetFileUpload(input) {
        var fileName = input.files[0].name;
        $('#assetadd-uploaded-file-info').show();
        $('#assetadd-uploaded-file-text').text(fileName);
    }



    $(document).ready(function () {
        $('.saveandnext').click(function (e) {
            e.preventDefault();
            let isValid = true;

            // Asset ID validation
            const assetID = $('#AssetID');
            if (assetID.val().trim() === "") {
                assetID.addClass('is-invalid');
                isValid = false;
            } else {
                assetID.removeClass('is-invalid');
            }

            // Manufacture validation
            const manufacture = $('#AssetManufacture');
            if (manufacture.val().trim() === "") {
                manufacture.addClass('is-invalid');
                isValid = false;
            } else {
                manufacture.removeClass('is-invalid');
            }

            // Model validation
            const model = $('#AssetModel');
            if (model.val().trim() === "") {
                model.addClass('is-invalid');
                isValid = false;
            } else {
                model.removeClass('is-invalid');
            }

            // Warranty Start Date validation
            const warrentyStartDate = $('#AssetWarrentyStartDate');
            if (warrentyStartDate.val() === "") {
                warrentyStartDate.addClass('is-invalid');
                isValid = false;
            } else {
                warrentyStartDate.removeClass('is-invalid');
            }

            // Warranty End Date validation
            const warrentyEndDate = $('#AssetWarrentyEndDate');
            if (warrentyEndDate.val() === "") {
                warrentyEndDate.addClass('is-invalid');
                isValid = false;
            } else {
                warrentyEndDate.removeClass('is-invalid');
            }


            // Warranty End Date validation
            const assetType = $('#AssetType');
            if (assetType.val() === "" || assetType.val() == null) {
                assetType.addClass('is-invalid');
                isValid = false;
            } else {
                assetType.removeClass('is-invalid');
            }
            const assetImage = $('#AssetImage');
            if (assetImage.val() === "") {
                assetImage.addClass('is-invalid');
                isValid = false;
            } else {
                assetImage.removeClass('is-invalid');
            }

            const assetType1 = $('#AssetType-1');
            if (assetType1.val() === null || assetType1.val() === "") {
                assetType1.addClass('is-invalid');
                isValid = false;
            } else {
                assetType1.removeClass('is-invalid');
            }
            const assetImage1 = $('#AssetImage-1');
            if (assetImage1.val() === "") {
                assetImage1.addClass('is-invalid');
                isValid = false;
            } else {
                assetImage1.removeClass('is-invalid');
            }


            const assetType2 = $('#AssetType-2');
            if (assetType2.val() == null || assetType2.val() === "") {
                assetType2.addClass('is-invalid');
                isValid = false;
            } else {
                assetType2.removeClass('is-invalid');
            }
            const assetImage2 = $('#AssetImage-2');
            if (assetImage2.val() === "") {
                assetImage2.addClass('is-invalid');
                isValid = false;
            } else {
                assetImage2.removeClass('is-invalid');
            }


            const assetType3 = $('#AssetType-3');
            if (assetType3.val() == null || assetType3.val() === "") {
                assetType3.addClass('is-invalid');
                isValid = false;
            } else {
                assetType3.removeClass('is-invalid');
            }
            const assetImage3 = $('#AssetImage-3');
            if (assetImage3.val() === "") {
                assetImage3.addClass('is-invalid');
                isValid = false;
            } else {
                assetImage3.removeClass('is-invalid');
            }

            const mainImage = $('#assetadd-file-upload-input');
            if (mainImage.val() === "") {
                mainImage.addClass('is-invalid');
                isValid = false;
            } else {
                mainImage.removeClass('is-invalid');
            }

            isValid = true;
            // If form is valid, submit it
            if (isValid) {
                $('#tab2-link').click();
            } else {
                // Handle error, show a message or focus the first invalid element
                $('html, body').animate({ scrollTop: $('.is-invalid:first').offset().top - 50 }, 500);
            }
        });
        $('.assetadd-purchaseinfo-Update').click(function (e) {
            e.preventDefault();
            $('#tab3-link').click();
        });

        $('.assetadd-Update-final').click(function (e) {
            e.preventDefault();
            isValid = true;

            const AllocateStatus = $('#AssetAllocate-AllocateStatus');
            if (AllocateStatus.val() == null || AllocateStatus.val() === "") {
                AllocateStatus.addClass('is-invalid');
                isValid = false;
            } else {
                AllocateStatus.removeClass('is-invalid');
            }

            if (!isValid) {
                return;
            }


            // Create a new FormData object
            var formData = new FormData();

            var assetID = $('#AssetID').val();
            formData.append('AssetID', assetID);

            var assetType = $('#AssetType').val();
            formData.append('AssetType', assetType);

            var fileInput1 = $('#AssetImage')[0].files[0];
            formData.append('AssetImage', fileInput1);

            var assetType1 = $('#AssetType-1').val();
            formData.append('AssetType-1', assetType1);
            var fileInput2 = $('#AssetImage-1')[0].files[0];
            formData.append('AssetImage-1', fileInput2);


            var assetType2 = $('#AssetType-2').val();
            formData.append('AssetType-2', assetType2);
            var fileInput3 = $('#AssetImage-2')[0].files[0];
            formData.append('AssetImage-2', fileInput3);


            var assetType3 = $('#AssetType-3').val();
            formData.append('AssetType-3', assetType3);

            var fileInput4 = $('#AssetImage-3')[0].files[0];
            formData.append('AssetImage-3', fileInput4);

            var mainImage = $('#assetadd-file-upload-input')[0].files[0];
            formData.append('MainImage', mainImage);

            var manufacture = $('#AssetManufacture').val();
            formData.append('AssetManufacture', manufacture);

            var model = $('#AssetModel').val();
            formData.append('AssetModel', model);

            var barcode = $('#AssetBarcode').val();
            formData.append('AssetBarcode', barcode);

            var ram = $('#AssetRAM').val();
            formData.append('AssetRAM', ram);

            var warrantyStartDate = $('#AssetWarrentyStartDate').val();
            formData.append('AssetWarrentyStartDate', warrantyStartDate);

            var warrantyEndDate = $('#AssetWarrentyEndDate').val();
            formData.append('AssetWarrentyEndDate', warrantyEndDate);


            var vendorName = $('#AssetPurchase-Vendorname').val();
            formData.append('AssetPurchase-Vendorname', vendorName);

            var poNumber = $('#AssetPurchase-PONumber').val();
            formData.append('AssetPurchase-PONumber', poNumber);

            var purchaseDate = $('#AssetPurchase-PurchaseDate').val();
            formData.append('AssetPurchase-PurchaseDate', purchaseDate);

            var invoiceDate = $('#AssetPurchase-InvoiceDate').val();
            formData.append('AssetPurchase-InvoiceDate', invoiceDate);

            var location = $('#AssetAllocate-Location').val();
            formData.append('AssetAllocate-Location', location);

            var employee = $('#AssetAllocate-Employee').val();
            formData.append('AssetAllocate-Employee', employee);

            var acknowledgeEmail = $('#AssetAllocate-AcknowledgeEmail').is(':checked') ? 'Yes' : 'No';
            formData.append('AssetAllocate-AcknowledgeEmail', acknowledgeEmail);

            var assignedBy = $('#AssetAllocate-AssignedBy').val();
            formData.append('AssetAllocate-AssignedBy', assignedBy);

            var assignedDate = $('#AssetAllocate-AssignedDate').val();
            formData.append('AssetAllocate-AssignedDate', assignedDate);

            var allocateStatus = $('#AssetAllocate-AllocateStatus').val();
            formData.append('AssetAllocate-AllocateStatus', allocateStatus);

            var remarks = $('#AssetAllocate-Remarks').val();
            formData.append('AssetAllocate-Remarks', remarks);


            // Send formData via AJAX
            $.ajax({
                url: '/asset/addassetallocation',  // Replace with your actual upload URL
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    // Handle success
                    console.log('Form submitted successfully:', response);
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.error('Error submitting form:', error);
                }
            });
        });



    });

</script>
