@model HRMS.Models.ITsupport.AssetModel

@{
    ViewBag.Title = "AssetViewInfo";
}
<style>

    .person {
        border: 1px solid #ccc;
        padding: 10px;
        min-width: 150px;
        background-color: #FFFFFF;
        display: inline-block;
    }

    .person.female {
        @*border-color: #F45B69;*@
    }

    .person.male {
        @*border-color: #456990;*@
    }

    .person div {
        text-align: center;
    }

    .person .name {
        font-size: 10px;
    }

    .person .parentDrop, .person .spouseDrop, .person .childDrop {
        border: 1px dashed #000000;
        width: auto;
        min-width: 80px;
        min-height: 80px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding-top: 15px;
    }

    .person .parentDrop > span,
    .person .spouseDrop > span,
    .person .childDrop > span {
        position: absolute;
        top: 2px;
        left: 2px;
        font-weight: bold;
    }

    .parentDrop > .person,
    .spouseDrop > .person,
    .childDrop > .person {
        margin-top: 20px;
    }

    /* Tree */
    .tree ul {
        padding-top: 20px;
        position: relative;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        padding: 20px 0px 0px 0px;
    }

    .tree li {
        display: table-cell;
        text-align: center;
        list-style-type: none;
        position: relative;
        padding: 20px 5px 0 5px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }

    /*We will use ::before and ::after to draw the connectors*/
    .tree li::before, .tree li::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border-top: 1px solid #ccc;
        width: 50%;
        height: 20px;
    }

    .tree li::after {
        right: auto;
        left: 50%;
        border-left: 1px solid #ccc;
    }

    .tree li:only-child::after, .tree li:only-child::before {
        display: none;
    }

    .tree li:only-child {
        padding-top: 0;
    }

    .tree li:first-child::before, .tree li:last-child::after {
        border: 0 none;
    }
    /*Adding back the vertical connector to the last nodes*/
    .tree li:last-child::before {
        border-right: 1px solid #ccc;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
    }

    .tree li:first-child::after {
        border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
    }

    /*Time to add downward connectors from parents*/
    .tree ul ul::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        border-left: 1px solid #ccc;
        width: 0;
        height: 20px;
    }

    .tree li .parent {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        margin-top: 10px;
    }

    .tree li .parent::before {
        content: '';
        position: absolute;
        top: 40px;
        left: 50%;
        @*border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;*@
        width: 3px;
        height: 10px;
    }

    .tree li .family {
        position: relative;
    }

    .tree li .family .spouse {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: 95px;
    }

    .tree li .family .spouse::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -10px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        width: 10px;
        height: 3px;
    }


    .tree li .child:hover,
    .tree li .child:hover + .parent .person,
    .tree li .parent .person:hover,
    .tree li .child:hover + .parent .person + ul li .child,
    .tree li .parent .person:hover + ul li .child,
    .tree li .child:hover + .parent .person + ul li .parent .person,
    .tree li .parent .person:hover + ul li .parent .person {
        @*background: #c8e4f8;
        color: #000;
        border: 1px solid #94a0b4;*@
    }
    /*Connector styles on hover*/
    .tree li .child:hover + .parent::before,
    .tree li .child:hover + .parent .person + ul li::after,
    .tree li .parent .person:hover + ul li::after,
    .tree li .child:hover + .parent .person + ul li::before,
    .tree li .parent .person:hover + ul li::before,
    .tree li .child:hover + .parent .person + ul::before,
    .tree li .parent .person:hover + ul::before,
    .tree li .child:hover + .parent .person + ul ul::before,
    .tree li .parent .person:hover + ul ul::before {
        @*border-color: #94a0b4;*@
    }
</style>
@Html.Partial("_NavBar")
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid assetView-tab" style="width: 84%">
        <div class="content admin-assetview-container">
            <div class="admin-asset-view">
                <div class="container-fluid top admin-assetview">
                    <div class="row navbar align-items-center mt-2">
                        <h4 class="header mb-0 text-right">@Model.EditAssets.AssetID</h4>
                    </div>

                    <div class="assetview-tab-info">
                        <ul class="nav nav-tabs res-admin-assetview-tabs responsive-tabs" id="assetviewTab" role="tablist" style="font-size: 15px; width: 100%;">
                            <li class="nav-item active" role="presentation">
                                <a class="nav-link active" id="tab1-link" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true"><b>Asset Information</b></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tab2-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><b>Purchase Information</b></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tab3-link" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><b>Allocate Information</b></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tab4-link" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false"><b>Asset Transfer</b></a>
                            </li>
                            <i class="fa fa-caret-up"></i>
                            <i class="fa fa-caret-down"></i>
                        </ul>
                    </div>

                    <div class="tab-content" id="assetview-TabContent">
                        <!-- Asset Info Tab -->
                        <div class="tab-pane fade assetview-assetinformation show active" id="tab1" role="tabpanel" aria-labelledby="tab1-link">
                            <div class="container" style="margin-left: 5px">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group assetview-assetinformation-tabs">
                                            <label for="AssetInformation-AssetType">Asset Type</label>
                                            <div>
                                                @{
                                                    var assets = "";
                                                }

                                                @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType1) && !string.IsNullOrWhiteSpace(Model.EditAssets.AssetSerialNo1))
                                                {
                                                    assets += Model.EditAssets.AssetType1 + " : " + Model.EditAssets.AssetSerialNo1 + ", ";
                                                }

                                                @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType2) && !string.IsNullOrWhiteSpace(Model.EditAssets.AssetSerialNo2))
                                                {
                                                    assets += Model.EditAssets.AssetType2 + " : " + Model.EditAssets.AssetSerialNo2 + ", ";
                                                }

                                                @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType3) && !string.IsNullOrWhiteSpace(Model.EditAssets.AssetSerialNo3))
                                                {
                                                    assets += Model.EditAssets.AssetType3 + " : " + Model.EditAssets.AssetSerialNo3 + ", ";
                                                }
                                                @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType4) && !string.IsNullOrWhiteSpace(Model.EditAssets.AssetSerialNo4))
                                                {
                                                    assets += Model.EditAssets.AssetType4 + " : " + Model.EditAssets.AssetSerialNo4 + ", ";
                                                }

                                                @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType5) && !string.IsNullOrWhiteSpace(Model.EditAssets.AssetSerialNo5))
                                                {
                                                    assets += Model.EditAssets.AssetType5 + " : " + Model.EditAssets.AssetSerialNo5 + ", ";
                                                }
                                                @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType6) && !string.IsNullOrWhiteSpace(Model.EditAssets.AssetSerialNo6))
                                                {
                                                    assets += Model.EditAssets.AssetType6 + " : " + Model.EditAssets.AssetSerialNo6 + ", ";
                                                }
                                                @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType7) && !string.IsNullOrWhiteSpace(Model.EditAssets.AssetSerialNo7))
                                                {
                                                    assets += Model.EditAssets.AssetType7 + " : " + Model.EditAssets.AssetSerialNo7 + ", ";
                                                }

                                                @assets.TrimEnd(',')
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-md-3">
                                        <div class="form-group assetview-assetinformation-tabs">
                                            <label for="AssetInformation-Manufacture">Manufacture</label>
                                            <div>@Model.EditAssets.Manufacturer</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-3">
                                        <div class="form-group assetview-assetinformation-tabs">
                                            <label for="AssetInformation-Model">Model</label>
                                            <div>@Model.EditAssets.Model</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-3">
                                        <div class="form-group assetview-assetinformation-tabs">
                                            <label for="AssetInformation-BarCode">BarCode</label>
                                            <div>@Model.EditAssets.BarCode</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-3">
                                        <div class="form-group assetview-assetinformation-tabs">
                                            <label for="AssetInformation-RAM">RAM</label>
                                            <div>@Model.EditAssets.RAM</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-3">
                                        <div class="form-group assetview-assetinformation-tabs">
                                            <label for="AssetInformation-WarrentyStartDate">Warrenty Start Date</label>
                                            <div>@Model.EditAssets.WarrantyStartDate.Value.ToString("yyyy-MM-dd")</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-3">
                                        <div class="form-group assetview-assetinformation-tabs">
                                            <label for="AssetInformation-WarrentyEndDate">Warrenty End Date</label>
                                            <div>@Model.EditAssets.WarrantyEndDate.Value.ToString("yyyy-MM-dd")</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Purchase Info Tab -->
                        <div class="tab-pane fade assetview-purchaseinfo-details" id="tab2" role="tabpanel" aria-labelledby="tab2-link">
                            <div class="container" style="margin-left: 5px">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3">
                                        <div class="form-group assetview-purchaseinfo-tabs">
                                            <label for="AssetPurchase-VendorName">Vendor Name</label>
                                            @if (Model.VendorInfo != null)
                                            {
                                                <div>@Model.VendorInfo.VendorName</div>
                                            }

                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-3">
                                        <div class="form-group assetview-purchaseinfo-tabs">
                                            <label for="AssetPurchase-PONumber">PO Number</label>
                                            <div>@Model.EditAssets.PONumber</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-3">
                                        <div class="form-group assetview-purchaseinfo-tabs">
                                            <label for="AssetPurchase-PurcahseDate">Purchase Date</label>
                                            @if (Model.EditAssets.PurchaseDate != null && Model.EditAssets.PurchaseDate.HasValue)
                                            {
                                                <div>@Model.EditAssets.PurchaseDate.Value.ToString("yyyy-MM-dd")</div>
                                            }

                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-3">
                                        <div class="form-group assetview-purchaseinfo-tabs">
                                            <label for="AssetPurchase-InvoiceDate">Invoice Date</label>
                                            @if (Model.EditAssets.InvoiceDate != null && Model.EditAssets.InvoiceDate.HasValue)
                                            {
                                                <div>@Model.EditAssets.InvoiceDate.Value.ToString("yyyy-MM-dd")</div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade assetview-allocateinfo-details" id="tab3" role="tabpanel" aria-labelledby="tab3-link">
                            <div class="container" style="margin-left: 5px">
                                <div class="tree-structure">

                                    <div class="tree">
                                        <ul>
                                            <li>
                                                <div class="family">
                                                    <div class="parent">
                                                        <div class="person female" style="border: none;">
                                                            <div class="name allocate-details tree-root">
                                                                @if (Model.AllocatedEmpInfo != null)
                                                                {
                                                                    <img src="/assets/empimages/@Model.AllocatedEmpInfo.imagepath">
                                                                    <div class="user-info">
                                                                        <div class="user-name">@Model.AllocatedEmpInfo.EmployeeName @Model.AllocatedEmpInfo.EmployeeID</div>
                                                                        <div class="user-designation">@Model.AllocatedEmpInfo.Designation</div>
                                                                        <div class="user-location">Location: @Model.AllocatedEmpInfo.Location</div>
                                                                    </div>
                                                                }

                                                            </div>
                                                        </div>
                                                        <ul>

                                                            @{
                                                                var assetFolderID = Model.EditAssets.AssetID.Split('#')[1];
                                                                var assetImageURL = @System.Configuration.ConfigurationManager.AppSettings["TicketingAbsolutePath"] + "/assets/" + assetFolderID + "/";
                                                            }

                                                            @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType1) && !string.IsNullOrWhiteSpace(Model.EditAssets.AssetSerialNo1))
                                                            {
                                                                <li>
                                                                    <div class="family" style="width: 172px">
                                                                        <div class="person child male">
                                                                            <div class="name allocate-details tree-child">
                                                                                <img src="@assetImageURL/@Model.EditAssets.AssetType1Image">
                                                                                <div class="allocate-info">
                                                                                    <div class="model"><span>Type</span> @Model.EditAssets.AssetType1 @Model.EditAssets.AssetSerialNo1</div>
                                                                                    <div class="allocatedby"><span>Allocated By</span> @Model.EditAssets.AssignedBy</div>
                                                                                    <div class="allocateddate"><span>Allocated Date</span> @Model.EditAssets.AssignedDate.Value.ToString("yyyy-MM-dd")</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            }

                                                            @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType2) && !string.IsNullOrWhiteSpace(Model.EditAssets.AssetSerialNo2))
                                                            {
                                                                <li>
                                                                    <div class="family" style="width: 172px">
                                                                        <div class="person child female">
                                                                            <div class="name allocate-details tree-child">
                                                                                <img src="@assetImageURL/@Model.EditAssets.AssetType2Image">
                                                                                <div class="allocate-info">
                                                                                    <div class="model"><span>Type</span> @Model.EditAssets.AssetType2 @Model.EditAssets.AssetSerialNo2</div>
                                                                                    <div class="allocatedby"><span>Allocated By</span> @Model.EditAssets.AssignedBy</div>
                                                                                    <div class="allocateddate"><span>Allocated Date</span> @Model.EditAssets.AssignedDate.Value.ToString("yyyy-MM-dd")</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            }
                                                            @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType3) && !string.IsNullOrWhiteSpace(Model.EditAssets.AssetSerialNo3))
                                                            {
                                                                <li>
                                                                    <div class="family" style="width: 172px">
                                                                        <div class="person child female">
                                                                            <div class="name allocate-details tree-child">
                                                                                <img src="@assetImageURL/@Model.EditAssets.AssetType3Image">
                                                                                <div class="allocate-info">
                                                                                    <div class="model"><span>Type</span> @Model.EditAssets.AssetType3 @Model.EditAssets.AssetSerialNo3</div>
                                                                                    <div class="allocatedby"><span>Allocated By</span> @Model.EditAssets.AssignedBy</div>
                                                                                    <div class="allocateddate"><span>Allocated Date</span> @Model.EditAssets.AssignedDate.Value.ToString("yyyy-MM-dd")</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            }
                                                            @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType4) && !string.IsNullOrWhiteSpace(Model.EditAssets.AssetSerialNo4))
                                                            {
                                                                <li>
                                                                    <div class="family" style="width: 172px">
                                                                        <div class="person child female">
                                                                            <div class="name allocate-details tree-child">
                                                                                <img src="@assetImageURL/@Model.EditAssets.AssetType4Image">
                                                                                <div class="allocate-info">
                                                                                    <div class="model"><span>Type</span> @Model.EditAssets.AssetType4 @Model.EditAssets.AssetSerialNo4</div>
                                                                                    <div class="allocatedby"><span>Allocated By</span> @Model.EditAssets.AssignedBy</div>
                                                                                    <div class="allocateddate"><span>Allocated Date</span> @Model.EditAssets.AssignedDate.Value.ToString("yyyy-MM-dd")</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            }
                                                            @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType5) && !string.IsNullOrWhiteSpace(Model.EditAssets.AssetSerialNo5))
                                                            {
                                                                <li>
                                                                    <div class="family" style="width: 172px">
                                                                        <div class="person child female">
                                                                            <div class="name allocate-details tree-child">
                                                                                <img src="@assetImageURL/@Model.EditAssets.AssetType5Image">
                                                                                <div class="allocate-info">
                                                                                    <div class="model"><span>Type</span> @Model.EditAssets.AssetType5 @Model.EditAssets.AssetSerialNo5</div>
                                                                                    <div class="allocatedby"><span>Allocated By</span> @Model.EditAssets.AssignedBy</div>
                                                                                    <div class="allocateddate"><span>Allocated Date</span> @Model.EditAssets.AssignedDate.Value.ToString("yyyy-MM-dd")</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            }

                                                            @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType6) && !string.IsNullOrWhiteSpace(Model.EditAssets.AssetSerialNo6))
                                                            {
                                                                <li>
                                                                    <div class="family" style="width: 172px">
                                                                        <div class="person child female">
                                                                            <div class="name allocate-details tree-child">
                                                                                <img src="@assetImageURL/@Model.EditAssets.AssetType6Image">
                                                                                <div class="allocate-info">
                                                                                    <div class="model"><span>Type</span> @Model.EditAssets.AssetType6 @Model.EditAssets.AssetSerialNo6</div>
                                                                                    <div class="allocatedby"><span>Allocated By</span> @Model.EditAssets.AssignedBy</div>
                                                                                    <div class="allocateddate"><span>Allocated Date</span> @Model.EditAssets.AssignedDate.Value.ToString("yyyy-MM-dd")</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            }

                                                            @if (!string.IsNullOrWhiteSpace(Model.EditAssets.AssetType7) && !string.IsNullOrWhiteSpace(Model.EditAssets.AssetSerialNo7))
                                                            {
                                                                <li>
                                                                    <div class="family" style="width: 172px">
                                                                        <div class="person child female">
                                                                            <div class="name allocate-details tree-child">
                                                                                <img src="@assetImageURL/@Model.EditAssets.AssetType7Image">
                                                                                <div class="allocate-info">
                                                                                    <div class="model"><span>Type</span> @Model.EditAssets.AssetType7 @Model.EditAssets.AssetSerialNo7</div>
                                                                                    <div class="allocatedby"><span>Allocated By</span> @Model.EditAssets.AssignedBy</div>
                                                                                    <div class="allocateddate"><span>Allocated Date</span> @Model.EditAssets.AssignedDate.Value.ToString("yyyy-MM-dd")</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- Asset Transfer Tab -->
                        <div class="tab-pane fade assetview-assettransfer-details" id="tab4" role="tabpanel" aria-labelledby="tab4-link">
                            <div class="container" style="margin-left: 5px">

                                @foreach (var assetTransfer in Model.AssetTransfers.OrderByDescending(x => x.CreatedDate))
                                {
                                    var assetTransferEmp = Model.AssetTransferEmployees.Where(x => x.EmployeeID == assetTransfer.AllocatedEmpID).FirstOrDefault();
                                    var empImage = "/assets/EmpImages/" + assetTransferEmp.imagepath;
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 profile-pic">
                                            <div class="form-group assetview-assettransfer-tabs">
                                                <img src="@empImage">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <div class="form-group assetview-assettransfer-tabs">
                                                <label for="AssetTransfer-PONumber">@assetTransfer.AllocatedEmpName</label>
                                                <div>@assetTransferEmp.Designation</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3">
                                            <div class="form-group assetview-assettransfer-tabs">
                                                <label for="AssetTransfer-PONumber">Location</label>
                                                <div>@assetTransfer.Location</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3">
                                            <div class="form-group assetview-assettransfer-tabs">
                                                <label for="AssetTransfer-PONumber">Assigned Date</label>
                                                <div>@assetTransfer.AssignedDate.Value.ToString("yyyy-MM-dd")</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3">
                                            <div class="form-group assetview-assettransfer-tabs">
                                                <label for="AssetTransfer-PONumber">Assigned By</label>
                                                <div>@assetTransfer.AssignedByName</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="vertical-line"></div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

