@model HRMS.Models.ITsupport.AssetListModel

@Html.Partial("_NavBar")

<style>
</style>
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid assetinfo-tab" style="width: 84%">
        <div class="content admin-assetinfo-container" style="margin-left: -10px; ">
            <div class="admin-assetinfo-view">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-6 col-12 pl-3 asset-list-header">
                            <div class="card">
                                <div class="row">
                                    <div class="col-lg-2 d-flex assetlist_cardset">
                                        <div class="icon_assetlist icon1">
                                            @*<i class="fa-solid fa-laptop" style="font-size:17px;"></i>*@
                                            <img src="~/Assets/asset-icon-1.png">
                                        </div>
                                        <div class="asset_listdetails_card">
                                            <p class="asset_itemslist">Total Asset</p>
                                            <p class="asset_totallist">@Model.TotalAssets</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 d-flex assetlist_cardset">
                                        <div class="icon_assetlist icon2">
                                            @*<i class="fa-solid fa-laptop" style="font-size:17px;"></i>*@
                                            <img src="~/Assets/asset-icon-2.png">
                                        </div>
                                        <div class="asset_listdetails_card">
                                            <p class="asset_itemslist">Asset In Use</p>
                                            <p class="asset_totallist">@Model.AssetsInUse</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 d-flex assetlist_cardset">
                                        <div class="icon_assetlist icon3">
                                            @*<i class="fa-solid fa-laptop" style="font-size:17px;"></i>*@
                                            <img src="~/Assets/asset-icon-3.png">
                                        </div>
                                        <div class="asset_listdetails_card">
                                            <p class="asset_itemslist"> Asset In Scrap</p>
                                            <p class="asset_totallist">@Model.AssetsInScrap</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 d-flex assetlist_cardset">
                                        <div class="icon_assetlist icon4">
                                            @*<i class="fa-solid fa-laptop" style="font-size:17px;"></i>*@
                                            <img src="~/Assets/asset-icon-4.png">
                                        </div>
                                        <div class="asset_listdetails_card">
                                            <p class="asset_itemslist">Hyd Asset</p>
                                            <p class="asset_totallist">@Model.HydAssets</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 d-flex assetlist_cardset">
                                        <div class="icon_assetlist icon4">
                                            @*<i class="fa-solid fa-laptop" style="font-size:17px;"></i>*@
                                            <img src="~/Assets/asset-icon-5.png">
                                        </div>
                                        <div class="asset_listdetails_card">
                                            <p class="asset_itemslist">Mdu Asset</p>
                                            <p class="asset_totallist">@Model.MaduraiAssets</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="col-lg-6 col-sm-12 col-md-6 col-12 pl-4">
                                <div class="card">
                                    <p style="margin-top:10px;">Asset Type</p>
                                    <div class=" chart-legend-container">
                                        <div id="piechart" style="height:172px;"></div>
                                        <div id="legend"></div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="container-fluid top admin-assetinfoview">
                    <div class="row navbar align-items-center">
                        <!-- asset column -->
                        <div class="col-lg-2 col-md-5 topic d-flex res-admin-title">
                            <h4 class="header mb-0 text-right">Asset List</h4>
                        </div>
                        <!-- Search box -->
                        <div class="col-xl-4 col-lg-6 navbarl1 col-sm-12 col-md-7 res-admin-assetinfo-search">
                            <div class="search-container">
                                <div class="input-group" style="border-radius: 20px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="background-color: transparent; border-right: none; border-radius: 5px 0 0 5px; height: 35px;"><i class="fas fa-search" style="color: #369479"></i></span>
                                    </div>
                                    <input type="text" placeholder="Search By Keyword" class="assetinfo-advancesearch form-control" aria-label="Search By Keyword" style="border-radius: 0 5px 5px 0; height: 35px; font-size: 14px;">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-5 col-lg-5 navbarl1 col-sm-12 col-md-7 res-admin-assetinfo-header-right">
                            <div class="col-xl-4 col-lg-4 navbarl1 col-sm-4 col-xs-12 col-md-4 res-admin-assetinfo-status p-0">
                                <div class="form-group res-assetinfo p-0">
                                    <select class="form-control form-select" name="assetinfostatus" id="assetinfo-status-dropdown" style="">
                                        <option value="" disabled selected>Allocate Status</option>
                                        <option value="Assigned">Assigned</option>
                                        <option value="Un-Assigned">Un-Assigned</option>
                                        <option value="Scrap">Scrap</option>
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2  navbarl1 col-sm-2 col-md-2 res-admin-assetinfo-export p-0 text-right">
                                <div class="adminassetinfo-export" style="">
                                    <button type="button" class="btn assetinfo-export-btn pt-0" id="exportAssetinfo" onclick="exportAssetinfo()">
                                        <span class="assetinfo-export"><img src="/assets/Export.png" alt="Export" style=""></span>
                                    </button>
                                </div>
                            </div>
                            <!-- Add asset dropdown -->
                            <div class="col-lg-5 navbarl1 col-sm-6 col-md-6 res-admin-assetinfo-add text-right">
                                <div class="addingassetinfo form-group">
                                    <select name="addasset" class="addasset form-control form-select" id="addassetinfo">
                                        <option value="" disabled="" selected="" hidden="">Add Asset</option>
                                        <option value="Addmanually" class="assetManually">+ Manually</option>
                                        <option value="BulkAsset" class="assetBulk">+ Bulk</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admin-assetinfo-action-block">
                    <select class="form-control ml-2" name="action" id="action" style="display: none;">
                        <option value="" selected>Action</option>
                        <option value="export">Export</option>
                    </select>
                </div>

                <div class="res-admin-assetinfo-table table-responsive">
                    <table id="adminassetinfotable" class="display" style="width: 100%;">
                        <thead style="background-color: #d8e6fb; border-radius: 10px;">
                            <tr>
                                <th><input type="checkbox" id="Assetlist-selectAll"></th>
                                <th>Asset ID</th>
                                <th>Allocated To</th>
                                <th>Location</th>
                                <th>Allocate Status</th>
                                <th>Assigned By</th>
                                <th>Assigned Date</th>
                                <th style="text-align:center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var asset in Model.Assets)
                            {
                                var assetFolderID = asset.AssetID.Split('#')[1];
                                var assetImageURL = "/ticketing/assets/" + assetFolderID + "/" + asset.AssetMainImage;
                                var assignedDate = @asset.AssignedDate.HasValue ? @asset.AssignedDate.Value.ToString("yyy-MM-dd") : "";
                                <tr class="">
                                    <td><input type="checkbox" class="Assetlist-check" data-assetid="@asset.SNo"></td>
                                    <td class="tdassetid"><span class="assetinfo-image-btn"><img src="@assetImageURL" alt="@asset.AssetID" style="width:25px"></span><span class="Asset-id-select" style="margin-left: 5px; color: #3E78CF;">@asset.AssetID</span></td>
                                    <td>1155 @asset.AllocatedEmployeeName</td>
                                    <td class="tdassetlocation">@asset.Location</td>
                                    <td>@asset.AllocatedStatus</td>
                                    <td>@asset.AssignedBy</td>
                                    <td>@assignedDate</td>
                                    <td style="text-align:center;">
                                        <span class="assetinfo-list-edit">
                                            <i class="fas fa-ellipsis-v asset-edit-dropdown" onclick="toggleAssetActionOptions(this)"></i>
                                            <div class="asset-options" style="display:none">
                                                <a class="dropdown-item emp-leave-edit asset-info-view" data-assetid="@asset.SNo">View</a>
                                                <a class="dropdown-item emp-leave-edit asset-info-edit" data-assetid="@asset.SNo">Edit</a>
                                                <a class="dropdown-item emp-leave-cancel asset-info-transfer" data-assetid="@asset.SNo" data-toggle="modal" data-target="#assettransfer-popup">Asset Transfer</a>
                                                <a class="dropdown-item emp-leave-cancel asset-info-delete" data-assetid="@asset.SNo">Delete</a>
                                            </div>
                                        </span>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="assettransfer-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="asset-transfer-popup-details">
                    <div class="asset-transfer-popup-title">AMBC/MDU/#007</div>
                    <div class="asset-transfer-popup-info">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 profile-pic">
                                <div class="form-group assetview-assettransfer-tabs">
                                    <img src="~/Assets/EmpImages/1155.jpeg">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group assetview-assettransfer-tabs">
                                    <label for="AssetTransfer-PONumber">Raj Kumar</label>
                                    <div>Sr. Software Engineer</div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="form-group assetview-assettransfer-tabs">
                                    <label for="AssetTransfer-PONumber">Location</label>
                                    <div>Madurai</div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="form-group assetview-assettransfer-tabs">
                                    <label for="AssetTransfer-PONumber">Assigned Date</label>
                                    <div>10-09-2024</div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="form-group assetview-assettransfer-tabs">
                                    <label for="AssetTransfer-PONumber">Assigned By</label>
                                    <div>Test User</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form id="assettransfer-form" class="admin-assettransfer needs-validation" novalidate>
                        <div class="asset-transfer-popup-subtitle">Asset Transfer To</div>
                        <div class="container" style="margin-left: 5px">
                            <div class="row">
                                <div class="col-lg-9 col-md-6 assettransfer-left-block-main">
                                    <div class="col-lg-12 col-md-12 assettransfer-field-info">
                                        <div class="col-lg-6 col-md-12 assettransfer-left-block">
                                            <div class="form-group assettransfer-tabs">
                                                <label for="AssetTransfer-Location">Location</label>
                                                <select name="AssetTransfer-Location" class="AssetTransfer-Location form-control form-select" id="AssetTransfer-Location">
                                                    <option value="" disabled selected hidden>Select Location</option>
                                                    <option value="1">Test</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 assettransfer-field-info assettransfer-employee-field">
                                        <div class="col-lg-6 col-md-12 assettransfer-left-block">
                                            <div class="form-group assettransfer-tabs">
                                                <label for="AssetTransfer-Employee">Employee</label>
                                                <select name="AssetTransfer-Employee" class="AssetTransfer-Employee form-control form-select" id="AssetTransfer-Employee">
                                                    <option value="" disabled selected hidden>Select Employee</option>
                                                    <option value="222">dfds</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-12 assettransfer-right-block">
                                            <input type="checkbox" class="form-control" name="AssetTransfer-AcknowledgeEmail" id="AssetTransfer-AcknowledgeEmail" value="Send Acknowledge Email">
                                            <span class="AssetTransfer-AcknowledgeEmail">Send Acknowledge Email</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 assettransfer-field-info">
                                        <div class="col-lg-6 col-md-12 assettransfer-left-block">
                                            <div class="form-group assettransfer-tabs">
                                                <label for="AssetTransfer-AssignedBy">Transfer By</label>
                                                <select name="AssetTransfer-AssignedBy" class="AssetTransfer-AssignedBy form-control form-select" id="AssetTransfer-AssignedBy">
                                                    <option value="" disabled selected hidden>Select Name</option>
                                                    <option value="1">Test</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 assettransfer-field-info">
                                        <div class="col-lg-6 col-md-12 assettransfer-left-block">
                                            <div class="form-group assettransfer-tabs">
                                                <label for="AssetTransfer-AssignedDate">Transfer Date</label>
                                                <input type="date" class="form-control" id="AssetTransfer-TransferDate" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 assettransfer-right-block-main">
                                    <div class="assettransfer-file-upload" id="assettransfer-file-upload-area" style="border: 1px solid #ced4da; padding: 20px; text-align: center; border-radius: 5px; margin-top: 23px;">
                                        <label for="assettransfer-file-upload-input" id="assettransfer-file-upload-label" style="cursor: pointer;">
                                            <i class="fas fa-cloud-upload-alt fa-3x" style="color: #ced4da; "></i>
                                        </label>
                                        <input type="file" id="assettransfer-file-upload-input" accept=".jpeg,.png,.jpg" onchange="handleAssetTransferFileUpload(this)" style="display: none;">
                                        <div class="invalid-feedback">required.</div>
                                    </div>
                                    <div class="assettransfer-file-upload-input-label" id="assettransfer-file-upload-input-label">
                                        <label for="assettransfer-file-upload-input-label">Upload File*</label>
                                    </div>
                                    <div class="assettransfer-uploaded-file" id="assettransfer-uploaded-file-info" style="display: none;">
                                        <p style="color: green; font-size: 13px;" id="assettransfer-uploaded-file-text"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 text-right">
                                    <button type="button" class="btn assettransfer-purchaseinfo-Cancel">Cancel</button>
                                    <button type="button" class="btn btn-primary assettransfer-Transfer">Transfer</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/z-AssetScript.js"></script>
<script>
    $(document).ready(function () {
        //$('#AssetTransfer-Employee').select2();
        // Initialize DataTable if not already initialized
        if (!$.fn.DataTable.isDataTable('#adminassetinfotable')) {
            var table = $('#adminassetinfotable').DataTable({
                "responsive": true,
                "paging": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]]
            });
            $('.assetinfo-advancesearch').on('keyup', function () {
                table.search(this.value).draw(); // Perform global search on all columns
            });
        }
    });

    function toggleAssetActionOptions(iconElement) {
        const optionsMenu = $(iconElement).next('.asset-options');
        $('.asset-options').not(optionsMenu).hide(); // Hide any other open menus
        optionsMenu.toggle(); // Toggle visibility of the clicked menu
    }

    function handleAssetTransferFileUpload(input) {
        var fileName = input.files[0].name;
        $('#assettransfer-uploaded-file-info').show();
        $('#assettransfer-uploaded-file-text').text(fileName);
    }

</script>

