@model HRMS.PurchaseRequest

@{
    ViewBag.Title = "PurchaseSuperApprovalView";
}
@Html.Partial("_NavBar")

<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid PurchaseSuperApprovalListPage-View" style="width: 84%">
        <div class="content admin-purchasesuperapproval-container" style="margin-left: -10px; ">
            <div class="admin-purchasesuperapproval-view">
                <div class="container-fluid top admin-purchasesuperapprovalview">
                    <div class="row navbar align-items-center">
                        <!-- Employee column -->
                        <div class="col-lg-4 col-md-7 topic d-flex res-admin-title">
                            <h4 class="header mb-0 text-right">Purchase Request @Model.PRNumber</h4>
                        </div>
                    </div>
                </div>

                <div class="container psa-content-block">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 psa-content-details">
                            <div class="purchasesuperapproval-block psa-1">
                                <div class="col-lg-1 col-md-1 col-sm-1 purchasesuperapproval-block-left">
                                    @{
                                        var vendor1StatusApproved = Model.Vendor1Status == "Approved" ? true : false;
                                        var vendor1Selected = vendor1StatusApproved ? "checked" : "";
                                    }
                                    <input @vendor1Selected data-purchaseid="@Model.PurchaseRequestID" data-selectedvendor="Vendor1Status" type="checkbox" id="purchasesuperapproval-check-1" name="purchasesuperapproval-check-1" class="purchasesuperapproval-check purchasesuperapproval-check-1">
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 purchasesuperapproval-block-right">
                                    <div class="psa-block purchasesuperapproval-vendor-info">
                                        <div class="psalabel vendor-id-label">Vendor Id</div>
                                        <div class="vendor-id">@Model.VendorID1</div>
                                    </div>
                                    <div class="psa-block purchasesuperapproval-vendorname-info">
                                        <div class="psalabel vendor-name-label">Vendor Name</div>
                                        <div class="vendor-name">@Model.VendorName1</div>
                                        <div class="vendor-email color-blue">@Model.VendorEmail1</div>
                                    </div>
                                    <div class="psa-block purchasesuperapproval-files-info">
                                        <div class="psalabel files-label">Files</div>
                                        <div class="files-pdf color-blue">
                                            <a class="itp_filepath" href="/purchase/@Model.AttachFile1" target="_blank">@Model.AttachFile1</a><br />
                                        </div>
                                    </div>
                                    <div class="psa-block purchasesuperapproval-requesteddate-info">
                                        <div class="psalabel requesteddate-label">Requested Date</div>
                                        <div class="requesteddate-date">@Model.RequiredOn.Value.ToString("yyyy-MM-dd")</div>
                                    </div>
                                    <div class="psa-block purchasesuperapproval-requestedname-info">
                                        <div class="psalabel requestedname-label">Requested By</div>
                                        <div class="requestedname-name color-blue">@Model.RejectedBy</div>
                                    </div>
                                    <div class="psa-block purchasesuperapproval-quoteprice-info">
                                        <div class="psalabel quoteprice-label">Quote Price</div>
                                        <div class="quoteprice-amount color-blue">Rs @Model.QuotationPrice1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.VendorID2 != null && Model.VendorID2 != 0)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-12 psa-content-details">
                                <div class="purchasesuperapproval-block psa-2">
                                    <div class="col-lg-1 col-md-1 col-sm-1 purchasesuperapproval-block-left">
                                        @{
                                            var vendor2StatusApproved = Model.Vendor2Status == "Approved" ? true : false;
                                            var vendor2Selected = vendor2StatusApproved ? "checked" : "";
                                        }
                                        <input @vendor2Selected data-purchaseid="@Model.PurchaseRequestID" data-selectedvendor="Vendor2Status" type="checkbox" id="purchasesuperapproval-check-2" name="purchasesuperapproval-check-2" class="purchasesuperapproval-check purchasesuperapproval-check-2">
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-11 purchasesuperapproval-block-right">
                                        <div class="psa-block purchasesuperapproval-vendor-info">
                                            <div class="psalabel vendor-id-label">Vendor Id</div>
                                            <div class="vendor-id">@Model.VendorID2</div>
                                        </div>
                                        <div class="psa-block purchasesuperapproval-vendorname-info">
                                            <div class="psalabel vendor-name-label">Vendor Name</div>
                                            <div class="vendor-name">@Model.VendorName2</div>
                                            <div class="vendor-email color-blue">@Model.VendorEmail2</div>
                                        </div>
                                        <div class="psa-block purchasesuperapproval-files-info">
                                            <div class="psalabel files-label">Files</div>
                                            <div class="files-pdf color-blue">
                                                <a class="itp_filepath" href="/purchase/@Model.AttachFile2" target="_blank">@Model.AttachFile2</a><br />
                                            </div>
                                        </div>
                                        <div class="psa-block purchasesuperapproval-requesteddate-info">
                                            <div class="psalabel requesteddate-label">Requested Date</div>
                                            <div class="requesteddate-date">@Model.RequiredOn.Value.ToString("yyyy-MM-dd")</div>
                                        </div>
                                        <div class="psa-block purchasesuperapproval-requestedname-info">
                                            <div class="psalabel requestedname-label">Requested By</div>
                                            <div class="requestedname-name color-blue">@Model.RejectedBy</div>
                                        </div>
                                        <div class="psa-block purchasesuperapproval-quoteprice-info">
                                            <div class="psalabel quoteprice-label">Quote Price</div>
                                            <div class="quoteprice-amount color-blue">Rs @Model.QuotationPrice2</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                        @if (Model.VendorID3 != null && Model.VendorID3 != 0)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-12 psa-content-details">
                                <div class="purchasesuperapproval-block psa-3">
                                    <div class="col-lg-1 col-md-1 col-sm-1 purchasesuperapproval-block-left">
                                        @{
                                            var vendor3StatusApproved = Model.Vendor3Status == "Approved" ? true : false;
                                            var vendor3Selected = vendor3StatusApproved ? "checked" : "";
                                        }
                                        <input @vendor3Selected data-purchaseid="@Model.PurchaseRequestID" data-selectedvendor="Vendor3Status" type="checkbox" id="purchasesuperapproval-check-3" name="purchasesuperapproval-check-3" class="purchasesuperapproval-check purchasesuperapproval-check-3">
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-11 purchasesuperapproval-block-right">
                                        <div class="psa-block purchasesuperapproval-vendor-info">
                                            <div class="psalabel vendor-id-label">Vendor Id</div>
                                            <div class="vendor-id">@Model.VendorID3</div>
                                        </div>
                                        <div class="psa-block purchasesuperapproval-vendorname-info">
                                            <div class="psalabel vendor-name-label">Vendor Name</div>
                                            <div class="vendor-name">@Model.VendorName3</div>
                                            <div class="vendor-email color-blue">@Model.VendorEmail2</div>
                                        </div>
                                        <div class="psa-block purchasesuperapproval-files-info">
                                            <div class="psalabel files-label">Files</div>
                                            <div class="files-pdf color-blue">
                                                <a class="itp_filepath" href="/purchase/@Model.AttachFile3" target="_blank">@Model.AttachFile3</a><br />
                                            </div>
                                        </div>
                                        <div class="psa-block purchasesuperapproval-requesteddate-info">
                                            <div class="psalabel requesteddate-label">Requested Date</div>
                                            <div class="requesteddate-date">@Model.RequiredOn.Value.ToString("yyyy-MM-dd")</div>
                                        </div>
                                        <div class="psa-block purchasesuperapproval-requestedname-info">
                                            <div class="psalabel requestedname-label">Requested By</div>
                                            <div class="requestedname-name color-blue">@Model.RejectedBy</div>
                                        </div>
                                        <div class="psa-block purchasesuperapproval-quoteprice-info">
                                            <div class="psalabel quoteprice-label">Quote Price</div>
                                            <div class="quoteprice-amount color-blue">Rs @Model.QuotationPrice3</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                            }
                    </div>

                    @{
                        string vendorStatus;

                        if (!string.IsNullOrEmpty(Model.Vendor1Status) && Model.Vendor1Status.Contains("Approved") ||
                            !string.IsNullOrEmpty(Model.Vendor2Status) && Model.Vendor2Status.Contains("Approved") ||
                            !string.IsNullOrEmpty(Model.Vendor3Status) && Model.Vendor3Status.Contains("Approved"))
                        {
                            vendorStatus = "Approved";
                        }
                        else if (string.IsNullOrEmpty(Model.Vendor1Status) && string.IsNullOrEmpty(Model.Vendor2Status) && string.IsNullOrEmpty(Model.Vendor3Status))
                        {
                            vendorStatus = "Pending";
                        }
                        else if (Model.Vendor1Status == "Rejected" && Model.Vendor2Status == "Rejected" && Model.Vendor3Status == "Rejected")
                        {
                            vendorStatus = "Rejected";
                        }
                        else
                        {
                            vendorStatus = "Pending";
                        }
                    }

                    <div class="row psa-footer">
                        <div class="col-lg-12 col-md-12 text-right">
                            <button type="button" class="btn btn-danger psaadd-reject">Reject</button>
                            <button type="button" class="btn btn-success psaadd-approve">Approve</button>
                            <button type="button" class="btn psaadd-change-status color-blue" style="display:none;">Change Status</button>
                            <button type="button" class="btn btn-success psaadd-approved" style="display:none;">@vendorStatus</button>
                        </div>
                    </div>
                </div>

                <div class="vendor-pr-status" data-status="@vendorStatus" style="display: none">@vendorStatus</div>
                <div class="vendor-pr-number" style="display: none">@Model.PurchaseRequestID</div>
            </div>
        </div>
    </div>
</div>

@*Success Modal*@
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-message">
                Success message will be inserted here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-purcahsesuperapporval-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*Error Modal*@
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-message">
                Error message will be inserted here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-purcahsesuperapporval-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        function updateButtonStates(status) {
            if (status === 'Approved') {
                // Hide Reject and Approve buttons
                $('.psaadd-reject').hide();
                $('.psaadd-approve').hide();

                // Show Change Status and Approved buttons
                $('.psaadd-change-status').show().text('Change Status');
                $('.psaadd-approved').show().text('Approved')
                    .removeClass('btn-danger')
                    .addClass('btn-success');
            }
            else if (status === 'Rejected') {
                // Hide Reject and Approve buttons
                $('.psaadd-reject').hide();
                $('.psaadd-approve').hide();

                // Show Change Status and Approved buttons
                $('.psaadd-change-status').show().text('Change Status');
                $('.psaadd-approved').show().text('Rejected')
                    .removeClass('btn-success')
                    .addClass('btn-danger');
            }
            else { // Assuming status is 'Pending' or other undefined status
                // Show Reject and Approve buttons
                $('.psaadd-reject').show();
                $('.psaadd-approve').show();

                // Hide Change Status and Approved buttons
                $('.psaadd-change-status').hide();
                $('.psaadd-approved').hide()
                    .removeClass('btn-danger btn-success'); // Reset class in case of pending
            }
        }


        if ($('.vendor-pr-status').text() != "Pending") {
            updateButtonStates($('.vendor-pr-status').text());
            $('.purchasesuperapproval-check').prop('disabled', true);
        }
        else {
            $('.purchasesuperapproval-check').prop('disabled', false);
        }


        $(document).on('click', '.psaadd-change-status', function () {
            $('.purchasesuperapproval-check').prop('disabled', false);
            updateButtonStates("");
        });

        $(document).on('change', '.purchasesuperapproval-check', function () {
            $('.purchasesuperapproval-check').prop('checked', false);
            $(this).prop('checked', true);
        });



        $('.psaadd-approve').on('click', function () {
            var selectedVendor = $('.purchasesuperapproval-check:checked').data('selectedvendor');
            var purchaseId = $('.vendor-pr-number').text();

            if (!selectedVendor) {
                showMessageModal("Please select at least one vendor before approving.", false, "closepopuponly");
                return;
            }

            var requestData = {
                purchaseId: purchaseId,
                vendor1Status: selectedVendor == "Vendor1Status" ? "Approved" : "Rejected",
                vendor2Status: selectedVendor == "Vendor2Status" ? "Approved" : "Rejected",
                vendor3Status: selectedVendor == "Vendor3Status" ? "Approved" : "Rejected",
                ButtonName: "Approved"
            };

            $.ajax({
                type: "POST",
                url: "/purchase/updatevendorstatus",
                data: requestData,
                success: function (response) {
                    if (response.success) {
                        updateButtonStates("Approved");
                        $('.modal-message').css("color", "forestgreen");
                        $('.modal-message').text(response.message);
                        $('#successModal').modal('show');
                    } else {
                        $('.modal-message').text(response.message);
                        $('#errorModal').modal('show');
                    }
                },
                error: function () {
                    alert("An error occurred while processing the request.");
                }
            });
        });

        // Reject button click event
        $('.psaadd-reject').on('click', function () {
            var purchaseId = $('.vendor-pr-number').text();

            var requestData = {
                purchaseId: purchaseId,
                vendor1Status: "Rejected",
                vendor2Status: "Rejected",
                vendor3Status: "Rejected",
                ButtonName: "Rejected"
            };

            $('.purchasesuperapproval-check').prop('checked', false);

            $.ajax({
                type: "POST",
                url: "/purchase/updatevendorstatus",
                data: requestData,
                success: function (response) {
                    if (response.success) {
                        updateButtonStates("Rejected");
                        $('.modal-message').css("color", "red");
                        $('.modal-message').text(response.message);
                        $('#successModal').modal('show');

                    } else {
                        $('.modal-message').text(response.message);
                        $('#errorModal').modal('show');
                    }
                },
                error: function () {
                    alert("An error occurred while processing the request.");
                }
            });
        });


    });


    $(document).on('click', '.btn-purcahsesuperapporval-close', function () {
        window.location.href = "/purchase/purchasesuperadmin";
        return;
    });

</script>

