@model HRMS.Models.ITsupport.PurchaseListViewModel

@Html.Partial("_NavBar")
@{
    ViewBag.Title = "PurchaseListView";
}
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid PurchaseListPage-View" style="width: 84%">
        <div class="content admin-purchase-container" style="margin-left: -10px; ">
            <div class="itadmin-purchase-view">
                <div class="container-fluid top itadmin-purchaseview">
                    <div class="row navbar align-items-center">
                        <!-- Employee column -->
                        <div class="col-lg-3 col-md-5 topic d-flex res-admin-title">
                            <h4 class="header mb-0 text-right">Purchase Request Listing</h4>
                        </div>
                        <!-- Search box -->
                        <div class="col-xl-4 col-lg-6 navbarl1 col-sm-12 col-md-7 res-itadmin-purchase-search">
                            <div class="search-container" style=" margin-left: 32px; ">
                                <div class="input-group" style="border-radius: 20px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="background-color: transparent; border-right: none; border-radius: 5px 0 0 5px; height: 35px;"><i class="fas fa-search" style="color: #369479"></i></span>
                                    </div>
                                    <input type="text" placeholder="Search By Keyword" class="purchase-advancesearch form-control" aria-label="Search By Keyword" style="border-radius: 0 5px 5px 0; height: 35px; font-size: 14px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-12 navbarl1 col-sm-12 col-md-12 res-itadmin-purchase-header-right">
                            <!-- Export -->
                            @*<div class="col-xl-4 col-lg-3 navbarl1 col-sm-4 col-xs-12 col-md-4 res-admin-purchase-status p-0">
                        <div class="form-group res-purchaselisting">
                            <select class="form-control form-select" name="purchasestatus" id="purchaselisting-status-dropdown" style="">
                                <option value="" disabled selected>Status</option>
                                <option value="Approved">Approved</option>
                                <option value="Rejected">Rejected</option>
                                <option value="Pending">Pending</option>
                                <option value="">All</option>
                            </select>
                        </div>
                    </div>*@
                            <div class="col-xl-2 col-lg-1  navbarl1 col-sm-2 col-md-2 res-itadmin-purchase-export p-0">
                                <div class="itadminpurchase-export" style="">
                                    <button type="button" class="btn purchaselist-export-btn pt-0" id="exportPurchase" onclick="exportPurchase()">
                                        <span class="purchaselist-export"><img src="/assets/Export.png" alt="Export" style=""></span>
                                    </button>
                                </div>
                            </div>
                            <!-- Add Employee dropdown -->
                            <div class="col-lg-5 navbarl1 col-sm-6 col-md-5 res-itadmin-purchase-add">
                                <div class="addingpurchase form-group">
                                    <select name="addpurchase" class="addpurchase form-control form-select" id="addpurchase">
                                        <option value="" disabled="" selected="" hidden="">Add Purchase</option>
                                        <option value="Addmanually" class="purchaseManually">+ Manually</option>
                                        @*<option value="importuser" class="purchaseBulk">+ Bulk</option>*@
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="res-itadmin-purchase-table table-responsive">
                    <table id="adminpurchasetable" class="display" style="width: 100%;">
                        <thead style="background-color: #d8e6fb; border-radius: 10px;">
                            <tr>
                                <th><input type="checkbox" id="itpurchase-selectAll"></th>
                                <th>Request No.</th>
                                <th>Asset Type</th>
                                <th>Requested By</th>
                                <th>Vendor 1</th>
                                <th>Vendor 2</th>
                                <th>Vendor 3</th>
                                <th>View Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var purchserequest in Model.PurchaseRequests)
                            {
                                <tr>
                                    <td><input type="checkbox" class="purchaseitadmin-check"></td>
                                    <td class="itprequestno" data-purchaseid="@purchserequest.PurchaseRequestID">@purchserequest.PRNumber</td>
                                    <td class="itpassettype">@purchserequest.AssetType</td>
                                    <td>@purchserequest.RequestedBy</td>
                                    <td class="itpvendor1 table-itp-vendor-info">
                                        <div style="display: flex; align-items: center;">
                                            <span style="margin-top: 0px; margin-right: 10px; line-height:1rem">
                                                @purchserequest.VendorName1<br>
                                                <a class="itp_filepath" href="/Ticketing/@Model.PurchasRequestFolderPath/@purchserequest.AttachFile1" target="_blank">@purchserequest.AttachFile1</a><br />

                                                @{
                                                    var vendor1Status = purchserequest.Vendor1Status;
                                                    var status1Class = string.IsNullOrEmpty(vendor1Status) ? "pending" : vendor1Status.ToLowerInvariant();
                                                    var status1Name = string.IsNullOrEmpty(vendor1Status) ? "Pending" : vendor1Status;
                                                }
                                                <span class="@status1Class">@status1Name</span>
                                            </span>
                                        </div>
                                    </td>

                                    @if (purchserequest.VendorID2 != 0)
                                    {
                                        <td class="itpvendor2 table-itp-vendor-info">
                                            <div style="display: flex; align-items: center;">
                                                <span style="margin-top: 0px; margin-right: 10px; line-height: 1rem">
                                                    @purchserequest.VendorName2<br>
                                                    @if (!string.IsNullOrWhiteSpace(@purchserequest.AttachFile2))
                                                    {
                                                        <a class="itp_filepath" href="/Ticketing/@Model.PurchasRequestFolderPath/@purchserequest.AttachFile2" target="_blank">@purchserequest.AttachFile2</a><br />
                                                    }

                                                    @{
                                                        var vendor2Status = purchserequest.Vendor2Status;
                                                        var status2Class = string.IsNullOrEmpty(vendor2Status) ? "pending" : vendor2Status.ToLowerInvariant();
                                                        var status2Name = string.IsNullOrEmpty(vendor2Status) ? "Pending" : vendor2Status;
                                                    }

                                                    <span class="@status2Class">@status2Name</span>
                                                </span>
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>N/A</td>
                                    }
                                    @if (purchserequest.VendorID3 != 0)
                                    {
                                        <td class="itpvendor3 table-itp-vendor-info">
                                            <div style="display: flex; align-items: center;">
                                                <span style="margin-top: 0px; margin-right: 10px; line-height: 1rem">
                                                    @purchserequest.VendorName3<br>
                                                    @if (!string.IsNullOrWhiteSpace(@purchserequest.AttachFile3))
                                                    {
                                                        <a class="itp_filepath" href="/Ticketing/@Model.PurchasRequestFolderPath/@purchserequest.AttachFile3" target="_blank">@purchserequest.AttachFile3</a><br />
                                                    }
                                                    @{
                                                        var vendor3Status = @purchserequest.Vendor3Status;
                                                        var status3Class = string.IsNullOrEmpty(vendor3Status) ? "pending" : vendor3Status.ToLowerInvariant();
                                                        var status3Name = string.IsNullOrEmpty(vendor3Status) ? "Pending" : vendor3Status;
                                                    }
                                                    <span class="@status3Class">@status3Name</span>
                                                </span>
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>N/A</td>
                                    }
                                    <td style="text-align:center;">
                                        <span class="purchaseitadmin-approval-edit" data-purchaseid="@purchserequest.PurchaseRequestID">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

                <!-- Success Modal -->
                <!-- Success Modal -->
                <div class="modal fade" id="purchaseRequestSuccessModal" tabindex="-1" role="dialog" aria-labelledby="purchaseRequestSuccessModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="purchaseRequestSuccessModalLabel">Purchase Request</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="purchase-success-message" style="color: forestgreen"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Error Modal -->
                <div class="modal fade" id="purchaseRequestErrorModal" tabindex="-1" role="dialog" aria-labelledby="purchaseRequestErrorModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="purchaseRequestErrorModalLabel">Purchase Request</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="purchase-error-message" style="color: red"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Itsupport/_purchaselistflow.cshtml")
<script src="~/Scripts/z-purchaseScript.js"></script>

<script>
    $(document).ready(function () {
        // Initialize DataTable if not already initialized
        if (!$.fn.DataTable.isDataTable('#adminpurchasetable')) {
            var table = $('#adminpurchasetable').DataTable({
                "responsive": true,
                "paging": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]]
            });
            $('.purchase-advancesearch').on('keyup', function () {
                table.search(this.value).draw(); // Perform global search on all columns
            });
           
          }

        $(document).on('change', '#addpurchase', function () {
            var selectedValue = $(this).val();
            if (selectedValue === "Addmanually") {
                window.location.href = '/purchase/addpurchaserequest';
            } else if (selectedValue === "importuser") {
                window.location.href = '/purchase/purchaseimport';
            }
        });

        $(document).on('click', '.itprequestno', function () {
            $('#itpurchaseStatusModal').modal('show');
        });

    });

    $(document).on('click', '.purchaseitadmin-approval-edit', function () {
        var purchaseID = $(this).attr("data-purchaseid");
        window.location.href = "/purchase/addpurchaserequest?purchaseId=" + purchaseID;
    });


</script>

