@model HRMS.Models.ITsupport.PurchaseListViewModel

@Html.Partial("_NavBar")

<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid PurchaseSuperAdminListPage-View" style="width: 84%">
        <div class="content admin-purchasesuperadmin-container" style="margin-left: -10px; ">
            <div class="admin-purchasesuperadmin-view">
                <div class="container-fluid top admin-purchasesuperadminview">
                    <div class="row navbar align-items-center">
                        <!-- Employee column -->
                        <div class="col-lg-3 col-md-5 topic d-flex res-admin-title">
                            <h4 class="header mb-0 text-right">Purchase Request Listing</h4>
                        </div>
                        <!-- Search box -->
                        <div class="col-xl-4 col-lg-6 navbarl1 col-sm-12 col-md-7 res-admin-purchasesuperadmin-search">
                            <div class="search-container" style=" margin-left: 32px; ">
                                <div class="input-group" style="border-radius: 20px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="background-color: transparent; border-right: none; border-radius: 5px 0 0 5px; height: 35px;"><i class="fas fa-search" style="color: #369479"></i></span>
                                    </div>
                                    <input type="text" placeholder="Search By Keyword" class="purchasesuperadmin-advancesearch form-control" aria-label="Search By Keyword" style="border-radius: 0 5px 5px 0; height: 35px; font-size: 14px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-12 navbarl1 col-sm-12 col-md-12 res-admin-purchasesuperadmin-header-right">
                            <div class="col-xl-2 col-lg-1  navbarl1 col-sm-2 col-md-2 res-admin-purchasesuperadmin-export p-0">
                                <div class="adminpurchasesuperadmin-export" style="">
                                    <button type="button" class="btn purchasesuperadminlist-export-btn pt-0" id="exportPurchaseSuperAdmin" onclick="exportPurchaseSuperAdmin()">
                                        <span class="purchasesuperadminlist-export"><img src="/assets/Export.png" alt="Export" style=""></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="res-admin-purchasesuperadmin-table table-responsive">
                    <table id="adminpurchasesuperadmintable" class="display" style="width: 100%;">
                        <thead style="background-color: #d8e6fb; border-radius: 10px;">
                            <tr>
                                <th><input type="checkbox" id="psavendor-selectAll"></th>
                                <th>Request No.</th>
                                <th>Asset Type</th>
                                <th>Vendor 1</th>
                                <th>Vendor 2</th>
                                <th>Vendor 3</th>
                                <th>View Details</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var purchaserequest in Model.PurchaseRequests)
                            {
                                <tr class="odd">
                                    <td><input type="checkbox" class="purchasesuperadmin-check"></td>
                                    <td class="tdpsarequestno itprequestno" data-purchaseid="@purchaserequest.PurchaseRequestID">@purchaserequest.PRNumber</td>
                                    <td class="tdassettype">@purchaserequest.AssetType</td>
                                    <td class="tdvendor1 table-psa-vendor-info">
                                        <div style="display: flex; align-items: center;">

                                            @{
                                                var vendor1Status = @purchaserequest.Vendor1Status;
                                                var status1Class = string.IsNullOrEmpty(vendor1Status) ? "pending" : vendor1Status.ToLowerInvariant();
                                                var status1Name = string.IsNullOrEmpty(vendor1Status) ? "Pending" : vendor1Status;
                                            }

                                            <span style="margin-top: 0px; margin-right: 10px;">@purchaserequest.VendorName1<br><span class="@status1Class">@status1Name</span></span>
                                        </div>
                                    </td>
                                    <td class="tdvendor2 table-psa-vendor-info">
                                        <div style="display: flex; align-items: center;">

                                            @{
                                                var vendor2Status = @purchaserequest.Vendor2Status;
                                                var status2Class = string.IsNullOrEmpty(vendor2Status) ? "pending" : vendor2Status.ToLowerInvariant();
                                                var status2Name = string.IsNullOrEmpty(vendor2Status) ? "Pending" : vendor2Status;
                                            }

                                            <span style="margin-top: 0px; margin-right: 10px;">@purchaserequest.VendorName2<br><span class="@status2Class">@status2Name</span></span>
                                        </div>
                                    </td>
                                    <td class="tdvendor3 table-psa-vendor-info">
                                        <div style="display: flex; align-items: center;">

                                            @{
                                                var vendor3Status = @purchaserequest.Vendor3Status;
                                                var status3Class = string.IsNullOrEmpty(vendor3Status) ? "pending" : vendor3Status.ToLowerInvariant();
                                                var status3Name = string.IsNullOrEmpty(vendor3Status) ? "Pending" : vendor3Status;
                                            }

                                            <span style="margin-top: 0px; margin-right: 10px;">@purchaserequest.VendorName3<br><span class="@status3Class">@status3Name</span></span>
                                        </div>
                                    </td>
                                    <td style="text-align:center;">
                                        <span class="purchasesuperadmin-approval-edit" data-purchaseid="@purchaserequest.PurchaseRequestID">
                                            <i class="fas fa-eye"></i>
                                        </span>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


@Html.Partial("~/Views/Itsupport/_purchaselistflow.cshtml")
<script src="~/Scripts/z-purchaseScript.js"></script>

<script>
    $(document).ready(function () {
        // Initialize DataTable if not already initialized
        if (!$.fn.DataTable.isDataTable('#adminpurchasesuperadmintable')) {
            var table = $('#adminpurchasesuperadmintable').DataTable({
                "responsive": true,
                "paging": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]]
            });
            $('.purchasesuperadmin-advancesearch').on('keyup', function () {
                table.search(this.value).draw(); // Perform global search on all columns
            });

        }

        $(document).on('click', '.tdpsarequestno', function () {
            $('#purchaseStatusModal').modal('show');
        });
    });

    $(document).on('click', '.purchasesuperadmin-approval-edit', function () {
        var purchaseID = $(this).attr("data-purchaseid");
        window.location.href = "/purchase/purchasesuperapproval?purchaseId=" + purchaseID;
    });

</script>