@model HRMS.Models.ITsupport.PurchaseListViewModel

@{
    ViewBag.Title = "PurchaseItSuperAdmin";
}
@Html.Partial("_NavBar")
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid PurchaseAccountListPage-View" style="width: 84%">
        <div class="content admin-purchaseaccount-container" style="margin-left: -10px; ">
            <div class="admin-purchaseaccount-view">
                <div class="container-fluid top admin-purchaseaccountview">
                    <div class="row navbar align-items-center">
                        <!-- Employee column -->
                        <div class="col-lg-3 col-md-5 topic d-flex res-admin-title">
                            <h4 class="header mb-0 text-right">Purchase Request Listing</h4>
                        </div>

                        <!-- Search box -->
                        <div class="col-xl-4 col-lg-6 navbarl1 col-sm-12 col-md-7 res-admin-purchaseaccount-search">
                            <div class="search-container" style=" margin-left: 32px; ">
                                <div class="input-group" style="border-radius: 20px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="background-color: transparent; border-right: none; border-radius: 5px 0 0 5px; height: 35px;"><i class="fas fa-search" style="color: #369479"></i></span>
                                    </div>
                                    <input type="text" placeholder="Search By Keyword" class="purchaseaccount-advancesearch form-control" aria-label="Search By Keyword" style="border-radius: 0 5px 5px 0; height: 35px; font-size: 14px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-12 navbarl1 col-sm-12 col-md-12 res-admin-purchaseaccount-header-right">
                            <!-- Export -->
                            @*<div class="col-xl-4 col-lg-3 navbarl1 col-sm-4 col-xs-12 col-md-4 res-admin-purchaseaccount-status p-0">
                                    <div class="form-group res-purchaseaccountlisting">
                                        <select class="form-control form-select" name="purchasestatus" id="purchaseaccountlisting-status-dropdown" style="">
                                            <option value="" disabled selected>Status</option>
                                            <option value="Approved">Approved</option>
                                            <option value="Rejected">Rejected</option>
                                            <option value="Pending">Pending</option>
                                            <option value="">All</option>
                                        </select>
                                    </div>
                                </div>*@
                            <div class="col-xl-2 col-lg-1 navbarl1 col-sm-2 col-md-2 res-admin-purchaseaccount-export p-0">
                                <div class="adminpurchaseaccount-export" style="">
                                    <button type="button" class="btn purchaseaccountlist-export-btn pt-0" id="exportPurchaseAccount" onclick="exportPurchaseAccount()">
                                        <span class="purchaseaccountlist-export"><img src="/assets/Export.png" alt="Export" style=""></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="res-admin-purchaseaccount-table table-responsive">
                    <table id="adminpurchaseaccounttable" class="display" style="width: 100%;">
                        <thead style="background-color: #d8e6fb; border-radius: 10px;">
                            <tr>
                                <th><input type="checkbox" id="vendor-selectAll"></th>
                                <th>Request No.</th>
                                <th>Asset Type</th>
                                <th>Vendor ID</th>
                                <th>Vendor Name</th>
                                <th>Files</th>
                                <th>Requested By</th>
                                <th>PO</th>
                                <th>Tax Invoice</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var purchaserequest in Model.PurchaseRequests)
                            {


                                <tr class="">
                                    <td><input type="checkbox" class="purchaseaccount-check"></td>
                                    <td class="tdrequestno">@purchaserequest.PRNumber</td>
                                    <td class="tdassettype">@purchaserequest.AssetType</td>

                                    @if (purchaserequest.Vendor1Status == "Approved")
                                    {

                                        <td class="tdvendorid">@purchaserequest.VendorID1</td>
                                        <td class="tdvendorname">
                                            <div style="display: flex; align-items: center;">
                                                <span style="margin-top: 0px; margin-right: 10px;">@purchaserequest.VendorName1<br><span style="color: #3E78CF;">@purchaserequest.VendorEmail1</span></span>
                                            </div>
                                        </td>
                                        <td><a href="/purchase/@purchaserequest.AttachFile1" target="_blank">@purchaserequest.AttachFile1</a><br /></td>
                                    }


                                    @if (purchaserequest.Vendor2Status == "Approved")
                                    {


                                        <td class="tdvendorid">@purchaserequest.VendorID2</td>
                                        <td class="tdvendorname">
                                            <div style="display: flex; align-items: center;">
                                                <span style="margin-top: 0px; margin-right: 10px;">@purchaserequest.VendorName2<br><span style="color: #3E78CF;">@purchaserequest.VendorEmail2</span></span>
                                            </div>
                                        </td>
                                        <td><a href="/purchase/@purchaserequest.AttachFile2" target="_blank">@purchaserequest.AttachFile2</a><br /></td>
                                    }


                                    @if (purchaserequest.Vendor3Status == "Approved")
                                    {


                                        <td class="tdvendorid">@purchaserequest.VendorID3</td>
                                        <td class="tdvendorname">
                                            <div style="display: flex; align-items: center;">
                                                <span style="margin-top: 0px; margin-right: 10px;">@purchaserequest.VendorName3<br><span style="color: #3E78CF;">@purchaserequest.VendorEmail3</span></span>
                                            </div>
                                        </td>
                                        <td><a href="/purchase/@purchaserequest.AttachFile2" target="_blank">@purchaserequest.AttachFile3</a><br /></td>
                                    }

                                    <td>@purchaserequest.RequestedBy</td>
                                    @{
                                        var requiredPOIcon = "/assets/purchase/podefault.png";
                                        var requiredTaxIcon = "/assets/purchase/podefault.png";
                                    }

                                    @if (!string.IsNullOrWhiteSpace(purchaserequest.PO))
                                    {
                                        requiredPOIcon = "/assets/purchase/poapproved.png";
                                    }

                                    @if (!string.IsNullOrWhiteSpace(purchaserequest.TaxInvoice))
                                    {
                                        requiredTaxIcon = "/assets/purchase/taxapproved.png";
                                    }
                                    <td><span class="purchaseaccount-po-btn" data-purchaseID="@purchaserequest.PurchaseRequestID"><img src="@requiredPOIcon" alt="PO" style="width:25px"></span></td>
                                    <td><span class="purchaseaccount-taxinvoice-btn"><img src="@requiredTaxIcon" alt="Tax Invoice" style="width:25px"></span></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Initialize DataTable if not already initialized
        if (!$.fn.DataTable.isDataTable('#adminpurchaseaccounttable')) {
            var table = $('#adminpurchaseaccounttable').DataTable({
                "responsive": true,
                "paging": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]]
            });
            $('.purchaseaccount-advancesearch').on('keyup', function () {
                table.search(this.value).draw(); // Perform global search on all columns
            });


            //$(document).on('change', '#hr-purchaseaccountlisting-status-dropdown', function (event) {
            //    var status = $(this).val();
            //    if (status == "All") {
            //        status = "";
            //    }
            //    table.column(7).search(status).draw();
            //});
        }

        $(document).on('click', '.purchaseaccount-po-btn', function () {
            var purchaseID = $(this).attr("data-purchaseid");          

            window.location.href = "/purchase/purchaseaccountsubmit?purchaseId=" + purchaseID;
        });

    });



</script>

