@model HRMS.Models.ITsupport.SubscriptionViewModel

@Html.Partial("_NavBar")
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid subscriptioninfo-tab" style="width: 84%">
        <div class="content admin-subscriptioninfo-container" style="margin-left: -10px; ">
            <div class="admin-subscriptioninfo-view">
                <div class="container-fluid top admin-subscriptioninfoview">
                    <div class="row navbar align-items-center">
                        <!-- subscription column -->
                        <div class="col-lg-3 col-md-6 topic d-flex res-admin-title">
                            <h4 class="header mb-0 text-right">Subscription Listing</h4>
                        </div>
                        <!-- Search box -->
                        <div class="col-xl-4 col-lg-6 navbarl1 col-sm-12 col-md-7 res-admin-subscriptioninfo-search">

                        </div>

                        <div class="col-xl-5 col-lg-6 navbarl1 col-sm-12 col-md-8 res-admin-subscriptioninfo-header-right">
                            <!-- Export -->
                            <div class="col-xl-1 col-lg-1  navbarl1 col-sm-2 col-md-2 res-admin-subscriptioninfo-export p-0">
                                <div class="adminsubscriptioninfo-export" style="">
                                    <button type="button" class="btn subscriptioninfo-export-btn pt-0" id="exportSubscriptioninfo" onclick="exportSubscriptioninfo()">
                                        <span class="subscriptioninfo-export"><img src="/assets/Export.png" alt="Export" style=""></span>
                                    </button>
                                </div>
                            </div>
                            <!-- Add subscription dropdown -->
                            <div class="col-lg-6 navbarl1 col-sm-7 col-md-6 res-admin-subscriptioninfo-add text-right">
                                <div class="addingsubscriptioninfo form-group">
                                    <button name="addsubscriptioninfo" class="addsubscriptioninfo btn" id="addsubscriptioninfo" onclick="redirectToAddSubscription() ">
                                        Add Subscription
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admin-subscriptioninfo-action-block">
                    <select class="form-control ml-2" name="action" id="action" style="display: none;">
                        <option value="" selected>Action</option>
                        <option value="export">Export</option>
                    </select>
                </div>

                <div class="admin-subscriptioninfo-list">
                    <div class="row">
                        @foreach (var subscriptions in Model.Subscriptions)
                        {
                            <div class="col-6 col-xl-6 col-md-12 col-sm-12">
                                <div class="subscriptioninfo-list-block">
                                    @{
                                        var logoImageUrl = string.IsNullOrEmpty(subscriptions.SubscriptionLogo)
                                            ? Url.Content("~/Assets/Subscription.png")
                         : "/ticketing" + "/subscription/" + subscriptions.SubscriptionLogo;
                                    }
                                    <div class="subscriptioninfo-list-left">
                                        <input type="checkbox" name="subscription-list-checkbox" id="subscription-list-checkbox" class="subscription-list-checkbox" value="@subscriptions.SubscriptionID">
                                        <img src="@logoImageUrl" alt="Subscription Logo" class="subscription-logo" />

                                    </div>

                                    <div class="subscriptioninfo-list-right">
                                        <div class="subscriptioninfo-list-right-1 @subscriptions.SubscriptionStatusClass">
                                            <span>@subscriptions.SubscriptionStatus</span>
                                        </div>
                                        <div class="subscriptioninfo-list-right-2 subscriptioninfo-list-title" onclick="redirectToSubscriptionHistory(@subscriptions.SubscriptionID)">
                                            @subscriptions.SubscriptionName
                                        </div>
                                        <div class="subscriptioninfo-list-right-3">
                                            <div class="subscriptioninfo-fields">
                                                <label>Category</label>
                                                <div class="subscriptioninfo-field-details" title="@subscriptions.Category">@subscriptions.Category</div>
                                            </div>
                                            <div class="subscriptioninfo-fields">
                                                <label>Subscription ID</label>
                                                <div class="subscriptioninfo-field-details">@subscriptions.SubscriptionID</div>
                                            </div>
                                            <div class="subscriptioninfo-fields">
                                                <label>Purchase Date</label>
                                                <div class="subscriptioninfo-field-details" title="@subscriptions.PurchaseDate">@subscriptions.PurchaseDate</div>
                                            </div>
                                            <div class="subscriptioninfo-fields">
                                                <label>Renewal Date</label>
                                                <div class="subscriptioninfo-field-details" title="@subscriptions.RenewalDate">@subscriptions.RenewalDate</div>
                                            </div>
                                        </div>
                                        <div class="subscriptioninfo-list-right-4">
                                            <div class="subscriptioninfo-fields">
                                                <label>Amount</label>
                                                <div class="subscriptioninfo-field-details">@subscriptions.Amount</div>
                                            </div>
                                            <div class="subscriptioninfo-fields">
                                                <label>Payment Method</label>
                                                <div class="subscriptioninfo-field-details">@subscriptions.PaymentMethod</div>
                                            </div>
                                            <div class="subscriptioninfo-fields">
                                                <label>Vendor</label>
                                                <div class="subscriptioninfo-field-details" title="@subscriptions.SubscriptionName">@subscriptions.SubscriptionName</div>
                                            </div>
                                        </div>
                                        <div class="subscriptioninfo-action">
                                            <div class="subscriptioninfo-edit-menu">
                                                <i class="fas fa-ellipsis-v subscriptioninfo-edit" onclick="toggleSubscriptioninfoActionOptions(this)"></i>
                                                <div class="subscriptioninfooptions" style="display:none">
                                                    <a class="dropdown-item subscriptioninfo-edit" data-subid="@subscriptions.SubscriptionID">
                                                        <i class="fas fa-pencil-alt subscriptioninfo-edit-icon"></i><span>Edit</span>
                                                    </a>
                                                    <a class="dropdown-item subscriptioninfo-delete" onclick="prepareDelete(@subscriptions.SubscriptionID)" data-toggle="modal" data-target="#deleteConfirmationsubscription">
                                                        <i class="fas fa-trash-alt subscriptioninfo-delete-icon"></i><span>Delete</span>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>



                    <div class="modal fade" id="deleteConfirmationsubscription" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalsubscription" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Delete Subscription</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="delete-message">Are you sure you want to delete this subscrption?</p>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary refresh-emptablist" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger delete-Subscription">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<script>
    //$(document).ready(function () {
    //    // Initialize DataTable if not already initialized
    //    if (!$.fn.DataTable.isDataTable('#adminsubscriptioninfotable')) {
    //        var table = $('#adminsubscriptioninfotable').DataTable({
    //            "responsive": true,
    //            "paging": true,
    //            "searching": true,
    //            "ordering": false,
    //            "info": true,
    //            "autoWidth": false,
    //            "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]]
    //        });
    //        $('.subscriptioninfo-advancesearch').on('keyup', function () {
    //            table.search(this.value).draw(); // Perform global search on all columns
    //        });
    //    }
    //});

    function toggleSubscriptioninfoActionOptions(iconElement) {
        const optionsMenu = $(iconElement).next('.subscriptioninfooptions');
        $('.subscriptioninfooptions').not(optionsMenu).hide();
        optionsMenu.toggle();
    }
    //function redirectToEditSubscription(subscriptionID) {
    //    window.location.href = '/Subscription/AddSubscription?subscriptionID=' + subscriptionID;
    //}

    $(document).on('click', '.subscriptioninfo-edit', function () {
        var subscriptionID = $(this).attr("data-subid");
        if (subscriptionID) {
            window.location.href = '/Subscription/AddSubscription?subid=' + subscriptionID;
        }
    });

</script>
