@model HRMS.Models.Employee.ApplyLeaveViewModel

@{
    var currentUserSession = Session["SiteContext"] as HRMS.Models.SiteContextModel;
    var leaveDefaultEmails = System.Configuration.ConfigurationManager.AppSettings["LeaveEmails"];

    var pageTitle = !string.IsNullOrWhiteSpace(Model.Leaves) && Model.Leaves != "[]" ? "Edit Leave" : "Apply Leave";
    var buttonText = !string.IsNullOrWhiteSpace(Model.Leaves) && Model.Leaves != "[]" ? "Edit" : "Apply";

    var hideDivStyle = currentUserSession != null && !currentUserSession.IsAdmin ? "display:none;" : "";
}

<div class="employeeleaveapply-view">
    <style>
        .error-message {
            color: red;
            display: none; /* Hidden by default */
        }

        .input-error, .input-error select {
            border-color: red !important;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-11 popup-form">
                <form id="leaveForm">
                    <div class="form-group">
                        <h4 class="mb-4 leave-pagetitle">@pageTitle</h4>
                        <div class="form-group div-leave-empname" style="@hideDivStyle">
                            <label for="leaveempname" class="leave_label">Employee Name*</label>
                            <select class="form-control" id="leaveempname">
                                <option selected disabled>Select Employee Name</option>
                                @{
                                    var selectedempID = currentUserSession.EmpInfo.EmployeeID; ;
                                }
                                @foreach (var emp in Model.employees)
                                {
                                    var selected = !currentUserSession.IsAdmin && emp.EmployeeID == selectedempID ? "selected" : "";
                                    <option @selected value="@emp.EmployeeID" data-emplocation="@emp.Location" data-empemail="@emp.OfficalEmailid" data-designation="@emp.Designation" data-department="@emp.Department">@emp.EmployeeName</option>
                                }
                            </select>
                            <span class="error-message" id="leaveempname-error"></span>
                        </div>
                        <label for="leaveType" class="leave_label">Leave Type*</label>
                        <select class="form-control" id="leaveType">
                            <option selected disabled>Select Leave Type</option>
                            @{
                                var selectedLeaveType = Model.EditLeaveInfo != null ? Model.EditLeaveInfo.leavesource : "";
                            }
                            @foreach (var leavetype in Model.leaveTypes)
                            {
                                var selected = leavetype == selectedLeaveType ? "selected" : "";
                                <option @selected value="@leavetype">@leavetype</option>
                            }
                        </select>
                        <span class="error-message" id="leaveType-error"></span>
                    </div>
                    <div class="apply-date-section">
                        <div class="form-group">
                            <label for="fromleaveDate">From Date*</label>

                            @if (Model.EditLeaveInfo != null && Model.EditLeaveInfo.Fromdate != DateTime.MinValue)
                            {
                                @Html.TextBoxFor(m => m.EditLeaveInfo.Fromdate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "fromleaveDate" })
                            }
                            else
                            {
                                <input type="date" class="form-control" id="fromleaveDate">
                            }
                            <span class="error-message" id="fromleaveDate-error"></span>
                        </div>
                        <div class="form-group to-date-group">
                            <label for="toleaveDate">To Date*</label>

                            @if (Model.EditLeaveInfo != null && Model.EditLeaveInfo.Todate != DateTime.MinValue)
                            {
                                @Html.TextBoxFor(m => m.EditLeaveInfo.Todate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "toleaveDate" })
                            }
                            else
                            {
                                <input type="date" class="form-control" id="toleaveDate">
                            }
                            <span class="error-message" id="toleaveDate-error"></span>
                        </div>
                    </div>
                    <div class="form-group time-section" style="display: none">
                        <label for="HourPermission" class="hour_label">Hour Permission*</label>
                        <select class="form-control" id="HourPermission">
                            <option selected disabled>Select Hours</option>

                            @{
                                decimal selectedHourPermission = Model.EditLeaveInfo != null && Model.EditLeaveInfo.leavesource == "Hourly Permission" ? Model.EditLeaveInfo.LeaveDays : 0;
                            }
                            @foreach (var hourPermission in Model.HourlyPermissions)
                            {
                                var permissionHourString = hourPermission.Split(' ')[0];
                                decimal permissionHour = decimal.Parse(permissionHourString);
                                var selected = permissionHour == selectedHourPermission ? "selected" : "";
                                <option @selected value="@permissionHour">@hourPermission</option>
                            }
                        </select>
                        <span class="error-message" id="HourPermission-error"></span>
                    </div>
                    <div class="form-group" id="dayTypeLabel" style="display: none">
                        <label>Day Type*</label>
                    </div>
                    <div id="dayTypeContainer" style="display: none"></div>
                    <div id="editleaves" style="display: none">@Model.Leaves</div>
                    @{
                        var LeaveRequestName = @Model.EditLeaveInfo != null && !string.IsNullOrWhiteSpace(Model.EditLeaveInfo.LeaveRequestName) ? Model.EditLeaveInfo.LeaveRequestName : "";
                    }
                    <div id="editleaverequestname" style="display: none">@LeaveRequestName</div>
                    <div id="totalLeavesContainer" class="mb-4"></div>
                    <div class="form-group">
                        <label for="teamEmail">Team Email <span style="font-size: smaller">(add with comma seperator)</span></label>
                        <input type="text" value="" class="form-control" id="teamEmail">
                        <div style="display: none" id="defaultteamEmail">@leaveDefaultEmails</div>
                        <span class="error-message" id="teamEmail-error"></span>
                    </div>
                    <div class="form-group">
                        <label for="reason">Reason</label>
                        @{
                            var leave_reason = @Model.EditLeaveInfo != null && !string.IsNullOrWhiteSpace(Model.EditLeaveInfo.leave_reason) ? Model.EditLeaveInfo.leave_reason : "";
                        }
                        <textarea class="form-control" id="reason">@leave_reason</textarea>
                        <span class="error-message" id="reason-error"></span>
                    </div>
                    <div class="form-group">
                        <label for="BackupName">Backup Resource Name*</label>
                        @{
                            var BackupResource_Name = @Model.EditLeaveInfo != null && !string.IsNullOrWhiteSpace(Model.EditLeaveInfo.BackupResource_Name) ? Model.EditLeaveInfo.BackupResource_Name : "";
                        }
                        <input type="text" class="form-control" id="BackupName" value="@BackupResource_Name">
                        <span class="error-message" id="BackupName-error"></span>
                    </div>
                    <div class="form-group">
                        <label for="BackupNo">Contact Number (In case of Emergency)*</label>
                        @{
                            var EmergencyContact_no = @Model.EditLeaveInfo != null && !string.IsNullOrWhiteSpace(Model.EditLeaveInfo.EmergencyContact_no) ? Model.EditLeaveInfo.EmergencyContact_no : "";
                        }
                        <input type="text" class="form-control" id="BackupNo" value="@EmergencyContact_no">
                        <span class="error-message" id="BackupNo-error"></span>
                    </div>
                    <span class="error-message-showerror" style="display: none; color: red"></span>

                    <button type="submit" class="btn btn-primary btn-apply-empleave mb-4">@buttonText</button>
                </form>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="balance-section-wrapper" style="display: none">
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("CommonModalPopups")
</div>
