@model HRMS.Models.Employee.EmpAttedenceModel

@Html.Partial("_EmployeeNavbar")

<style>
    .attendence-title {
        display: inline-block;
        vertical-align: middle;
        /* Align vertically with the slider */
    }

    .left-right-icon {
        display: inline-block;
        vertical-align: middle; /* Align vertically with the label */
        font-size: 15px;
        margin-top: 7px;
    }

    .left-btn,
    .right-btn {
        cursor: pointer;
    }

    #attendanceTable_length {
        display: none;
    }

    #attendanceTable_filter {
        display: none;
    }

    .empatt-body {
        font-size: 13px;
        font-weight: 300;
    }

    .attendance-find {
        background-color: #007bff;
    }

    .att-table {
        @*margin-top: 15px;*@
    }

    .att-calender {
        padding: 20px;
    }

    .form-row {
        display: flex;
        align-items: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }

    .apply-div {
        display: flex;
        align-items: center;
    }

    .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
        display: none;
    }

    .empatt-body tr:nth-child(1) th,
    .empatt-body tr:nth-child(1) td {
        padding-top: 20px;
    }
</style>

@{   
    string startDateFormatted = Model.startWeek.ToString("dddd MMMM dd yyyy");
    string endDateFormatted = Model.EndWeek.ToString("dddd MMMM dd yyyy");

}

<div class="container-fluid emp-attendance-list-horizon">
    <div class="main-content container-fluid">
        <div class="content employee-attendance">
            <div class="emp-attendance-container">
                <div class="row res-emp-attendance-header">
                    <div class="col-lg-3 res-emp-attendance-title">
                        <h4>Attendance</h4>
                    </div>
                </div>
            </div>

            <div class="emp-attendance-details attendance-nav" id="empAttendance">

                <div class="att-div">
                    <div>
                        <div id="week-slider" class="left-right-icon">
                            <i class="bi bi-chevron-left left-btn"></i>
                            <span id="week-start">@startDateFormatted</span> - <span id="week-end">@endDateFormatted</span>
                            <i class="bi bi-chevron-right right-btn"></i>
                        </div>
                    </div>

                    <div class="att-calender p-0 d-flex justify-content-end align-items-start">
                        <div class=" from-to-calen">
                            <div class="form-group">
                                <div class="d-flex align-items-center" style="font-size: 14px;">
                                    <span>From</span>
                                    <input type="date" class="form-control ml-2" id="attendancefrom" name="attendancefrom" style="font-size: 13px;">
                                </div>
                                <span id="from-error" class="error-message">Please fill out this field.</span>
                            </div>
                            <div class="form-group">
                                <div class="d-flex align-items-center" style="font-size: 14px;">
                                    <span>To</span>
                                    <input type="date" class="form-control ml-2" id="attendanceto" name="attendanceto" style="font-size: 13px;">
                                </div>
                                <span id="to-error" class="error-message">Please fill out this field.</span>
                            </div>
                            <div class="apply-div">
                                <button class="btn btn-primary apply-filter attendance-find button-color-blue" onclick="return validateDates()">View</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="att-table table-responsive-sm table-responsive">
                    <table id="attendanceTable" class="table table-attendence">
                        <thead class="attendence-thead">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col" style="text-align: center;">Check In - Check Out</th>
                                <th scope="col">Hours</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody class="empatt-body">
                            @foreach (DateTime date in Model.AllDates)
                            {
                                var isWeekendDate = date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday;
                                var weekendtext = "";
                                if (isWeekendDate)
                                {
                                    weekendtext = "weekend";
                                }

                                var isCheckInExists = Model.AttedenceList.Where(x => x.Login_date == date).FirstOrDefault();
                                var empLeave = Model.Leaves.Where(x => x.leavedate == date && (x.LeaveStatus != "Rejected" && x.LeaveStatus != "Cancelled")).FirstOrDefault();

                                if (isCheckInExists != null)
                                {
                                    string starttimeWithAmPm = isCheckInExists.Signin_Time.ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture);
                                    string endtimeWithAmPm = isCheckInExists.Signout_Time?.ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture);

                                    string statusType = "bar-width-green";
                                    string buttonColor = "present-btn";
                                    string attedenceType = "Present";
                                    string attedenceActualType = "";
                                    int hours = 00;
                                    int minutes = 00;

                                    if (endtimeWithAmPm != null)
                                    {
                                        // Initialize endTime as null
                                        DateTime? endTime = null;
                                        endTime = isCheckInExists.Signout_Time;


                                        // Calculate time difference
                                        TimeSpan? timeDifference = endTime - isCheckInExists.Signin_Time;

                                        // Convert time difference to hours and minutes
                                        hours = (int)timeDifference?.TotalHours;
                                        minutes = (int)timeDifference?.Minutes;

                                        //if (hours < 9)
                                        //{
                                        //    statusType = "bar-width-yellow";
                                        //    buttonColor = "yellow-btn";
                                        //    attedenceType = "Permission";
                                        //}
                                    }
                                    else
                                    {
                                        if (isCheckInExists.Login_date == DateTime.Today)
                                        {
                                            // Calculate time difference
                                            TimeSpan? timeDifference = DateTime.Now - isCheckInExists.Signin_Time;

                                            // Convert time difference to hours and minutes
                                            hours = (int)timeDifference?.TotalHours;
                                            minutes = (int)timeDifference?.Minutes;
                                        }
                                    }

                                    if (empLeave != null)
                                    {
                                        if (empLeave.DayType == "fullDay")
                                        {
                                            statusType = "bar-width-red";
                                            attedenceType = "Leave";
                                            attedenceActualType = empLeave.leavesource;
                                            buttonColor = "leave-btn";
                                        }
                                        if (empLeave.DayType == "halfDay")
                                        {
                                            if (empLeave.HalfDayCategory == "First Half")
                                            {
                                                buttonColor = "firsthalf-leave-button";
                                                statusType = "bar-width-firsthalf-leave";
                                            }
                                            else
                                            {
                                                buttonColor = "secondhalf-leave-button";
                                                statusType = "bar-width-second-leave";
                                            }

                                            attedenceType = "H/D Leave";

                                        }
                                        if (empLeave.DayType == "")
                                        {
                                            statusType = "bar-width-yellow";
                                            attedenceType = "Permission";
                                            buttonColor = "yellow-btn";
                                        }

                                    }
                                    <tr>
                                        <th scope="row">@isCheckInExists.Login_date.ToString("dd MMMM yyyy") <br><span class="fntblur">@isCheckInExists.Login_date.ToString("dddd", System.Globalization.CultureInfo.InvariantCulture)</span></th>

                                        <td style="padding: 0 30px !important;" class="bar-wi bar-wd">
                                            <div class="progress attendance-bar bar">
                                                <div class="progress-bar @statusType" role="progressbar" aria-valuenow="75" aria-valuemin="10" aria-valuemax="10"></div>
                                                <span class="bar-time">@starttimeWithAmPm - @endtimeWithAmPm</span>
                                                <div class="progress-bar @statusType" role="progressbar" aria-valuenow="75" aria-valuemin="10" aria-valuemax="10"></div>
                                            </div>
                                        </td>
                                        <td class="bar-wd">@hours.ToString("00").Trim()h:@minutes.ToString("00").Trim()m</td>
                                        <td><button class="@buttonColor" style="pointer-events:none">@attedenceType</button></td>
                                    </tr>
                                }
                                else
                                {
                                    string statusType = "bar-width-gray";
                                    string buttonColor = "gray-btn";
                                    string attedenceType = "Weekend";
                                    string attedenceActualType = "";

                                    if (!isWeekendDate)
                                    {
                                        if (empLeave != null)
                                        {
                                            if (empLeave.leavecategory.ToLowerInvariant().Contains("leave") || empLeave.leavecategory.ToLowerInvariant().Contains("comp off"))
                                            {
                                                statusType = "bar-width-red";
                                                attedenceType = "Leave";
                                                attedenceActualType = empLeave.leavesource;
                                                buttonColor = "leave-btn";
                                            }
                                            if (empLeave.leavecategory.ToLowerInvariant().Contains("permission"))
                                            {
                                                statusType = "bar-width-yellow";
                                                attedenceType = "Permission";
                                                buttonColor = "yellow-btn";
                                            }
                                        }
                                        else
                                        {
                                            statusType = "bar-width-blue";
                                            attedenceType = "Absent";
                                            buttonColor = "absent-btn";
                                        }
                                    }

                                    <tr>
                                        <th scope="row">@date.ToString("dd MMMM yyyy") <br><span class="fntblur">@date.ToString("dddd", System.Globalization.CultureInfo.InvariantCulture)</span></th>
                                        <td style="padding: 0 30px !important;" class="bar-wi bar-wd">
                                            <div class="progress attendance-bar bar res-emp-attendance-@buttonColor">
                                                <div class="progress-bar @statusType" role="progressbar" aria-valuenow="75" aria-valuemin="10" aria-valuemax="10"></div>
                                                @if (!string.IsNullOrWhiteSpace(attedenceActualType))
                                                {
                                                    <span class="bar-time">@attedenceActualType</span>
                                                }
                                                else
                                                {
                                                    <span class="bar-time">@attedenceType</span>
                                                }
                                                <div class="progress-bar @statusType" role="progressbar" aria-valuenow="75" aria-valuemin="10" aria-valuemax="10"></div>

                                            </div>
                                        </td>

                                        <td class="bar-wd">00h:00m</td>
                                        <td><button class="@buttonColor" style="pointer-events:none">@attedenceType</button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
</div>
@Html.Partial("EmployeeFooter")
<script>
    $(document).ready(function () {

        if (!$.fn.DataTable.isDataTable('#attendanceTable')) {
            $('#attendanceTable').DataTable({
                "responsive": true,
                "paging": true,
                "searching": true,
                "scrollY": '62vh',
                "scrollCollapse": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "lengthMenu": [[14, 21, -1], [14, 21, "All"]],
                "columnDefs": [
                    { "orderable": false, "targets": 1 }, // Disable ordering on the Checkin-Check-Out column
                    { "orderable": false, "targets": 3 }  // Disable ordering on the Status column
                ]
            });
        }

    });

</script>
<script src="~/Scripts/z-EmpDash.js"></script>
