@model HRMS.Models.Employee.EmpAttedenceModel

@Html.Partial("_EmployeeNavbar")

<style>
    .attendence-title {
        display: inline-block;
        vertical-align: middle;
        /* Align vertically with the slider */
    }

    .left-right-icon {
        display: inline-block;
        vertical-align: middle; /* Align vertically with the label */
        font-size: 15px;
        margin-top: 7px;
    }

    .left-btn,
    .right-btn {
        cursor: pointer;
    }

    #attendanceTable_length {
        display: none;
    }

    #attendanceTable_filter {
        display: none;
    }

    .empatt-body {
        font-size: 13px;
        font-weight: 300;
    }

    .attendance-find {
        background-color: #007bff;
    }

    .att-table {
        @*margin-top: 15px;*@
    }

    .att-calender {
        padding: 20px;
    }

    .form-row {
        display: flex;
        align-items: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }

    .apply-div {
        display: flex;
        align-items: center;
    }

    .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
        display: none;
    }

    .empatt-body tr:nth-child(1) th,
    .empatt-body tr:nth-child(1) td {
        padding-top: 20px;
    }
</style>

@{
    string startDateFormatted = Model.startWeek.ToString("dd MMMM yyyy");
    string endDateFormatted = Model.EndWeek.ToString("dd MMMM yyyy");

}

<div class="container-fluid emp-attendance-list-horizon">
    <div class="main-content container-fluid">
        <div class="content employee-attendance">
            <div class="emp-attendance-container">
                <div class="row res-emp-attendance-header">
                    <div class="col-lg-3 res-emp-attendance-title">
                        <h4>Attendance</h4>
                    </div>
                </div>
            </div>

            <div class="emp-attendance-details attendance-nav" id="empAttendance">

                <div class="att-div">
                    <div class="emp-leave-header-left">
                        <div id="week-slider" class="left-right-icon">
                            <i class="bi bi-chevron-left left-btn"></i>
                            <span id="week-start">@startDateFormatted</span> - <span id="week-end">@endDateFormatted</span>
                            <i class="bi bi-chevron-right right-btn"></i>
                        </div>
                    </div>

                    <div class="att-calender p-0 d-flex justify-content-end align-items-start">
                        <div class=" from-to-calen">
                            <div class="form-group empatt-from">
                                <div class="d-flex align-items-center" style="font-size: 14px;">
                                    <span>From</span>
                                    <input type="date" class="form-control ml-2" id="attendancefrom" name="attendancefrom" style="font-size: 13px;">
                                </div>
                                <span id="from-error" class="error-message">Please fill out this field.</span>
                            </div>
                            <div class="form-group empatt-to">
                                <div class="d-flex align-items-center" style="font-size: 14px;">
                                    <span>To</span>
                                    <input type="date" class="form-control ml-2" id="attendanceto" name="attendanceto" style="font-size: 13px;">
                                </div>
                                <span id="to-error" class="error-message">Please fill out this field.</span>
                            </div>
                            <div class="apply-div">
                                <button class="btn btn-primary apply-filter attendance-find button-color-blue" onclick="return validateDates()">View</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="att-table table-responsive-sm table-responsive EmpAttedenceTableRows-div">
                    @Html.Partial("~/Views/EmployeeDashboard/_EmpAttendanceTableRows.cshtml", Model)
                </div>

            </div>

        </div>
    </div>
</div>
@Html.Partial("EmployeeFooter")

<script src="~/Scripts/z-EmpDash.js"></script>
