@model HRMS.Models.Employee.EmpDashBoardModel
@using HRMS.Models
@using HRMS.Helpers

@{
    var loginID = 0;
    var buttonText = "Check In";
    DateTime checkInTime = DateTime.MinValue;
    DateTime? checkOutTime = DateTime.MinValue;

    string starttimeWithAmPm = "";
    string endtimeWithAmPm = "00:00:00";

    string lastCheckinDate = "";
    bool showCheckInButton = false;

    bool previousdayortodaycheckinexist = false;

    var buttonDeafultbgcolor = "#3E78CF";


    if (Model.empLastDayCheckInDetails != null && !Model.empLastDayCheckInDetails.IsSignedOutOnLastCheckInDate && Model.empLastDayCheckInDetails.LoginID != 0)
    {
        buttonText = "Check Out";
        loginID = Model.empLastDayCheckInDetails.LoginID;

        checkInTime = Model.empLastDayCheckInDetails.SignInTime;
        checkOutTime = Model.empLastDayCheckInDetails.SignOutTime;

        lastCheckinDate = checkInTime.ToString("dd/MM/yyyy");
        starttimeWithAmPm = checkInTime.ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture);
        showCheckInButton = true;
        previousdayortodaycheckinexist = true;
        buttonDeafultbgcolor = "checkputcolor";
    }

    var ButtonDisabled = "";

    if (Model.empLastDayCheckInDetails.SignInTime == DateTime.MinValue && Model.todayCheckInInfo != null && Model.todayCheckInInfo.login_id != 0)
    {
        loginID = Model.todayCheckInInfo.login_id;
        buttonText = "Check Out";
        checkInTime = Model.todayCheckInInfo.Signin_Time;
        checkOutTime = Model.todayCheckInInfo.Signout_Time;

        if ((checkOutTime != null && checkOutTime != DateTime.MinValue) || Model.IsOnLeave == true)
        {
            buttonText = "Check In";
            ButtonDisabled = "disabled";
        }
        else
        {
            buttonDeafultbgcolor = "checkputcolor";
        }

        starttimeWithAmPm = checkInTime.ToString("hh:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture);
        endtimeWithAmPm = checkOutTime?.ToString("hh:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture);
        previousdayortodaycheckinexist = true;
    }

    if (Model.IsOnLeave == true && previousdayortodaycheckinexist == false)
    {
        if (Model.empLeaveInfo != null && (Model.empLeaveInfo.LeaveStatus == "Cancelled" || Model.empLeaveInfo.LeaveStatus == "Rejected"))
        {
            //Do nothing
        }
        else
        {
            buttonText = "Check In";
            if (Model.empLeaveInfo != null && (Model.empLeaveInfo.DayType == "halfDay" || Model.empLeaveInfo.DayType == ""))
            {
                ButtonDisabled = "";
            }
            else
            {
                ButtonDisabled = "disabled";
            }
        }

    }

    var currentUserSession = Session["SiteContext"] as HRMS.Models.SiteContextModel;

    if ((Model.todayCheckInInfo.Signin_Time != null && Model.todayCheckInInfo.Signin_Time != DateTime.MinValue) && (Model.todayCheckInInfo.Signout_Time == DateTime.MinValue || Model.todayCheckInInfo.Signout_Time == null))
    {
        buttonText = "Check Out";
        buttonDeafultbgcolor = "checkputcolor";
        ButtonDisabled = "";
    }
    else
    {
        buttonDeafultbgcolor = "dh-attendance";
    }

    buttonDeafultbgcolor = buttonText == "Check In" ? "dh-attendance" : "checkputcolor";

}

<style>

    /*.emp-imgs {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

        .emp-imgs img {
            max-width: 100%;
            height: auto;*/ /* Ensures the image maintains its aspect ratio */
    /*}

    .img-edit-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }*/

    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 320px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        height: 100%;
        overflow-y: auto;
    }

    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    .modal-dialog {
        margin: 5% auto;
    }

    .checkputcolor {
        background: linear-gradient(to right, #FF554B, #EA2E24, #D11006);
        color: #fff;
        padding: 5px 7px;
        margin-top: 14px;
        text-align: center;
        cursor: pointer;
        margin-bottom: 10px;
        width: 75%;
    }
</style>

@Html.Partial("_EmployeeNavbar")
<div class="container-fluid emp-dashboard emp-dashboard-horizon">
    <div class="main-content container-fluid" style="width: 84%">
        <div class="hiddenempdashboard"></div>

        <div class="dashboard-header-block">
            <div class="dashboard-header-left">
                <div class="dh-user-name">Hello @Model.EmpInfo.EmployeeName</div>
                <div class="dh-welcome">Welcome to AMBC HRMS Portal</div>
            </div>
            <div class="dashboard-header-right">

                @{
                    var totalCheckInhours = Model.totalCheckedInTime;
                    var formattedCheckInTime = @checkInTime;
                }

                <div class="dh-left">
                    <div class="dh-date" id="dh-dashcurrentDate">@DateTime.Now.ToString("dddd, MMM dd yyyy")</div>
                    <div class="@buttonDeafultbgcolor btn-checkin" data-checkinid="@loginID" @ButtonDisabled>@buttonText</div>
                    <div class="dh-time" id="dh-checkinhoursminutes" data-signedindatetime="@formattedCheckInTime">@totalCheckInhours</div>
                </div>


                <div class="dh-right">
                    <div class="dh-checkin">
                        <label>Check In Time</label>
                        <div class="dh-checkin-time">
                            @if (!string.IsNullOrWhiteSpace(starttimeWithAmPm))
                            {
                                <div class="isusercheckedin" style="display: none">false</div>
                                <span id="checkInTime">@starttimeWithAmPm</span> }
                            else
                            {
                                <div class="isusercheckedin" style="display: none">true</div>
                                <span id="checkInTime">00:00:00</span>
                            }
                        </div>
                    </div>
                    <div class="dh-checkout">
                        <label>Check Out Time</label>
                        <div class="dh-checkout-time">
                            @if (!string.IsNullOrWhiteSpace(endtimeWithAmPm))
                            {
                                <div class="isusercheckedout" style="display: none">false</div>
                                <span id="checkOutTime">@endtimeWithAmPm</span> }
                            else
                            {
                                <div class="isusercheckedout" style="display: none">true</div>
                                <span id="checkOutTime">00:00:00</span>}
                        </div>
                    </div>
                    <div class="dh-currenttime">
                        <label>Current Time</label>
                        <div class="dh-currenttime-display" id="dh-dashcurrentTime">@DateTime.Now.ToString("HH:mm:ss")</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-body-block">
            <div class="row"> @*row start*@
                    <div class="col-lg-4 col-md-6 col-sm-12 emp-dash-basic-info emp-dash-left-block">
                        <div class="ed-blocks ed-birthday">
                            <div class="ed-block-left ed-b-left"><img src="~/Assets/dashboard/birthday.png"></div>
                            <div class="ed-block-right ed-b-right" data-toggle="modal" data-target="#emp-dash-birthday-popup">
                                <div class="ed-block-1 ed-b-birthday">Birthday</div>
                                <div class="ed-block-2 ed-b-celebration">
                                    @(Model.Birthdays.Count() > 0 ? $"{Model.Birthdays.Count()} Celebration(s)" : "No birthdays today")
                                </div>
                            </div>
                        </div>
                        <div class="ed-blocks ed-work-anniversary">
                            <div class="ed-block-left ed-b-left"><img src="~/Assets/dashboard/work-anniversary.png"></div>
                            <div class="ed-block-right ed-b-right" data-toggle="modal" data-target="#emp-dash-workanniversary-popup">
                                <div class="ed-block-1 ed-b-birthday">Work Anniversary</div>
                                <div class="ed-block-2 ed-b-celebration">
                                    @(Model.AnniversaryModel.Count() > 0 ? $"{Model.AnniversaryModel.Count()} Anniversary Celebration(s)" : "No anniversaries today")
                                </div>

                            </div>
                        </div>
                        <div class="ed-blocks ed-new-joiners">
                            <div class="ed-block-left ed-b-left"><img src="~/Assets/dashboard/new-joiners.png"></div>
                            <div class="ed-block-right ed-b-right" data-toggle="modal" data-target="#emp-dash-newjoiner-popup">
                                <div class="ed-block-1 ed-b-birthday">New Joiners</div>
                                <div class="ed-block-2 ed-b-celebration">   @(Model.NewJoiners.Count() > 0 ? $"{Model.NewJoiners.Count()} New Joiner(s)" : "No New Joiners")</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 emp-dash-basic-info emp-dash-middle-block emp-dash-attendance">
                        <div class="emp-dash-block-header">
                            <span class="header-title">Attendance</span>
                            <span class="header-dropdown">
                                @{
                                    var months = DateHelper.GetAllMonths();
                                    var currentMonth = DateTime.Now.Month;

                                }
                                <select name="emp-dash-attendance-yearly" id="emp-dash-attedence-chart">
                                    @foreach (var month in months)
                                    {
                                        <option value="@month.Number" @(month.Number == currentMonth ? "selected" : "")>@month.Name</option>
                                    }
                                </select>
                            </span>
                        </div>
                        <div class="emp-dash-block-content">
                            <canvas id="emp-dash-attendance" style="width:100%;max-width:100%"></canvas>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 emp-dash-basic-info emp-dash-hr-announcements">
                        <div class="emp-dash-block-header">
                            <span class="header-title">HR Announcements</span>
                            <span class="header-viewall"></span>
                        </div>
                        <div class="emp-dash-block-content">
                            <div class="ed-hr-announcements-left">
                                <p class="">Dear Team,</p>
                                <p class="">Wishing you all a wounderful day!</p>
                                <p class="">As the festive season of Diwali approaches, we are excited to announce that 25th October 2024(Friday) will be celebrated as Ethnic Wear Day in the office</p>
                                <div class="ed-hr-announcements-view" data-toggle="modal" data-target="#emp-dash-hr-announcement-popup">View</div>
                            </div>
                            <div class="ed-hr-announcements-right">
                                <img src="~/Assets/dashboard/hr-diwali.png">
                            </div>
                        </div>
                    </div>

                

            
                
                    <div class="col-lg-4 col-md-6 col-sm-12 emp-dash-basic-info emp-dash-upcoming-holidays">
                        <div class="emp-dash-block-header">
                            <span class="header-title">Upcoming Holidays</span>
                            <span class="header-viewall all-holidays-list">View All <i class="far fa-arrow-alt-circle-right"></i></span>
                        </div>
                        <div class="emp-dash-block-content">

                            @foreach (HRMS.Models.EmployeeEvent.UpcomingHoliday holiday in @Model.UpcomingHolidays)
                            {
                                if (@holiday.HolidayDate != DateTime.MinValue)
                                {
                                    <div class="emp-dash-upcoming-holidays-block">
                                        <div class="emp-upcoming-left">
                                            <div class="holiday-name">@holiday.HolidayName</div>
                                            <div class="holiday-date smalltext">@holiday.HolidayDate.ToString("dd MMMM dddd")</div>
                                        </div>
                                        <a class="dashhoiday_description Emp-CompOffRequest"
                                           data-leavenumber="@holiday.HolidayNo"
                                           data-location="@holiday.Region">
                                            <div class="emp-upcoming-right">
                                                <i class="fas fa-chevron-right"></i>
                                            </div>
                                        </a>
                                    </div>}
                            }
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 emp-dash-basic-info emp-dash-recent-tickets">
                        <div class="emp-dash-block-header">
                            <span class="header-title">Recent Tickets</span>
                        </div>
                        <div class="emp-dash-block-content">

                            @foreach (var myTicket in Model.MyTickets)
                            {
                                <div class="emp-dash-recent-tickets-block">
                                    <div class="emp-recent-tickets-left">
                                        <div class="emp-ticket-navbar">@myTicket.TicketType</div>
                                    </div>
                                    <div class="emp-recent-tickets-right">
                                        <div class="recent-tickets-title">@myTicket.Subject</div>
                                        <div class="recent-tickets-info">
                                            <span class="recent-tickets-info-left"><img src="/Assets/dashboard/iconoir-priority-high.png"><span class="emp-ticket-priority-label">Priority</span> - <span class="emp-ticket-priority-status" style="color: #267EC4">@myTicket.Priority</span></span>
                                            <span class="recent-tickets-info-right"><img src="/Assets/ei_user.png"> <span class="emp-ticket-priority-label">Status</span> <span class="emp-ticket-priority-status @HRMS.Helpers.TicketingHelper.GetTicketStatusDashClass(myTicket.Status)">@myTicket.Status</span></span>
                                        </div>
                                    </div>
                                </div>
                            }
                            @*<div class="emp-dash-recent-tickets-block">
                                    <div class="emp-recent-tickets-left">
                                        <div class="emp-ticket-navbar">IT</div>
                                    </div>
                                    <div class="emp-recent-tickets-right">
                                        <div class="recent-tickets-title">System Not Working</div>
                                        <div class="recent-tickets-info">
                                            <span class="recent-tickets-info-left"><img src="/Assets/dashboard/iconoir-priority-high.png"><span class="emp-ticket-priority-label">Priority</span> - <span class="emp-ticket-priority-status priority-medium">Medium</span></span>
                                            <span class="recent-tickets-info-right"><img src="/Assets/ei_user.png"> <span class="emp-ticket-priority-label">Status</span> <span class="emp-ticket-priority-status status-closed">Closed</span></span>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 emp-dash-basic-info emp-dash-right-block emp-dash-management">
                        <div class="ed-blocks ed-learning-management">
                            <div class="ed-block-left ed-b-left"><img src="~/Assets/dashboard/circum_laptop.png"></div>
                            <div class="ed-block-right ed-b-right">
                                <div class="ed-block-1 ed-b-learning-management" style="cursor:pointer">Learning Management System</div>
                            </div>
                        </div>
                        <div class="ed-blocks ed-policies">
                            <div class="ed-block-left ed-b-left"><img src="~/Assets/dashboard/fluent-mdl2_entitlement-policy.png"></div>
                            <div class="ed-block-right ed-b-right">
                                <a href="~/Assets/Policies/Handbook.pdf" target="_blank" style="text-decoration: none;">
                                    <div class="ed-block-1 ed-b-policies" style="cursor:pointer">Handbook</div>
                                </a>
                            </div>
                        </div>
                        <div class="ed-blocks ed-job-referal">
                            <div class="ed-block-left ed-b-left"><img src="~/Assets/dashboard/hugeicons_job-share.png"></div>
                            <div class="ed-block-right ed-b-right">
                                <div class="ed-block-1 ed-b-job-referal" style="cursor:pointer">Job Referral</div>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-lg-4 col-md-6 col-sm-12 emp-dash-basic-info emp-dash-hours-spent">
                            <div class="emp-dash-block-header">
                                <span class="header-title">Hours Spent</span>
                                <span class="header-dropdown">
                                    <select name="emp-dash-hours-spent-yearly" id="emp-dash-hours-spent-yearly">
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                    </select>
                                </span>
                            </div>
                            <div class="emp-dash-block-content">
                                <canvas id="emp-dash-hours-spent" style="width:100%;max-width:100%"></canvas>
                            </div>
                        </div>*@

                
            

            
                
                    <div class="col-lg-8 col-md-6 col-sm-12 emp-dash-basic-info emp-dash-leave">

                        <div class="emp-dash-block-header">
                            <div class="header-title">
                                <span class="header-title">Leave</span>
                            </div>
                        </div>
                        <div class="emp-dash-block-content">
                            <div class="container text-center my-0 leave-container p-0">
                                <div class="leaveslider-container">
                                    <div class="leaveslider-wrapper">
                                        @foreach (var leaveType in Model.LeavesTypeInfo.LeaveTypes)
                                        {
                                            foreach (var leave in leaveType.AvailableLeaves)
                                            {
                                                <div class="leaveslider-item">
                                                    <div class="card">
                                                        <div class="leave-icon @leave.DashBoardColorCode">@leave.ShortName</div>
                                                        <h6 class="leave-title">@leave.Type</h6>
                                                        <p class="leave-details">Available: @leave.Balance.ToString().Replace(".00", "").Replace(".0", "")</p>
                                                        <p class="leave-details">Booked: @leave.Booked</p>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="leaveslider-control left" onclick="prevSlide()">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </div>
                                    <div class="leaveslider-control right" onclick="nextSlide()">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 emp-dash-basic-info emp-dash-calendar">
                        <div class="emp-dash-block-header calendar-header">
                            <div class="header-title">
                                <h6 id="monthYear" class="mt-1 mb-0"></h6>
                            </div>
                            <div class="header-dropdown">
                                <i class="fas fa-chevron-left chevron-icon ml-4" onclick="prevMonth()"></i>
                                <i class="fas fa-chevron-right chevron-icon mr-1" onclick="nextMonth()"></i>
                            </div>
                        </div>
                        <div class="emp-dash-block-content calendar-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Mon</th>
                                        <th scope="col">Tue</th>
                                        <th scope="col">Wed</th>
                                        <th scope="col">Thu</th>
                                        <th scope="col">Fri</th>
                                        <th scope="col">Sat</th>
                                        <th scope="col">Sun</th>
                                    </tr>
                                </thead>
                                <tbody id="calendarBody"></tbody>
                            </table>
                        </div>

                    </div>
                </div> @*row end*@
            </div>
            

        </div>

    
    @Html.Partial("_compoff", Model.Employees)


    <div class="modal fade emp-dash-modal" id="emp-dash-birthday-popup" tabindex="-1" role="dialog" aria-labelledby="emp-dash-birthday-popup" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:1px solid transparent;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle"></i>
                        @*<span aria-hidden="true">&times;</span>*@
                    </button>
                </div>
                <div class="modal-body">
                    @if (Model.Birthdays != null && Model.Birthdays.Any())
                    {
                        foreach (var birthdayEmp in Model.Birthdays)
                        {
                            <div class="emp-dash-modal-blocks">
                                <div class="emp-dash-modal-header">
                                    <div class="emp-dash-modal-left">
                                        @{
                                            var empBirthdayDisplay = EmployeeHelper.GetEmployeeDisplayInfo(birthdayEmp.Empid, birthdayEmp.EmpInfo);
                                        }

                                        @if (!string.IsNullOrWhiteSpace(empBirthdayDisplay.ImageSrc))
                                        {
                                            <div class="emp-dash-modal-navbar"><img src="@empBirthdayDisplay.ImageSrc" alt="Employee Image" class="asseet-transfer-image"></div>
                                        }
                                        else
                                        {
                                            <div class="emp-dash-modal-navbar">@empBirthdayDisplay.EmpShortName</div>
                                        }

                                    </div>
                                    <div class="emp-dash-modal-right">
                                        <div class="emp-dash-modal-title">@empBirthdayDisplay.EmpInfo.EmployeeName</div>
                                        <div class="emp-dash-modals-info">@empBirthdayDisplay.EmpInfo.Designation</div>
                                    </div>
                                </div>
                                <div class="emp-dash-modal-body">
                                    <textarea class="emp-dash-modal-message" name="emp-dash-modal-message" rows="3" cols="50" placeholder="Wish here..."></textarea>
                                    <div class="message-feedback" style="display: none;"></div>
                                </div>
                                <div class="emp-dash-modal-footer">
                                    <button type="button" class="btn btn-primary emp-dash-modal-send" data-notificationtype="Birthday" data-notificationtoid="@empBirthdayDisplay.EmpInfo.EmployeeID" data-notificationtoname="@empBirthdayDisplay.EmpInfo.EmployeeName">Send</button>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="no-birthdays-message" style="text-align: center; font-size: 16px; color: gray; padding: 80px 0;">
                            No Birthdays Today
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade emp-dash-modal" id="emp-dash-workanniversary-popup" tabindex="-1" role="dialog" aria-labelledby="emp-dash-workanniversary-popup" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:1px solid transparent;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle"></i>
                        @*<span aria-hidden="true">&times;</span>*@
                    </button>
                </div>
                <div class="modal-body">
                    @if (Model.AnniversaryModel != null && Model.AnniversaryModel.Any())
                    {
                        foreach (var anniversaryEmp in Model.AnniversaryModel)
                        {
                            <div class="emp-dash-modal-blocks">
                                <div class="emp-dash-modal-header">
                                    <div class="emp-dash-modal-left">
                                        @{
                                            var empAnniversaryDisplay = EmployeeHelper.GetEmployeeDisplayInfo(anniversaryEmp.Empid, anniversaryEmp.EmpInfo);
                                        }

                                        @if (!string.IsNullOrWhiteSpace(empAnniversaryDisplay.ImageSrc))
                                        {
                                            <div class="emp-dash-modal-navbar"><img src="@empAnniversaryDisplay.ImageSrc" alt="Employee Image" class="asseet-transfer-image"></div>
                                        }
                                        else
                                        {
                                            <div class="emp-dash-modal-navbar">@empAnniversaryDisplay.EmpShortName</div>
                                        }
                                    </div>
                                    <div class="emp-dash-modal-right">
                                        <div class="emp-dash-modal-title">@empAnniversaryDisplay.EmpInfo.EmployeeName</div>
                                        <div class="emp-dash-modals-info">@empAnniversaryDisplay.EmpInfo.Designation</div>
                                    </div>
                                </div>
                                <div class="emp-dash-modal-body">
                                    <textarea class="emp-dash-modal-message" name="emp-dash-modal-message" rows="3" cols="50" placeholder="Wish here..."></textarea>
                                    <div class="message-feedback" style="display: none;"></div>
                                </div>
                                <div class="emp-dash-modal-footer">
                                    <button type="button" data-notificationtype="Anniversary" data-notificationtoid="@empAnniversaryDisplay.EmpInfo.EmployeeID" data-notificationtoname="@empAnniversaryDisplay.EmpInfo.EmployeeName" class="btn btn-primary emp-dash-modal-send">Send</button>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="no-anniversaries-message" style="text-align: center; font-size: 16px; color: gray; padding: 80px 0;">
                            No Anniversaries Today
                        </div>}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade emp-dash-modal" id="emp-dash-newjoiner-popup" tabindex="-1" role="dialog" aria-labelledby="emp-dash-newjoiner-popup" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:1px solid transparent;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle"></i>
                        @*<span aria-hidden="true">&times;</span>*@
                    </button>
                </div>
                <div class="modal-body">
                    @if (Model.NewJoiners != null && Model.NewJoiners.Any())
                    {
                        foreach (var newJoinerEmp in Model.NewJoiners)
                        {
                            <div class="emp-dash-modal-blocks">
                                <div class="emp-dash-modal-header">
                                    <div class="emp-dash-modal-left">
                                        @{
                                            var empNewJoinerDisplay = EmployeeHelper.GetEmployeeDisplayInfo(newJoinerEmp.EmployeeID, newJoinerEmp);
                                        }

                                        @if (!string.IsNullOrWhiteSpace(empNewJoinerDisplay.ImageSrc))
                                        {
                                            <div class="emp-dash-modal-navbar"><img src="@empNewJoinerDisplay.ImageSrc" alt="Employee Image" class="asseet-transfer-image"></div>
                                        }
                                        else
                                        {
                                            <div class="emp-dash-modal-navbar">@empNewJoinerDisplay.EmpShortName</div>
                                        }
                                    </div>
                                    <div class="emp-dash-modal-right">
                                        <div class="emp-dash-modal-title">@empNewJoinerDisplay.EmpInfo.EmployeeName</div>
                                        <div class="emp-dash-modals-info">@empNewJoinerDisplay.EmpInfo.Designation</div>
                                    </div>
                                </div>
                                <div class="emp-dash-modal-body">
                                    <textarea class="emp-dash-modal-message" name="emp-dash-modal-message" rows="3" cols="50" placeholder="Wish here..."></textarea>
                                    <div class="message-feedback" style="display: none;"></div>
                                </div>
                                <div class="emp-dash-modal-footer">
                                    <button type="button" class="btn btn-primary emp-dash-modal-send" data-notificationtype="NewJoining" data-notificationtoid="@empNewJoinerDisplay.EmpInfo.EmployeeID" data-notificationtoname="@empNewJoinerDisplay.EmpInfo.EmployeeName">Send</button>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="no-new-joiners-message" style="text-align: center; font-size: 16px; color: gray; padding: 80px 0;">
                            No New Joiners Today
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="emp-dash-hr-announcement-popup" tabindex="-1" role="dialog" aria-labelledby="emp-dash--hr-announcement-popup" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:1px solid transparent;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="ed-hr-announcements-left">
                        <p class="">Dear Team,</p>
                        <p class="">Wishing you all a wounderful day!</p>
                        <p class="">As the festive season of Diwali approaches, we are excited to announce that 25th October 2024(Friday) will be celebrated as Ethnic Wear Day in the office</p>
                        <p class="">Let's come together in traditional or ethnic attire of your choice</p>
                        <p class="">Let's come together in traditional or ethnic attire of your choice</p>
                    </div>
                    <div class="ed-hr-announcements-right">
                        <img src="~/Assets/dashboard/hr-diwali.png">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<span class="showcheckinbuttonpostcheckout" style="display: none">@showCheckInButton</span>
@Html.Partial("EmployeeFooter")

<script src="~/Scripts/z-EmpDash.js"></script>
<script src="~/Scripts/z-empleave.js"></script>

<script>
    let currentIndex = 0;

    function updateleaveslider() {
        const leavesliderWrapper = document.querySelector('.leaveslider-wrapper');
        const items = document.querySelectorAll('.leaveslider-item');
        const itemWidth = items[0].getBoundingClientRect().width;
        const totalItems = items.length;
        const visibleItems = Math.floor(document.querySelector('.leaveslider-container').clientWidth / itemWidth);

        if (currentIndex >= totalItems - visibleItems) {
            currentIndex = totalItems - visibleItems;
        }

        if (currentIndex < 0) {
            currentIndex = 0;
        }

        leavesliderWrapper.style.transform = `translateX(-${currentIndex * itemWidth}px)`;
    }

    function nextSlide() {
        currentIndex++;
        if (currentIndex >= document.querySelectorAll('.leaveslider-item').length) {
            currentIndex = 0; // Loop back to the first item
        }
        updateleaveslider();
    }

    function prevSlide() {
        currentIndex--;
        if (currentIndex < 0) {
            currentIndex = document.querySelectorAll('.leaveslider-item').length - 1; // Loop back to the last item
        }
        updateleaveslider();
    }

    window.addEventListener('resize', updateleaveslider);
    window.addEventListener('load', () => {
        updateleaveslider();

        // Start automatic sliding
        /*setInterval(nextSlide, slideInterval);*/
    });





</script>
<script src="~/Scripts/z-jobreferralscript.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>



    var xValues = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug"];
    var yValues = [290, 250, 245, 125, 10, 255, 160, 60];
    var barColors = ["#9540ED", "#9540ED", "#9540ED", "#9540ED", "#9540ED", "#9540ED", "#9540ED", "#9540ED"];

    new Chart("emp-dash-hours-spent", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues,
                borderWidth: 0
            }]
        },
        options: {
            legend: {
                display: false // Disable the legend
            },
            scales: {
                xAxes: [{
                    barPercentage: 0.5,  // Adjust the width of the bars
                    categoryPercentage: 0.5, // Adjust the space between bars
                    gridLines: {
                        display: false // Remove gridlines on the x-axis
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                        display: false
                    }
                }]
            }
        }
    });


    $(document).on('click', '.all-holidays-list', function () {
        window.location.href = '/EmpDash/Holidays';
    });

</script>