
<style>
    .position-relative {
        position: relative;
    }

    .emp-leaveoptions {
        position: relative;
        right: 0;
        top: 100%;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        display: none;
    }

    .leave-edit-history {
        cursor: pointer;
    }

    /* Additional styling for the dropdown menu items */
    .dropdown-item {
        padding: 8px 16px;
        display: block;
        color: #333;
        text-decoration: none;
    }

        .dropdown-item:hover {
            background-color: #f0f0f0;
        }

    #leaveHistoryTable_length {
        display: none;
    }

    #leaveHistoryTable_filter {
        display: none;
    }

    /*.position-relative {
        width: 64px;
    }

    #leaveHistoryTable tbody tr {
        height: 90px;
    }

    .rowBorder .mutedText {
        color: #A8A8A8;
        font-size: 12px;
    }*/

    #empleaveCompOffTable_length {
        display: none;
    }
</style>
@Html.Partial("_NavBar")
<div class="container-fluid emp-leave">
    @Html.Partial("_empsidemenu")
    <div class="main-content container-fluid" style="width: 84%">
        <div class="hiddenempdashboard" style="display: none"></div>
        <div class="content leave-dashboard-data" style="margin-top: 3%; margin-left: 2% ">
            <div class="empleave-container">

                <style>
                    .weekend-background {
                        color: gray;
                    }
                </style>
                <div class="container-fluid">
                    <div class="row res-emp-leave-title">
                        <div class="tracker_topic mt-3 ml-3">Leave Tracker</div>
                    </div>
                    <div class="row mt-3 res-emp-carousel">
                        <div class="col-10 col-sm-10 col-md-7 col-lg-10 col-xl-10 col-xxl-10 p-sm-0 res-emp-carousel-block">
                            <!---Leave carousel top----->
                            <div class="row mx-auto my-auto">
                                <div id="leaveCarousel" class="carousel slide w-100" data-ride="carousel">
                                    <div class="carousel-inner carousel-leave-inner w-100 tracker-100" role="listbox">

                                    </div>

                                    <a class="carousel-control-next btn_nxtleave" href="#leaveCarousel" role="button" data-slide="next">
                                        <i class="fa-solid fa-chevron-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-sm-12 col-md-4 col-lg-2 col-xl-2 col-xxl-2 d-flex flex-column align-items-center res-emp-apply">
                            <div class="applyleave_btn">
                                <button class="btn btn-primary btn-apply-leave">Apply Leave</button>
                            </div>
                            <div class="leavehistory_btn d-flex mt-2 mb-1">
                                <i class="fa-solid fa-clock-rotate-left icon-leave mt-1 mr-1"></i>
                                <a href="#" class="history_btn">Leave History</a>
                            </div>
                        </div>
                    </div>
                    <div class="card empleave-card mb-3">
                        <div class="card-header empleave-card-header empleave-calendar-header text-dark mt-4">
                            <i class="fas fa-chevron-left empleave-chevron-icon" onclick="prevLeaveMonth()"></i>
                            <h6 id="empleave-monthYear"></h6>
                            <i class="fas fa-chevron-right empleave-chevron-icon" onclick="nextLeaveMonth()"></i>
                        </div>
                        <div class="card-body empleave-calendar-body table-responsive">
                            <table class="table empleave-calendar-table" style="width: 80%; color: #23366f">
                                <thead>
                                    <tr>
                                        <th scope="col">Monday</th>
                                        <th scope="col">Tuesday</th>
                                        <th scope="col">Wednesday</th>
                                        <th scope="col">Thursday</th>
                                        <th scope="col">Friday</th>
                                        <th scope="col">Saturday</th>
                                        <th scope="col">Sunday</th>
                                    </tr>
                                </thead>
                                <tbody id="empleave-calendarBody"></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="leave-history mt-4" style="display: none;">

                        <ul class="nav nav-tabs res-admin-empleave-tabs responsive-tabs" id="myTab" role="tablist" style="background-color: #EEF4FF; font-size: 15px; width: 100%;">
                            <li class="nav-item active" role="presentation">
                                <a class="nav-link active" id="tab1-link" data-toggle="tab" href="#empLeaveHistoryTab1" role="tab" aria-controls="empLeaveHistoryTab1" aria-selected="true"><b>Leave History</b></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tab2-link" data-toggle="tab" href="#empComponsatoryOffTab2" role="tab" aria-controls="empComponsatoryOffTab2" aria-selected="false"><b>Compensatory Off</b></a>
                            </li>
                            <i class="fa fa-caret-up" ></i>
                            <i class="fa fa-caret-down"></i>
                        </ul>

                        <div class="tab-content" id="myTabContentEmpLeaveHistory">

                            <div class="empleavehistory-year tab-pane fade show active" id="empLeaveHistoryTab1" role="tabpanel" aria-labelledby="tab1-link">
                                <div class="leavehistory-year">
                                    <h5 style="visibility:hidden;">Leave History</h5>

                                    @{
                                        int currentYear = DateTime.Now.Year;
                                        List<int> years = new List<int>();

                                        for (int i = 0; i <= 10; i++)
                                        {
                                            years.Add(currentYear - i);
                                        }
                                    }
                                    <div class="year-dropdown">

                                        <select class="form-control" id="leavehistoryyear">

                                            @foreach (var year in years)
                                            {
                                                <option value="@year">@year</option>
                                            }
                                        </select>
                                    </div>

                                    <!--<div class="year-dropdown">
                                    <div class="year-dropdown-select" id="leaveYearSelected" onclick="toggleLeaveYearOptions()">Year</div>
                                    <div class="year-dropdown-options" id="leaveYearOptions">-->
                                    <!-- Year options will be dynamically populated here -->
                                    <!--</div>
                                    </div>-->
                                </div>

                                <div class="table-responsive">
                                    <table id="leaveHistoryTable" class="table leave-history-table">
                                        <thead style="display: none">
                                            <tr>
                                                <th>Date</th>
                                                <th>Day(s)</th>
                                                <th>Leave Type</th>
                                                <th>Status</th>
                                                <th>Reason</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="empleavecompoff-year tab-pane fade" id="empComponsatoryOffTab2" role="tabpanel" aria-labelledby="tab2-link">
                                <div class="empleavecompoff-year">
                                </div>
                                <div class="table-responsive">
                                    <table id="empleaveCompOffTable" class="table empleave-compoff-table mt-4">
                                        <thead style="display: none">
                                            <tr>
                                                <th>Emp ID</th>
                                                <th>Emp Name</th>
                                                <th>Requested Date</th>
                                                <th>Work Date</th>
                                                <th>Status</th>
                                                <th>Reason</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@Html.Partial("CommonModalPopups")

<script>
    function FillEmpBasedLeavesAvailability() {
        $.ajax({
            url: '/empleave/employeeleavesbytype',
            method: 'POST',
            dataType: 'html',
            data: { empId: $('.loggedinempid').text() },
            success: function (response) {
                $('.carousel-leave-inner').append(response);
                LeaveCarousel();
            },
            error: function (error) {
                console.error('Error fetching data', error);
            }
        });
    }

    FillEmpBasedLeavesAvailability();

    //leave history year calender
    const selectedYear = document.getElementById('leaveYearSelected');
    const yearOptions = document.getElementById('leaveYearOptions');



    // Close dropdown when clicking outside of it
    document.onclick = function (e) {
        if (!e.target.closest('.year-dropdown')) {
            yearOptions.style.display = 'none';
        }
    };
</script>