@model HRMS.Models.TicketingModel

<style>
    .error-message {
        color: red;
    }

    .form-control.error {
        border-color: red;
    }
</style>
@Html.Partial("_EmployeeNavbar")


<div class="container-fluid emp-ticketing-raise-horizon">
    <div class="main-content container-fluid">
        <div class="content employee-raiseticketing">
            <div class="emp-raiseticketing-container">
                <div class="row res-emp-raiseticketing-header">
                    <div class="col-lg-3 res-emp-raiseticketing-title">
                        <h4 class="raiseticketing-pagetitle">Raise Ticket</h4>
                    </div>
                </div>
            </div>

            <div class="EmpTicket-raise-container" id="empRaiseTicketingFields">
                <div class="col-lg-6 col-md-11 emp-ticket-raise-popup-form">
                    <form id="emp-ticket-raise-Form">
                        <div class="form-group">
                            <div class="col-lg-9 form-group div-emp-raiseticket-ticketype">
                                <label for="emp-raiseticket-ticketype" class="emp-raiseticket-label">Ticket Type*</label>
                                <select class="form-control" id="emp-raiseticket-ticketype">
                                    <option selected="" disabled="">Select IT or HR</option>
                                    <option value="IT" @(Model.ticketinfo != null && Model.ticketinfo.TicketType == "IT" ? "selected" : "")>IT</option>
                                    <option value="HR" @(Model.ticketinfo != null && Model.ticketinfo.TicketType == "HR" ? "selected" : "")>HR</option>
                                </select>
                                <span class="error-message" id="emp-raiseticket-ticketype-error"></span>
                            </div>

                            @{
                                var showCategory = "display : none";
                                if (Model.IsEditRecord)
                                {
                                    showCategory = "display : block";
                                }

                            }

                            <div style="display: none" class="iseditablerecorddiv">@Model.IsEditRecord</div>

                            @if (Model.IsEditRecord)
                            {
                                <div style="display: none" class="editablerecordticketnumber">@Model.ticketinfo.TicketNo</div>
                            }

                            <div class="col-lg-9 form-group div-emp-raiseticket-category" id="category-div" style="@showCategory">
                                <label for="emp-raiseticket-category" class="emp-raiseticket-label">Category*</label>

                                @{
                                    var showITCategory = "display : none";
                                    var showHRCategory = "display : none";
                                    if (Model.ticketinfo != null && Model.ticketinfo.TicketType == "IT")
                                    {
                                        showITCategory = "display : block";
                                    }
                                    if (Model.ticketinfo != null && Model.ticketinfo.TicketType == "HR")
                                    {
                                        showHRCategory = "display : block";
                                    }
                                }
                                <select class="form-control" id="emp-raiseticket-itcategory" style="@showITCategory">
                                    <option selected="" disabled="">Select Category</option>
                                    <option value="Hardware" @(Model.ticketinfo != null && Model.ticketinfo.Category == "Hardware" ? "selected" : "")>Hardware</option>
                                    <option value="Software" @(Model.ticketinfo != null && Model.ticketinfo.Category == "Software" ? "selected" : "")>Software</option>
                                    <option value="Network" @(Model.ticketinfo != null && Model.ticketinfo.Category == "Network" ? "selected" : "")>Network</option>
                                    <option value="Others" @(Model.ticketinfo != null && Model.ticketinfo.Category == "Others" ? "selected" : "")>Others</option>
                                </select>
                                <select class="form-control" id="emp-raiseticket-hrcategory" style="@showHRCategory">
                                    <option selected="" disabled="">Select Category</option>
                                    <option value="Recruitment" @(Model.ticketinfo != null && Model.ticketinfo.Category == "Recruitment" ? "selected" : "")>Recruitment</option>
                                    <option value="Payroll" @(Model.ticketinfo != null && Model.ticketinfo.Category == "Payroll" ? "selected" : "")>Payroll</option>
                                    <option value="Benefits" @(Model.ticketinfo != null && Model.ticketinfo.Category == "Benefits" ? "selected" : "")>Benefits</option>
                                    <option value="PF" @(Model.ticketinfo != null && Model.ticketinfo.Category == "PF" ? "selected" : "")>PF</option>
                                    <option value="Leaves" @(Model.ticketinfo != null && Model.ticketinfo.Category == "Leaves" ? "selected" : "")>Leaves</option>
                                    <option value="Others" @(Model.ticketinfo != null && Model.ticketinfo.Category == "Others" ? "selected" : "")>Others</option>
                                </select>
                                <span class="error-message" id="emp-raiseticket-category-error"></span>
                            </div>
                            <div class="col-lg-9 form-group">
                                <label for="emp-raiseticket-subject">Subject*</label>
                                <input type="text" value="@Model.ticketinfo.Subject" class="form-control" id="emp-raiseticket-subject" placeholder="Enter Subject">
                                <span class="error-message" id="emp-raiseticket-subject-error"></span>
                            </div>
                            <div class="col-lg-9 form-group">
                                <label for="emp-raiseticket-description">Description*</label>
                                <textarea class="form-control" id="emp-raiseticket-description">@Model.ticketinfo.Description</textarea>
                                <span class="error-message" id="emp-raiseticket-description-error"></span>
                            </div>
                            @*<div class="form-group">
                    <label for="emp-raiseticket-attach">Attach File</label>
                    <span class="emp-raiseticket-attach-upload-btn-wrapper">
                        <button type="button" class="btn emp-raiseticket-attach-label">Upload a file</button>
                        <input type="file" id="emp-raiseticket-attach-file-upload" name="emp-raiseticket-attach-file-upload" accept="image/jpeg, image/png">
                        <span class="emp-raiseticket-file-name"></span>
                    </span>
                    <div class="emp-raiseticket-attach-file-upload-size">Only JPEG, PNG with max size of 2MB</div>
                    <span class="error-message" id="emp-raiseticket-attach-error"></span>
                </div>*@
                            <div class="col-lg-12 form-group emp-raiseticketing-upload-field">
                                <div class="col-lg-9 emp-raiseticketing-upload-left">
                                    <span class="emp-raiseticketing-upload-icon"><img src="~/Assets/upload-icon.png"></span>
                                    <span class="emp-raiseticketing-upload-btn">
                                        <span class="emp-raiseticket-attach-upload-btn-wrapper">
                                            <button type="button" class="btn emp-raiseticket-attach-label">Upload file</button>
                                            <input type="file" id="emp-raiseticket-attach-file-upload" name="emp-raiseticket-attach-file-upload" accept="image/jpeg, image/png">
                                            <span class="emp-raiseticket-file-name"></span>
                                        </span>
                                        <div class="emp-raiseticket-attach-file-upload-size">Only JPEG, PNG with max size of 2MB</div>
                                    </span>
                                    <span class="error-message" id="emp-raiseticket-attach-error"></span>
                                </div>
                                <div class="col-lg-3 emp-raiseticketing-upload-right"></div>

                                @if (Model.ticketinfo != null && !string.IsNullOrWhiteSpace(Model.ticketinfo.AttatchimageFile))
                                {
                                    <a class="ticketing_filepath" href="/@System.Configuration.ConfigurationManager.AppSettings["TicketingAbsolutePath"]/@Model.ticketinfo.TicketType/@Model.ticketinfo.AttatchimageFile" target="_blank">@Model.ticketinfo.AttatchimageFile</a><br />
                                }

                            </div>
                            <div class="col-lg-9 form-group div-emp-raiseticket-priority">
                                <label for="emp-raiseticket-priority" class="emp-raiseticket-priority-label">Priority*</label>
                                <select class="form-control" id="emp-raiseticket-priority">
                                    <option selected="" disabled="">Select Priority</option>
                                    <option value="High" @(Model.ticketinfo != null && Model.ticketinfo.Priority == "High" ? "selected" : "")>High</option>
                                    <option value="Mid" @(Model.ticketinfo != null && Model.ticketinfo.Priority == "Mid" ? "selected" : "")>Mid</option>
                                    <option value="Low" @(Model.ticketinfo != null && Model.ticketinfo.Priority == "Low" ? "selected" : "")>Low</option>
                                </select>
                                <span class="error-message" id="emp-raiseticket-priority-error"></span>
                            </div>
                            <div class="col-lg-9 emp-raiseticket-submit">
                                <button type="button" class="btn btn-apply-emp-raiseticket-cancel mb-4">Cancel</button>
                                @{
                                    var buttonText = Model.IsEditRecord ? "Update" : "Raise";
                                }
                                <button type="button" class="btn btn-primary btn-apply-emp-raiseticket-submit mb-4">@buttonText</button>
                            </div>
                        </div>
                    </form>


                    <!-- Modal for success message -->
                    <div class="modal fade" id="TicketingmessageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="messageModalLabel">Message</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="modalMessage">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-closeticketing-refreshpage">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>


        </div>
    </div>
</div>
@Html.Partial("EmployeeFooter")
<script src="~/Scripts/z-raiseticket.js"></script>

<script>
    $(document).ready(function () {
        $("#emp-raiseticket-attach-file-upload").change(function (e) {
            @*$('.edit-AssetType1Image').hide();*@
            $('#emp-ticket-raise-Form .emp-raiseticketing-upload-right').empty();
            for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
                var file = e.originalEvent.srcElement.files[i];
                var img = document.createElement("img");
                var reader = new FileReader();
                reader.onloadend = function () {
                    img.src = reader.result;
                }
                reader.readAsDataURL(file);
                $("#emp-ticket-raise-Form .emp-raiseticketing-upload-right").append(img);
                $("#emp-ticket-raise-Form .emp-raiseticketing-upload-right").append("<span class='emp-raiseticket-uploaded-image-close'><i class='fa fa-times-circle' aria-hidden='true'></i></span>");
            }
        });

        $(document).on("click", ".emp-raiseticket-uploaded-image-close", function () {
            $('#emp-ticket-raise-Form .emp-raiseticket-file-name').empty();
            $('#emp-ticket-raise-Form .emp-raiseticketing-upload-right').empty();
        });

    });
</script>