@model HRMS.Models.TicketingModel

<style>
    #empticketlistingTable_length {
        display: none;
    }

    #empticketlistingTable_filter {
        display: none;
    }
</style>

@Html.Partial("_NavBar")
<div class="container-fluid emp-Ticket-view">
    @Html.Partial("_empsidemenu")
    <div class="main-content container-fluid" style="width: 84%">
        <div class="hiddenempdashboard" style="display:none"></div>
        <div class="content employee-Ticketing myrequest-dashboard-data" style="margin-top: 3%;">
            <div class="empTicketing-container">
                <div class="row res-emp-tickethistory-header">
                    <div class="col-lg-3 res-emp-tickethistory-title">
                        <h4>Ticket History</h4>
                    </div>
                    <div class="col-lg-6 res-emp-tickethistory-mid">

                    </div>
                    <div class="col-lg-3 res-emp-tickethistory-right">
                        <button type="button" class="btn btn-primary btn-empRaiseTicket">Raise Ticket</button>
                    </div>
                </div>

            </div>
            <div class="empleave-ticket-history" id="empTicketHistory">
                <div class="res-emp-ticket-listing-table table-responsive">
                    <table class="table table-emp-ticket-listing" id="empticketlistingTable" style="font-size:14px;">
                        <thead style="background-color: #EEF4FF; border-radius: 10px; display: none">
                            <tr>
                                <th>Emp-ID</th>
                                <th>Priority</th>
                                <th>Location</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.empTickets)
                            {
                                <tr data-ticketnum="@ticket.TicketNo">
                                    <td style="width: 300px">
                                        <div class="res-emp-ticketlisting-user-details" style="display: flex; align-items: center;">
                                            <i class="emp-ticket-msg-icon fa-regular fa-message"></i>
                                            <span style="margin-top: 0px; margin-right: 10px;">
                                                <div class="emp-ticketing-listing-title" data-ticketnum="@ticket.TicketNo">@ticket.Subject</div>
                                                <div class="emp-ticketing-listing-details">
                                                    <span class="emp-ticket-id">#@ticket.TicketNo</span>
                                                    <span class="emp-ticket-info"><i class="fa-solid fa-folder" aria-hidden="true"></i> @ticket.TicketType - @ticket.Category</span>
                                                </div>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width: 400px" class="res-emp-ticketlisting-priority">
                                        @if (ticket.Closed_date.HasValue)
                                        {
                                            TimeSpan responseTime = ticket.Closed_date.Value - ticket.Created_date.Value;
                                            <div class="emp-ticketing-response-time">
                                                Response Time @responseTime.TotalHours.ToString("0.00") Hr
                                            </div> }
                                        @*else
                                            {
                                                <div class="emp-ticketing-response-time">
                                                    Response Time: N/A
                                                </div>}*@
                                        <div class="emp-ticketing-priority-date">
                                            <span class="emp-ticket-prioritylevel">
                                                <span class="res-emp-ticketlisting-color @HRMS.Helpers.TicketingHelper.GetPriorityColor(ticket.Priority)"></span>
                                                <span class="res-emp-ticketlisting-priority-status">@ticket.Priority</span>
                                            </span>
                                            <span class="res-emp-ticketlisting-date">
                                                <i class="fa-solid fa-clock" aria-hidden="true"></i>
                                                @if (ticket.Created_date.HasValue)
                                                {
                                                    <span class="res-empticketlisting-priority-status">@ticket.Created_date.Value.ToString("dd MMM yyyy, ddd hh:mmtt")</span>
                                                }
                                                else
                                                {
                                                    <span class="res-empticketlisting-priority-status">Date Not Available</span>
                                                }
                                            </span>

                                        </div>
                                    </td>
                                    <td class="res-emp-ticketlisting-location-info">
                                        <div class="emp-ticketing-empty-block"></div>
                                        @*@if (ticket.Status == "Open")
                                            {
                                                <div class="emp-ticketing-listing-openedby">Open By: <span>@ticket.EmployeeName</span></div>
                                            }
                                            else if (ticket.Status == "ReOpen")
                                            {
                                                <div class="emp-ticketing-listing-reopenedby">Re-Open By: <span>@ticket.EmployeeName</span></div>
                                            }
                                            else if (ticket.Status == "Resolved")
                                            {*@
                                        <div class="emp-ticketing-listing-closedby">Resolved By: <span>@ticket.ResolvedByName</span></div>
                                        @*}
                                            else if (ticket.Status == "Closed")
                                            {
                                                <div class="emp-ticketing-listing-closedby">Closed By: <span>@ticket.ResolvedByName</span></div>
                                            }*@
                                    </td>

                                    <td class="res-emp-ticketlisting-status">
                                        <div class="emp-ticketing-empty-block"></div>
                                        <div class="res-empticketlisting-status-level @HRMS.Helpers.TicketingHelper.GetTicketStatusCssClass(ticket.Status)">@ticket.Status</div>
                                    </td>

                                    @{
                                        var ticketStatus = ticket.Status == "Open" ? "display: block" : "display: none";
                                    }
                                    <td class="fontSmall position-relative" style="@ticketStatus">
                                        <i class="fas fa-ellipsis-h emp-ticket-edit-history" onclick="toggleLeaveTicketHistoryActionOptions(this)"></i>
                                        <div class="emp-tickethistoryoptions" style="display:none">
                                            @*<a class="dropdown-item emp-tickethistory-edit" onclick="emptickethistoryedit($(this))" data-ticketname="@ticket.TicketNo">Edit</a>*@
                                            <a class="dropdown-item emp-tickethistory-cancel" onclick="emptickethistorycancel($(this))" data-ticketname="@ticket.TicketNo">Cancel</a>
                                        </div>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Confirmation Modal -->
<div id="empTicketConfirmCancelModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="empTicketConfirmCancelModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="empTicketConfirmCancelModalLabel">Confirm Cancel Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this ticket?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-ticketname="" id="empTicketConfirmCancelButton">Cancel Ticket</button>
            </div>
        </div>
    </div>
</div>

<!-- emp ticket comments Modal -->
<div id="empTicketCommentsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="empTicketCommentsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                @*<div class="emp-ticketing-commentbox-popup">
                        <div class="form-group">
                            <label for="emp-tickethistory-comment-label">Comment</label>
                            <textarea class="form-control" id="emp-tickethistory-comments"></textarea>
                        </div>
                        <div class="emp-tickethistory-comment-submit">
                            <button type="submit" class="btn btn-apply-emp-tickethistory-comment-reopen mb-4">Re-Open</button>
                            <button type="submit" class="btn btn-primary btn-apply-emp-tickethistory-comment-submitbtn mb-4">Acknowledge</button>
                        </div>
                    </div>*@
                <div class="emp-ticketing-commentbox-popup-list">
                    <div class="emp-ticketing-commentbox-list">
                        <div class="col-lg-1 emp-ticketing-commentbox-left">
                            <img class="userIcon" src="/Assets/EmpImages/1075.jpeg">
                            <div class="vl"></div>
                        </div>
                        <span class="col-lg-7 emp-ticketing-commentbox-mid">
                            <div class="emp-ticketing-commentbox-userinfo">1155 Sriram</div>
                            <div class="emp-ticketing-commentbox-status">Ticket Reopen</div>
                            <div class="emp-ticketing-commentbox-desc" title="This is dummy text This is dummy text This is dummy text This is dummy text">This is dummy text This is dummy text This is dummy text This is dummy text</div>
                        </span>
                        <span class="col-lg-2 emp-ticketing-commentbox-right">
                            <div class="emp-ticketing-commentbox-date">03 July 2024</div>
                        </span>
                    </div>

                    <div class="emp-ticketing-commentbox-list">
                        <div class="col-lg-1 emp-ticketing-commentbox-left">
                            <img class="userIcon" src="/Assets/EmpImages/1020.jpeg">
                            <div class="vl"></div>
                        </div>
                        <span class="col-lg-7 emp-ticketing-commentbox-mid">
                            <div class="emp-ticketing-commentbox-userinfo">1155 Sriram</div>
                            <div class="emp-ticketing-commentbox-status">Ticket Closed</div>
                        </span>
                        <span class="col-lg-2 emp-ticketing-commentbox-right">
                            <div class="emp-ticketing-commentbox-date">03 July 2024</div>
                        </span>
                    </div>

                    <div class="emp-ticketing-commentbox-list">
                        <div class="col-lg-1 emp-ticketing-commentbox-left">
                            <img class="userIcon" src="/Assets/EmpImages/1075.jpeg">
                        </div>
                        <span class="col-lg-7 emp-ticketing-commentbox-mid">
                            <div class="emp-ticketing-commentbox-userinfo">1155 Sriram</div>
                            <div class="emp-ticketing-commentbox-status">Ticket Acknowledge</div>
                            <div class="emp-ticketing-commentbox-desc" title="This is dummy text This is dummy text This is dummy text This is dummy text">This is dummy text This is dummy text This is dummy text This is dummy text</div>
                        </span>
                        <span class="col-lg-2 emp-ticketing-commentbox-right">
                            <div class="emp-ticketing-commentbox-date">03 July 2024</div>
                        </span>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if (!$.fn.DataTable.isDataTable('#empticketlistingTable')) {
            $('#empticketlistingTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "lengthMenu": [[7, 14, 21, -1], [7, 14, 21, "All"]],
                "columnDefs": [
                    { "orderable": false, "targets": 1 },
                    { "orderable": false, "targets": 3 }
                ]
            });
        }
    });
</script>

<script src="~/Scripts/z-raiseticket.js"></script>