@model HRMS.Models.Timesheet

@{
    ViewBag.Title = "EmpTimesheetView";
}

@Html.Partial("_EmployeeNavbar")
<div class="container-fluid emp-timesheet-list-horizon">
    <div class="main-content container-fluid">
        <div class="content employee-timesheet">
            <div class="emp-timesheet-container">
                <div class="row res-emp-timesheet-header">
                    <div class="col-lg-3 res-emp-timesheet-title">
                        <h4>Timesheet</h4>
                    </div>
                </div>
            </div>

            <div class="emp-timesheet-details timesheet-nav" id="empTimesheet">

                <div class="emp-timesheet-header-block">
                    <div class="emp-timesheet-header-block-left">
                        <div class="emp-timesheet-block1">
                            <span class="emp-timesheet-weekno" id="view-week-number">Week @Model.Weeknumber</span>
                            <span class="emp-timesheet-weekrange-info">
                                <i class="fa fa-angle-left" aria-hidden="true" id="view-prev-week"></i>
                                <span class="emp-timesheet-weekrange">
                                    <span id="view-week-start">
                                        @Model.WeekStartDate.ToString("dd MMMM yyyy")
                                    </span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <span id="view-week-end">@Model.WeekEndDate.ToString("dd MMMM yyyy")</span>
                                </span>
                                <i class="fa fa-angle-right" aria-hidden="true" id="view-next-week"></i>
                            </span>
                        </div>
                        <div class="emp-timesheet-block2">
                            <div class="form-group col-lg-12 div-timesheet-company">
                                <select class="form-control" id="viewtimesheetclient">

                                    @*@foreach (var client in Model.WeekInfo[0].Clients)
                                        {*@
                                    <option value="@Model.SiteContext.EmpInfo.Client">@Model.SiteContext.EmpInfo.Client</option>
                                    @*}*@

                                </select>
                            </div>
                        </div>
                        <div class="emp-timesheet-block3">
                            <span>Reporting Manager </span> @Model.SiteContext.EmpInfo.ReportingManager
                        </div>
                    </div>
                    <div class="emp-timesheet-header-block-right">
                        <button type="button" class="btn btn-primary timesheet-enter">Enter Timesheet</button>
                    </div>
                </div>

                <div class="emp-timesheet-graph-block">
                    <div class="emp-timesheet-hours-spent">
                        <div class="emp-timesheet-block-content emp-timesheet-block-bar">
                            <div id="emp-timesheet-hours-spent" style="height: 270px; width: 100%;"></div>
                        </div>
                    </div>
                    <div class="emp-timesheet-attendance">
                        <div class="emp-timesheet-block-content emp-timesheet-block-donut">
                            <div class="emp-timesheet-block-donut-title">Hours Spent</div>
                            <canvas id="emp-timesheet-attendance" style="width:100%;max-width:100%"></canvas>
                        </div>
                    </div>
                </div>


                <div class="emp-timesheet-table-block">
                    <div class="emp-timesheet-table-header">
                        <div class="emp-timesheet-table-title">Task List</div>
                        <div class="emp-timesheet-table-submit"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#empSubmitTimesheetModal">Submit Timesheet</button></div>
                    </div>

                    <div class="emp-timesheet-table-body">
                        @*@Html.Partial("~/Views/EmployeeDashboard/_EmpViewTimeSheetrows.cshtml", Model)*@
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Submit Timesheet Modal -->
<div id="empSubmitTimesheetModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="empSubmitTimesheetModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times-circle"></i>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to submit timesheet (06 November 2024 to 10 November 2024)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn" data-ticketname="" id="empSubmitTimesheetSubmitButton">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation Modal -->
<div id="empTimesheetConfirmCancelModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="empTimesheetConfirmCancelModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times-circle"></i>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this timesheet?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn" data-ticketname="" id="empTimesheetConfirmCancelButton">Yes</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script>
    $(document).ready(function () {
        var dataPoints1 = [
            { label: "4-11-2024", y: 0, indexLabel: "" },
            { label: "5-11-2024", y: 0, indexLabel: "" },
            { label: "6-11-2024", y: 0, indexLabel: "" },
            { label: "7-11-2024", y: 0.2, indexLabel: "Leave" },
            { label: "8-11-2024", y: 0, indexLabel: "" },
            { label: "9-11-2024", y: 0, indexLabel: "" },
            { label: "10-11-2024", y: 0, indexLabel: "" }
        ];

        var dataPoints2 = [
            { label: "4-11-2024", y: 0, indexLabel: "" },
            { label: "5-11-2024", y: 0, indexLabel: "" },
            { label: "6-11-2024", y: 0, indexLabel: "" },
            { label: "7-11-2024", y: 0, indexLabel: "" },
            { label: "8-11-2024", y: 0.2, indexLabel: "Holiday" },
            { label: "9-11-2024", y: 0, indexLabel: "" },
            { label: "10-11-2024", y: 0, indexLabel: "" }
        ];

        var dataPoints3 = [
            { label: "4-11-2024", y: 0, indexLabel: "" },
            { label: "5-11-2024", y: 0, indexLabel: "" },
            { label: "6-11-2024", y: 0, indexLabel: "" },
            { label: "7-11-2024", y: 0, indexLabel: "" },
            { label: "8-11-2024", y: 0, indexLabel: "" },
            { label: "9-11-2024", y: 0.2, indexLabel: "Weekend" },
            { label: "10-11-2024", y: 0.2, indexLabel: "Weekend" }
        ];

        var dataPoints4 = [
            { label: "4-11-2024", y: 8, indexLabel: "Hours Spent" },
            { label: "5-11-2024", y: 8.10, indexLabel: "Hours Spent" },
            { label: "6-11-2024", y: 0, indexLabel: "" },
            { label: "7-11-2024", y: 0, indexLabel: "" },
            { label: "8-11-2024", y: 0, indexLabel: "" },
            { label: "9-11-2024", y: 0, indexLabel: "" },
            { label: "10-11-2024", y: 0, indexLabel: "" }
        ];

        var dataPoints5 = [
            { label: "4-11-2024", y: 1, indexLabel: "Overtime" },
            { label: "5-11-2024", y: 0.10, indexLabel: "Overtime" },
            { label: "6-11-2024", y: 0, indexLabel: "" },
            { label: "7-11-2024", y: 0, indexLabel: "" },
            { label: "8-11-2024", y: 0, indexLabel: "" },
            { label: "9-11-2024", y: 0, indexLabel: "" },
            { label: "10-11-2024", y: 0, indexLabel: "" }
        ];

        var chart = new CanvasJS.Chart("emp-timesheet-hours-spent", {
            axisY: {
                suffix: " h",
                interval: 2,
                minimum: 0,
                gridThickness: 0,
                lineThickness: 0
            },
            data: [
                {
                    type: "stackedColumn",
                    name: "Leave",
                    showInLegend: false,
                    color: "#FF5733",
                    yValueFormatString: "#,##0 h",
                    dataPoints: dataPoints1
                },
                {
                    type: "stackedColumn",
                    name: "Hoilday",
                    showInLegend: false,
                    color: "#FFC300",
                    yValueFormatString: "#,##0 h",
                    dataPoints: dataPoints2
                },
                {
                    type: "stackedColumn",
                    name: "Week End",
                    showInLegend: false,
                    color: "#3e4652",
                    yValueFormatString: "#,##0 h",
                    dataPoints: dataPoints3
                },
                {
                    type: "stackedColumn",
                    name: "Hours Spent",
                    showInLegend: false,
                    color: "#33FF57",
                    yValueFormatString: "#,##0 h",
                    dataPoints: dataPoints4
                },
                {
                    type: "stackedColumn",
                    name: "Overtime",
                    showInLegend: false,
                    color: "#50aced",
                    yValueFormatString: "#,##0 h",
                    dataPoints: dataPoints5
                }

            ]
        });

        chart.render();

        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }

    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
    var xValues = ["Hours Spent", "Overtime"];
    var yValues = [16, 1.10];
    var barColors = [
        "#33FF57",
        "#50aced"
    ];

    new Chart("emp-timesheet-attendance", {
        type: "doughnut",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: {
                display: true,
                position: 'bottom'
            },
            hover: {
                mode: null
            },
            animation: {
                duration: 0
            }
        }
    });

</script>
<script src="~/Scripts/z-EmpViewTimesheet.js"></script>


