@model HRMS.Models.TicketingModel

<style>
    #empticketlistingTable_length {
        display: none;
    }

    #empticketlistingTable_filter {
        display: none;
    }
</style>

@Html.Partial("_EmployeeNavbar")

<div class="emp-ticketing-horizon">
    <div class="container-fluid emp-ticketing-horizon-header">
        <div class="main-content container-fluid">
            <div class="content employee-ticketing">
                <div class="emp-ticketing-container">
                    <div class="res-emp-ticketing-header">
                        <div class="res-emp-ticketing-title">
                            <h3 class="ticketing-pagetitle">Ticketing</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid emp-Ticket-view">
        <div class="main-content container-fluid">
            <div class="hiddenempdashboard" style="display:none"></div>
            <div class="content employee-Ticketing myrequest-dashboard-data" style="margin-top: 20px;">
                <div class="empTicketing-container">
                    <div class="row res-emp-tickethistory-header">
                        <div class="col-lg-3 res-emp-tickethistory-title">
                            <h4>Ticket History</h4>
                        </div>
                        <div class="col-lg-6 res-emp-tickethistory-mid">

                        </div>
                        <div class="col-lg-3 res-emp-tickethistory-right">
                            <span class="empticketing-dropdown">
                                <select name="data" id="ticket-type-filter">
                                    <option value="">All</option>
                                    <option value="HR">HR</option>
                                    <option value="IT">IT</option>
                                </select>
                            </span>                            
                            <button type="button" class="btn btn-primary btn-empRaiseTicket">Raise Ticket</button>
                        </div>
                    </div>

                </div>
                <div class="empleave-ticket-history" id="empTicketHistory">
                    <div class="res-emp-ticket-listing-table table-responsive">
                        <table class="table table-emp-ticket-listing" id="empticketlistingTable" style="font-size: 14px; border-collapse: separate; border-spacing: 0 15px;">
                            <thead style="background-color: #EEF4FF; border-radius: 10px; display: none">
                                <tr>
                                    <th>Emp-ID</th>
                                    @*<th>Priority</th>
                                        <th>Location</th>*@
                                    <th>Action</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ticket in Model.empTickets)
                                {
                                    <tr data-ticket-type="@ticket.TicketType" data-ticketnum="@ticket.TicketNo">
                                        <td style="width: 840px;">
                                            @{
                                                TimeSpan responseTime = new TimeSpan();
                                                int totalHours = 0;
                                                int totalMinutes = 0;
                                                var isVisible = "visibility: hidden;";
                                            }
                                            @if (ticket.ResponseTime != null && ticket.ResponseTime.HasValue)
                                            {
                                                responseTime = TimeSpan.FromSeconds(ticket.ResponseTime.Value);
                                                totalHours = (int)responseTime.TotalHours;
                                                totalMinutes = responseTime.Minutes;
                                                isVisible = "";
                                            }
                                            <div class="res-emp-ticketlisting-user-details" style="display: flex; align-items: center; margin-left: 20px;">
                                                <i class="emp-ticket-msg-icon fa-regular fa-message"></i>
                                                <span style="margin-top: 15px; margin-right: 10px;">
                                                    <div class="emp-ticketing-listing-title" style="font-weight: 700; cursor:pointer;" title="@ticket.Subject" data-ticketnum="@ticket.TicketNo">@ticket.Subject</div>
                                                    <div class="emp-ticketing-listing-details">
                                                        <span class="emp-ticket-id">#@ticket.TicketNo</span>
                                                        <span class="emp-ticket-info">
                                                            <img style="margin-top: -2px; width: 20px;" src="~/Assets/category-light.png">
                                                            @ticket.TicketType - @ticket.Category
                                                        </span>
                                                        <span class="emp-ticketing-priority-date">
                                                            <span class="emp-ticket-prioritylevel">
                                                                <span class="res-emp-ticketlisting-color @HRMS.Helpers.TicketingHelper.GetPriorityColor(ticket.Priority)"></span>
                                                                <span class="res-emp-ticketlisting-priority-status">@ticket.Priority</span>
                                                            </span>
                                                            <span class="res-emp-ticketlisting-date">
                                                                <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                                                @if (ticket.Created_date.HasValue)
                                                                {
                                                                    <span class="res-empticketlisting-priority-status">@ticket.Created_date.Value.ToString("dd MMM yyyy, ddd hh:mmtt")</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="res-empticketlisting-priority-status">Date Not Available</span>
                                                                }
                                                            </span>
                                                        </span>
                                                        <span style="@isVisible" class="emp-ticketing-response-time">
                                                            Response Time: @totalHours.ToString("00"):@totalMinutes.ToString("00") Hr
                                                        </span>

                                                    </div>
                                                </span>
                                            </div>
                                        </td>
                                        @{
                                            var ticketStatus = ticket.Status == "Open" ? "display: block" : "display: none";
                                        }
                                        <td class="fontSmall position-relative" style="width:25px;@ticketStatus">
                                            <i class="fas fa-ellipsis-v emp-ticket-edit-history" onclick="toggleLeaveTicketHistoryActionOptions(this)"></i>
                                            <div class="emp-tickethistoryoptions" style="display:none">
                                                <a class="dropdown-item emp-tickethistory-edit"
                                                   onclick="emptickethistoryedit($(this))"
                                                   data-ticketname="@ticket.TicketNo">Edit</a>

                                                <a class="dropdown-item emp-tickethistory-cancel" onclick="emptickethistorycancel($(this))" data-ticketname="@ticket.TicketNo">Cancel</a>
                                                <a class="dropdown-item emp-tickethistory-acknowledge" onclick="emptickethistoryacknowledge($(this))" data-ticketname="@ticket.TicketNo">Acknowledge</a>
                                            </div>
                                        </td>
                                        <td style="width: 350px; border-left: 1px solid #ccc; " class="res-emp-ticketlisting-location-info">
                                            @*<div class="emp-ticketing-empty-block"></div>*@
                                            <div class="emp-ticketing-listing-closedby">
                                                <div>Resolved By</div>

                                                @{ if (!string.IsNullOrWhiteSpace(ticket.ResolvedByName))
                                                    {
                                                        <label title="@ticket.ResolvedByName"><img src="/Assets/ei_user.png"> @ticket.ResolvedByName</label>
                                                    }
                                                    else
                                                    {
                                                        <label title="@ticket.ClosedByName"><img src="/Assets/ei_user.png"> @ticket.ClosedByName</label>
                                                    } }

                                            </div>
                                            <div class="res-empticketlisting-status-level @HRMS.Helpers.TicketingHelper.GetTicketStatusCssClass(ticket.Status)" style="cursor:pointer"> <img src="~/Assets/resolved.png"> <span class="empticketing-satus">@ticket.Status</span></div>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


@Html.Partial("EmployeeFooter")





<!-- Confirmation Modal -->
<div id="empTicketConfirmCancelModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="empTicketConfirmCancelModal" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="empTicketConfirmCancelModalLabel">Confirm Cancel Ticket</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times-circle"></i>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this ticket?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn" data-ticketname="" id="empTicketConfirmCancelButton">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- emp ticket comments Modal -->
<div id="empTicketCommentsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="empTicketCommentsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <h5 class="modal-title" id="TicketConfirmCancelModalLabel">Comments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle"></i>
                    </button>
                </div>
                <div class="emp-ticketing-commentbox-popup">
                        <div class="form-group">
                            @*<label for="emp-tickethistory-comment-label">Comment</label>*@
                            <textarea rows="4" cols="50" class="form-control" id="emp-tickethistory-comments"></textarea>
                        </div>
                        <div class="emp-tickethistory-comment-submit">
                            <button type="submit" class="btn btn-apply-emp-tickethistory-comment-reopen mb-4">Re-Open</button>
                            <button type="submit" class="btn btn-primary btn-apply-emp-tickethistory-comment-submitbtn mb-4">Acknowledge</button>
                        </div>
                    </div>
                @*<div class="emp-ticketing-commentbox-popup-list">
                </div>*@
            </div>
        </div>
    </div>
</div>

<script>   
    $(document).ready(function () {
        var table = $('#empticketlistingTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "lengthMenu": [[7, 14, 21, -1], [7, 14, 21, "All"]],
            "columnDefs": [
                { "orderable": false, "targets": 1 },
                { "orderable": false, "targets": 2 }
            ]
        });

        // Add "No records found" message dynamically
        $('#empticketlistingTable tbody').append(
            '<tr id="no-records-found" style="display: none;">' +
            '<td colspan="3" style="text-align: center;">No records found</td>' +
            '</tr>'
        );

        $(document).on('change', '#ticket-type-filter', function () {
            var selectedType = $(this).val();

            // Show all rows first
            table.rows().every(function () {
                $(this.node()).show();
            });

            // Filter rows if a specific type is selected
            if (selectedType !== "") {
                table.rows().every(function () {
                    var row = $(this.node());
                    var ticketType = row.data('ticket-type');
                    if (ticketType !== selectedType) {
                        row.hide();
                    }
                });
            }

            // Check if any visible rows remain after filtering
            var visibleRows = table.rows(':visible').count();

            // Show "No records found" if there are no visible rows, hide it otherwise
            if (visibleRows === 0) {
                $('#no-records-found').show();
            } else {
                $('#no-records-found').hide();
            }
        });
    });

    function emptickethistoryacknowledge() {
        $('#empTicketCommentsModal').modal('show');
    }

</script>

<script src="~/Scripts/z-raiseticket.js"></script>