@model HRMS.Models.Employee.SelfServiceViewModel

@Html.Partial("_EmployeeNavbar")
<div class="container-fluid emp-selfservice-list-horizon">
    <div class="main-content container-fluid">
        <div class="content employee-selfservice">
            <div class="emp-selfservice-container">
                <div class="row emp-selfservice-header">
                    <div class="col-lg-3 emp-selfservice-title">
                        <h4>Employee Profile</h4>
                    </div>
                </div>
            </div>

            <div class="emp-selfservice-details">
                <div class="row">
                    <div class="col-lg-7 emp-selfservice-details-left">
                        <div class="emp-ss-details-block1">
                            <div class="emp-ss-details-block1-left">
                                <img src="~/Assets/EmpImages/1075.jpeg">
                                <div class="img-edit-icon"><span><i class="fas fa-camera"></i></span></div>
                                <input type="file" id="imageInput" style="display: none;">
                            </div>
                            <div class="emp-ss-details-block1-right">
                                <div class="emp-ss-details-user-info-1">
                                    <div class="emp-ss-details-username">Test User</div>
                                    <div class="emp-ss-details-designation color-gray">Test Design</div>
                                    <div class="emp-ss-details-category color-gray">Digital Marketing</div>
                                </div>
                                <div class="emp-ss-details-user-info-2">
                                    <div class="emp-ss-details-empid">Employee ID: 1100</div>
                                    <div class="emp-ss-details-dob color-gray">Date of Join: 01-01-2024</div>
                                </div>
                            </div>
                        </div>
                        <div class="emp-ss-details-block2">
                            <ul class="nav nav-tabs res-admin-emp-tabs responsive-tabs" id="myTab" role="tablist" style="font-size: 15px; width: 100%;">
                                <li class="nav-item active" role="presentation">
                                    <a class="nav-link active" id="tab1-link" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Profile</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="tab2-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Project</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="tab3-link" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Asset</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="tab4-link" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">Monthly Maintenance</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-0 emp-selfservice-details-center"></div>
                    <div class="col-lg-5 emp-selfservice-details-right">
                        <div class="emp-ss-details-block3">
                            <div class="emp-ss-details-right-left emp-ss-details-phone">
                                <span class="col-lg-4 emp-ss-details-left-block">Phone:</span>
                                <span class="col-lg-8 emp-ss-details-right-block" style="color: #267EC4;">+91 090909090</span>
                            </div>
                            <div class="emp-ss-details-right-left emp-ss-details-email">
                                <span class="col-lg-4 emp-ss-details-left-block">Email:</span>
                                <span class="col-lg-8 emp-ss-details-right-block" style="color: #267EC4;">test@ambconline.com</span>
                            </div>
                            <div class="emp-ss-details-right-left emp-ss-details-shift">
                                <span class="col-lg-4 emp-ss-details-left-block">Shift Timing:</span>
                                <span class="col-lg-8 emp-ss-details-right-block color-gray">09:30 - 18:30</span>
                            </div>
                            <div class="emp-ss-details-right-left emp-ss-details-location">
                                <span class="col-lg-4 emp-ss-details-left-block">Location:</span>
                                <span class="col-lg-8 emp-ss-details-right-block color-gray">Madurai</span>
                            </div>
                            <div class="emp-ss-details-right-left emp-ss-details-emptype">
                                <span class="col-lg-4 emp-ss-details-left-block">Employee Type:</span>
                                <span class="col-lg-8 emp-ss-details-right-block color-gray">Full-Time</span>
                            </div>
                        </div>
                        <div class="emp-ss-details-block4">
                            <div class="emp-change-password">
                                <button class="btn btn-primary">Change Password</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="emp-selfservice-details-all">

                <div class="row emp-ss-details-all-block1">
                    <div class="col-md-offset-5 border mr-4 block-view" style="width: 47%;">
                        <div class="form-group emp-ss-detailed-all-header">
                            <div class="form-group row">
                                <h6 style="margin-left: 24px; margin-top: 10px;"><b>Reporting Details</b></h6>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="reportingManager" class="col-md-5 col-sm-5" style="margin-left: 10px; margin-top: 10px;">Reporting Manager</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; margin-top: 10px; word-wrap: break-word;">@Model.EmpInfo.ReportingManager</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="doj" class="col-md-5 col-sm-5" style="margin-left: 10px;">Date of Joining</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">
                                    @if (Model.EmpInfo.DOJ != null && Model.EmpInfo.DOJ != DateTime.MinValue)
                                    {
                                        <span>@Model.EmpInfo.DOJ.ToString("dd-MM-yyyy")</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="employeeStatus" class="col-md-5 col-sm-5" style="margin-left: 10px;">Employee Status</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.EmployeeStatus</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="client" class="col-md-5 col-sm-5" style="margin-left: 10px;">Client</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.Client</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="leaveRm" class="col-md-5 col-sm-5" style="margin-left: 10px;">Leave RM</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.LeavereportingManager</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="presentAddress" class="col-md-5 col-sm-5" style="margin-left: 10px;">Present Address</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;line-height: 1.5">@Model.EmpInfo.PresentAddress</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-offset-5 border block-view mr-4 block-view-3" style="width: 47%;">
                        <div class="form-group emp-ss-detailed-all-header" >
                            <div class="form-group row">
                                <h6 style="margin-left: 24px; margin-top: 10px;"><b>General Details</b></h6>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="fatherName" class="col-md-5 col-sm-5" style="margin-left: 10px; margin-top: 10px;">Father Name</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; margin-top: 10px; word-wrap: break-word;">@Model.EmpInfo.FatherName</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="dob" class="col-md-5 col-sm-5" style="margin-left: 10px;">Date of Birth</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">

                                    @if (Model.EmpInfo.DOB != null && Model.EmpInfo.DOB != DateTime.MinValue)
                                    {
                                        <span>@Model.EmpInfo.DOB.ToString("dd-MM-yyyy")</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="age" class="col-md-5 col-sm-5" style="margin-left: 10px;">Age</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.Age</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="bloodGroup" class="col-md-5 col-sm-5" style="margin-left: 10px;">Blood Group</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.BloodGroup</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="gender" class="col-md-5 col-sm-5" style="margin-left: 10px;">Gender</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.Gender</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="maritalStatus" class="col-md-5 col-sm-5" style="margin-left: 10px;">Marital Status</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.MaritalStatus</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="mobileNumber" class="col-md-5 col-sm-5" style="margin-left: 10px;">Mobile Number</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.MobileNumber</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="altMobileNumber" class="col-md-5 col-sm-5" style="margin-left: 10px;">Alt. Mobile Number</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.MobileNumber</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row emp-ss-details-all-block2">
                    <div class="col-md-offset-5 border mr-4 block-view" style="width: 47%;">
                        <div class="form-group emp-ss-detailed-all-header">
                            <div class="form-group row">
                                <h6 style="margin-left: 24px; margin-top: 10px;"><b>Emergency Contact Details</b></h6>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="departmentname" class="col-md-5 col-sm-5" style="margin-left: 10px; margin-top: 10px;">Name</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; margin-top: 10px; word-wrap: break-word;">@Model.EmpInfo.RelationName</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="relationship" class="col-md-5 col-sm-5" style="margin-left: 10px;">Relationship</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.Relationship</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="contactdetails" class="col-md-5 col-sm-5" style="margin-left: 10px;">Contact Details</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.FamilyMobileNumber</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-5 border block-view mr-4 block-view-3" style="width: 47%;">
                        <div class="form-group emp-ss-detailed-all-header">
                            <div class="form-group row">
                                <h6 style="margin-left: 24px; margin-top: 10px;"><b>Statutory Details</b></h6>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="uanNumber" class="col-md-5 col-sm-5" style="margin-left: 10px; margin-top: 10px;">UAN Number</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; margin-top: 10px; word-wrap: break-word;">@Model.EmpInfo.UANNumber</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="pfNumber" class="col-md-5 col-sm-5" style="margin-left: 10px;">PF Number</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.PFNumber</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="ecisNumber" class="col-md-5 col-sm-5" style="margin-left: 10px;">ECIS Number</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.ESICNumber</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row emp-ss-details-all-block3">
                    <div class="col-md-offset-5 border mr-4 block-view" style="width: 47%;">
                        <div class="form-group emp-ss-detailed-all-header">
                            <div class="form-group row">
                                <h6 style="margin-left: 24px; margin-top: 10px;"><b>Educational Details</b></h6>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="latestdegree" class="col-md-5 col-sm-5" style="margin-left: 10px; margin-top: 10px;">Latest Degree</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; margin-top: 10px; word-wrap: break-word;">@Model.EmpInfo.LatestDegree</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="collegename" class="col-md-5 col-sm-5" style="margin-left: 10px;">College Name</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.College_Name</div>
                            </div>
                        </div>
                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="contactdetails" class="col-md-5 col-sm-5" style="margin-left: 10px;">Specialization</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.Specialization</div>
                            </div>
                        </div>

                        <div class="form-group" style="line-height: normal;">
                            <div class="form-group row">
                                <label for="contactdetails" class="col-md-5 col-sm-5" style="margin-left: 10px;">Passout Year</label>
                                <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">
                                    @(Model.EmpInfo.YearofCompletion == 0 ? string.Empty : Model.EmpInfo.YearofCompletion.ToString())
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-5 mr-4" style="width: 47%;"></div>
                </div>


            </div>

        </div>
    </div>
</div>

@Html.Partial("EmployeeFooter")

<!-- Change Password Modal -->
<div id="empChangePasswordModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="empChangePasswordModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="empTicketConfirmCancelModalLabel">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times-circle"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="changepassword">Current Password</label>
                        <input type="text" class="form-control" id="changepassword" placeholder="Enter Current Password">
                        <span toggle="#changepassword" class="fa fa-fw fa-eye field-icon toggle-changepassword text-muted"></span>
                        <span class="text-danger" id="changepasswordError"></span>
                    </div>
                    <div class="form-group">
                        <label for="newpassword">New Password</label>
                        <input type="text" class="form-control" id="newpassword" placeholder="Enter New Password">
                        <span toggle="#newpassword" class="fa fa-fw fa-eye field-icon toggle-newpassword text-muted"></span>
                        <span class="text-danger" id="newpasswordError"></span>
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword">Confirm Password</label>
                        <input type="text" class="form-control" id="confirmpassword" placeholder="Confirm New Password">
                        <span toggle="#confirmpassword" class="fa fa-fw fa-eye field-icon toggle-confirmpassword text-muted"></span>
                        <span class="text-danger" id="confirmpasswordError"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-ticketname="" id="empChangePasswordSubmitButton">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Change Password Success Modal -->
<div id="empChangePasswordSuccessModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="empChangePasswordSuccessModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="change-password-success-popup">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <div class="status-head">Password Updated!</div>
                    <div class="status-desc">Your password has been changed successfully</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //$(".emp-imgs").mouseover(function () {
        //    $(".img-edit-icon").css("display", "inline-block");
        //});
        //$(".emp-imgs").mouseout(function () {
        //    $(".img-edit-icon").css("display", "none");
        //});

        $(document).on('click', '.emp-ss-details-block4 .emp-change-password', function (e) {
            e.preventDefault();
            $('#changepassword').val("");
            $('#newpassword').val("");
            $('#confirmpassword').val("");
            $("#empChangePasswordModal").modal('show');
        });
    });


</script>

<script src="~/Scripts/z-changepassword.js"></script>
