@model HRMS.Models.Employee.SelfServiceViewModel

@Html.Partial("_EmployeeNavbar")
<style>

    .person {
        border: 1px solid #ccc;
        padding: 10px;
        min-width: 150px;
        background-color: #FFFFFF;
        display: inline-block;
    }

    .person.female {
        @*border-color: #F45B69;*@
    }

    .person.male {
        @*border-color: #456990;*@
    }

    .person div {
        text-align: center;
    }

    .person .name {
        font-size: 10px;
    }

    .person .parentDrop, .person .spouseDrop, .person .childDrop {
        border: 1px dashed #000000;
        width: auto;
        min-width: 80px;
        min-height: 80px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding-top: 15px;
    }

    .person .parentDrop > span,
    .person .spouseDrop > span,
    .person .childDrop > span {
        position: absolute;
        top: 2px;
        left: 2px;
        font-weight: bold;
    }

    .parentDrop > .person,
    .spouseDrop > .person,
    .childDrop > .person {
        margin-top: 20px;
    }

    /* Tree */
    .tree ul {
        padding-top: 20px;
        position: relative;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        padding: 20px 0px 0px 0px;
    }

    .tree li {
        display: table-cell;
        text-align: center;
        list-style-type: none;
        position: relative;
        padding: 20px 5px 0 5px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }

    /*We will use ::before and ::after to draw the connectors*/
    .tree li::before, .tree li::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border-top: 1px solid #ccc;
        width: 50%;
        height: 20px;
    }

    .tree li::after {
        right: auto;
        left: 50%;
        border-left: 1px solid #ccc;
    }

    .tree li:only-child::after, .tree li:only-child::before {
        display: none;
    }

    .tree li:only-child {
        padding-top: 0;
    }

    .tree li:first-child::before, .tree li:last-child::after {
        border: 0 none;
    }
    /*Adding back the vertical connector to the last nodes*/
    .tree li:last-child::before {
        border-right: 1px solid #ccc;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
    }

    .tree li:first-child::after {
        border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
    }

    /*Time to add downward connectors from parents*/
    .tree ul ul::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        @*border-left: 1px solid #ccc;*@
        width: 0;
        height: 20px;
    }

    .tree li .parent {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        margin-top: 10px;
    }

    .tree li .parent::before {
        content: '';
        position: absolute;
        top: 40px;
        left: 50%;
        @*border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;*@
        width: 3px;
        height: 10px;
    }

    .tree li .family {
        position: relative;
    }

    .tree li .family .spouse {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: 95px;
    }

    .tree li .family .spouse::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -10px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        width: 10px;
        height: 3px;
    }


    .tree li .child:hover,
    .tree li .child:hover + .parent .person,
    .tree li .parent .person:hover,
    .tree li .child:hover + .parent .person + ul li .child,
    .tree li .parent .person:hover + ul li .child,
    .tree li .child:hover + .parent .person + ul li .parent .person,
    .tree li .parent .person:hover + ul li .parent .person {
        @*background: #c8e4f8;
        color: #000;
        border: 1px solid #94a0b4;*@
    }
    /*Connector styles on hover*/
    .tree li .child:hover + .parent::before,
    .tree li .child:hover + .parent .person + ul li::after,
    .tree li .parent .person:hover + ul li::after,
    .tree li .child:hover + .parent .person + ul li::before,
    .tree li .parent .person:hover + ul li::before,
    .tree li .child:hover + .parent .person + ul::before,
    .tree li .parent .person:hover + ul::before,
    .tree li .child:hover + .parent .person + ul ul::before,
    .tree li .parent .person:hover + ul ul::before {
        @*border-color: #94a0b4;*@
    }


    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 320px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        height: 100%;
        overflow-y: auto;
    }

    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    .modal-dialog {
        margin: 5% auto;
    }

    .checkputcolor {
        background: linear-gradient(to right, #FF554B, #EA2E24, #D11006);
        color: #fff;
        padding: 5px 7px;
        margin-top: 5px;
        text-align: center;
    }
</style>
<div class="container-fluid emp-selfservice-list-horizon">
    <div class="main-content container-fluid">
        <div class="content employee-selfservice">
            <div class="emp-selfservice-container">
                <div class="row emp-selfservice-header">
                    <div class="col-lg-3 emp-selfservice-title">
                        <h4>Employee Profile</h4>
                    </div>
                </div>
            </div>

            <div class="emp-selfservice-details">
                <div class="row">
                    <div class="col-lg-7 emp-selfservice-details-left">
                        <div class="emp-ss-details-block1">
                            <div class="emp-ss-details-block1-left">

                                @if (!string.IsNullOrWhiteSpace(Model.EmpInfo.imagepath))
                                {
                                    var empImageURl = System.Configuration.ConfigurationManager.AppSettings["EmpImagesFolder"] + "/" + Model.EmpInfo.imagepath + "?" + System.DateTime.Now;
                                    <img src="@empImageURl" alt="Employee Image" class="emp-profileimage">
                                }
                                else
                                {
                                    <img src="" alt="Employee Image" class="emp-profileimage" style="display: none">
                                    // Split the full name into first name and last name
                                    string[] names = Model.EmpInfo.EmployeeName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);

                                    // Ensure we have at least one name
                                    if (names.Length > 0)
                                    {
                                        // Get the first name
                                        string firstName = names[0];

                                        // Get the last name if available
                                        string lastName = names.Length > 1 ? names[names.Length - 1] : string.Empty;

                                        // Extract the first letters
                                        char firstLetterOfFirstName = firstName[0];
                                        char firstLetterOfLastName = !string.IsNullOrEmpty(lastName) ? lastName[0] : '\0';

                                        // Convert to uppercase if needed
                                        firstLetterOfFirstName = char.ToUpper(firstLetterOfFirstName);
                                        firstLetterOfLastName = char.ToUpper(firstLetterOfLastName);

                                        // Output the first letters
                                        Console.WriteLine($"First letter of first name: {firstLetterOfFirstName}");
                                        Console.WriteLine($"First letter of last name: {firstLetterOfLastName}");

                                        <div class="default-image">@firstLetterOfFirstName @firstLetterOfLastName</div>

                                    }
                                }
                                <div class="img-edit-icon"><span><i class="fas fa-camera"></i></span></div>
                                <input type="file" id="imageInput" style="display: none;">

                            </div>
                            @*<div class="emp-ss-details-block1-left">
                                    <img src="~/Assets/EmpImages/1075.jpeg">
                                    <div class="img-edit-icon"><span><i class="fas fa-camera"></i></span></div>
                                    <input type="file" id="imageInput" style="display: none;">
                                </div>*@
                            <div class="emp-ss-details-block1-right">
                                <div class="emp-ss-details-user-info-1">
                                    <div class="emp-ss-details-username">@Model.EmpInfo.EmployeeName</div>
                                    <div class="emp-ss-details-designation color-gray">@Model.EmpInfo.Designation</div>
                                    <div class="emp-ss-details-category color-gray">@Model.EmpInfo.Department</div>
                                </div>
                                <div class="emp-ss-details-user-info-2">
                                    <div class="emp-ss-details-empid">Employee ID: @Model.EmpInfo.EmployeeID</div>
                                    <div class="emp-ss-details-dob color-gray">Date of Join: @Model.EmpInfo.DOJ.ToString("dd-MM-yyyy")</div>
                                </div>
                            </div>
                        </div>
                        <div class="emp-ss-details-block2">
                            <ul class="nav nav-tabs res-emp-ss-tabs responsive-tabs" id="myTab" role="tablist" style="font-size: 15px; width: 100%;">
                                <li class="nav-item active" role="presentation">
                                    <a class="nav-link active" id="tab1-link" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Profile</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="tab2-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Project</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="tab3-link" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Asset</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="tab4-link" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">Monthly Maintenance</a>
                                </li>
                                <i class="fa fa-caret-up"></i>
                                <i class="fa fa-caret-down"></i>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-0 emp-selfservice-details-center"></div>
                    <div class="col-lg-5 emp-selfservice-details-right">
                        <div class="emp-ss-details-block3">
                            <div class="emp-ss-details-right-left emp-ss-details-phone">
                                <span class="col-lg-4 col-md-5 emp-ss-details-left-block">Phone:</span>
                                <span class="col-lg-8 emp-ss-details-right-block" style="color: #267EC4;">@Model.EmpInfo.MobileNumber</span>
                            </div>
                            <div class="emp-ss-details-right-left emp-ss-details-email">
                                <span class="col-lg-4 col-md-5 emp-ss-details-left-block">Email:</span>
                                <span class="col-lg-8 emp-ss-details-right-block" style="color: #267EC4;">@Model.EmpInfo.OfficalEmailid</span>
                            </div>
                            <div class="emp-ss-details-right-left emp-ss-details-shift">
                                <span class="col-lg-4 col-md-5 emp-ss-details-left-block">Shift Timing:</span>
                                <span class="col-lg-8 emp-ss-details-right-block color-gray">@Model.EmpInfo.ShiftTimings</span>
                            </div>
                            <div class="emp-ss-details-right-left emp-ss-details-location">
                                <span class="col-lg-4 col-md-5 emp-ss-details-left-block">Location:</span>
                                <span class="col-lg-8 emp-ss-details-right-block color-gray">@Model.EmpInfo.Location</span>
                            </div>
                            <div class="emp-ss-details-right-left emp-ss-details-emptype">
                                <span class="col-lg-4 col-md-5 emp-ss-details-left-block">Employee Type:</span>
                                <span class="col-lg-8 emp-ss-details-right-block color-gray">@Model.EmpInfo.EmployeeType</span>
                            </div>
                        </div>
                        <div class="emp-ss-details-block4">
                            <div class="emp-change-password">
                                <button class="btn btn-primary">Change Password</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="emp-selfservice-details-all">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show emp-ss-profileview active" id="tab1" role="tabpanel" aria-labelledby="tab1-link">

                        <div class="row emp-ss-details-all-block1">
                            <div class="col-md-offset-5 border mr-4 block-view" style="width: 47%;">
                                <div class="form-group emp-ss-detailed-all-header">
                                    <div class="form-group row">
                                        <h6 style="margin-left: 24px; margin-top: 10px;"><b>Reporting Details</b></h6>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="reportingManager" class="col-md-5 col-sm-5" style="margin-left: 10px; margin-top: 10px;">Reporting Manager</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; margin-top: 10px; word-wrap: break-word;">@Model.EmpInfo.ReportingManager</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="doj" class="col-md-5 col-sm-5" style="margin-left: 10px;">Date of Joining</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">
                                            @if (Model.EmpInfo.DOJ != null && Model.EmpInfo.DOJ != DateTime.MinValue)
                                            {
                                                <span>@Model.EmpInfo.DOJ.ToString("dd-MM-yyyy")</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="employeeStatus" class="col-md-5 col-sm-5" style="margin-left: 10px;">Employee Status</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.EmployeeStatus</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="client" class="col-md-5 col-sm-5" style="margin-left: 10px;">Client</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.Client</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="leaveRm" class="col-md-5 col-sm-5" style="margin-left: 10px;">Leave RM</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.LeavereportingManager</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="presentAddress" class="col-md-5 col-sm-5" style="margin-left: 10px;">Present Address</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;line-height: 1.5">@Model.EmpInfo.PresentAddress</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-offset-5 border block-view mr-4 block-view-3" style="width: 47%;">
                                <div class="form-group emp-ss-detailed-all-header">
                                    <div class="form-group row">
                                        <h6 style="margin-left: 24px; margin-top: 10px;"><b>General Details</b></h6>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="fatherName" class="col-md-5 col-sm-5" style="margin-left: 10px; margin-top: 10px;">Father Name</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; margin-top: 10px; word-wrap: break-word;">@Model.EmpInfo.FatherName</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="dob" class="col-md-5 col-sm-5" style="margin-left: 10px;">Date of Birth</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">

                                            @if (Model.EmpInfo.DOB != null && Model.EmpInfo.DOB != DateTime.MinValue)
                                            {
                                                <span>@Model.EmpInfo.DOB.ToString("dd-MM-yyyy")</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="age" class="col-md-5 col-sm-5" style="margin-left: 10px;">Age</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.Age</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="bloodGroup" class="col-md-5 col-sm-5" style="margin-left: 10px;">Blood Group</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.BloodGroup</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="gender" class="col-md-5 col-sm-5" style="margin-left: 10px;">Gender</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.Gender</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="maritalStatus" class="col-md-5 col-sm-5" style="margin-left: 10px;">Marital Status</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.MaritalStatus</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="mobileNumber" class="col-md-5 col-sm-5" style="margin-left: 10px;">Mobile Number</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.MobileNumber</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="altMobileNumber" class="col-md-5 col-sm-5" style="margin-left: 10px;">Alt. Mobile Number</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.MobileNumber</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row emp-ss-details-all-block2">
                            <div class="col-md-offset-5 border mr-4 block-view" style="width: 47%;">
                                <div class="form-group emp-ss-detailed-all-header">
                                    <div class="form-group row">
                                        <h6 style="margin-left: 24px; margin-top: 10px;"><b>Emergency Contact Details</b></h6>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="departmentname" class="col-md-5 col-sm-5" style="margin-left: 10px; margin-top: 10px;">Name</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; margin-top: 10px; word-wrap: break-word;">@Model.EmpInfo.RelationName</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="relationship" class="col-md-5 col-sm-5" style="margin-left: 10px;">Relationship</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.Relationship</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="contactdetails" class="col-md-5 col-sm-5" style="margin-left: 10px;">Contact Details</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.FamilyMobileNumber</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-5 border block-view mr-4 block-view-3" style="width: 47%;">
                                <div class="form-group emp-ss-detailed-all-header">
                                    <div class="form-group row">
                                        <h6 style="margin-left: 24px; margin-top: 10px;"><b>Statutory Details</b></h6>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="uanNumber" class="col-md-5 col-sm-5" style="margin-left: 10px; margin-top: 10px;">UAN Number</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; margin-top: 10px; word-wrap: break-word;">@Model.EmpInfo.UANNumber</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="pfNumber" class="col-md-5 col-sm-5" style="margin-left: 10px;">PF Number</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.PFNumber</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="ecisNumber" class="col-md-5 col-sm-5" style="margin-left: 10px;">ECIS Number</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.ESICNumber</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row emp-ss-details-all-block3">
                            <div class="col-md-offset-5 border mr-4 block-view" style="width: 47%;">
                                <div class="form-group emp-ss-detailed-all-header">
                                    <div class="form-group row">
                                        <h6 style="margin-left: 24px; margin-top: 10px;"><b>Educational Details</b></h6>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="latestdegree" class="col-md-5 col-sm-5" style="margin-left: 10px; margin-top: 10px;">Latest Degree</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; margin-top: 10px; word-wrap: break-word;">@Model.EmpInfo.LatestDegree</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="collegename" class="col-md-5 col-sm-5" style="margin-left: 10px;">College Name</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.College_Name</div>
                                    </div>
                                </div>
                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="contactdetails" class="col-md-5 col-sm-5" style="margin-left: 10px;">Specialization</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">@Model.EmpInfo.Specialization</div>
                                    </div>
                                </div>

                                <div class="form-group" style="line-height: normal;">
                                    <div class="form-group row">
                                        <label for="contactdetails" class="col-md-5 col-sm-5" style="margin-left: 10px;">Passout Year</label>
                                        <div class="col-md-6 col-sm-6" style="margin-left: 10px; word-wrap: break-word;">
                                            @(Model.EmpInfo.YearofCompletion == 0 ? string.Empty : Model.EmpInfo.YearofCompletion.ToString())
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-5 mr-4" style="width: 47%;"></div>
                        </div>

                    </div>

                    <div class="tab-pane fade emp-ss-projectview" id="tab2" role="tabpanel" aria-labelledby="tab2-link">
                        Test
                    </div>
                    <div class="tab-pane fade emp-ss-assetview" id="tab3" role="tabpanel" aria-labelledby="tab3-link">

                        <div class="container" style="margin-left: 0 auto">
                            <div class="tree-structure">

                                <div class="tree">
                                    <ul>
                                        <li>
                                            <div class="family">
                                                <div class="parent">
                                                    <div class="person female" style="border: none;">
                                                        <div class="name allocate-details tree-root">


                                                        </div>
                                                    </div>
                                                    <ul>
                                                        @if (Model.empAsset != null)
                                                        {
                                                            if (!string.IsNullOrWhiteSpace(Model.empAsset.AssetType1) && Model.empAsset.AssetType1 != "null")
                                                            {
                                                                <li>
                                                                    <div class="family" style="width: 172px">
                                                                        <div class="person child male">
                                                                            <div class="name allocate-details tree-child">
                                                                                @if (!string.IsNullOrWhiteSpace(Model.empAsset.AssetType1Image))
                                                                                {

                                                                                    // Split the AssetID by '#' and check if there are enough parts
                                                                                    var assetIDParts = Model.empAsset.AssetID.Split('#');
                                                                                    var assetFolderID = assetIDParts.Length > 1 ? assetIDParts[1] : string.Empty; // Extracting assetFolderID

                                                                                    // Construct the asset image URL
                                                                                    var assetImageURL = $"{System.Configuration.ConfigurationManager.AppSettings["TicketingAbsolutePath"]}/Assets/{assetFolderID}/{Model.empAsset.AssetType1Image}";


                                                                                    <img src="@assetImageURL" alt="Asset Image" class="asset-profileimage">
                                                                                }
                                                                                else // Fallback image if asset image is not available
                                                                                {
                                                                                    <img src="~/Assets/01_Laptop.png" alt="Default Asset Image" />
                                                                                }

                                                                                <div class="allocate-info">
                                                                                    <div class="model"><span>Asset Name</span> @Model.empAsset.AssetType1</div>
                                                                                    <div class="assetid"><span>Asset ID</span> @Model.empAsset.AssetID</div>
                                                                                    <div class="allocatedby"><span>Allocated By</span> @Model.empAsset.AssignedBy</div>
                                                                                    <div class="allocateddate">
                                                                                        <span>Allocated Date</span>@if (Model.empAsset.AssignedDate.HasValue)
                                                                                        {
                                                                                            @Model.empAsset.AssignedDate.Value.ToString("dd-MM-yyyy")
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>No Date</span>
                                                                                        }
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            }
                                                            if (!string.IsNullOrWhiteSpace(Model.empAsset.AssetType2) && Model.empAsset.AssetType2 != "null")
                                                            {
                                                                <li>
                                                                    <div class="family" style="width: 172px">
                                                                        <div class="person child male">
                                                                            <div class="name allocate-details tree-child">
                                                                                @if (!string.IsNullOrWhiteSpace(Model.empAsset.AssetType2Image))
                                                                                {


                                                                                    // Split the AssetID by '#' and check if there are enough parts
                                                                                    var assetIDParts = Model.empAsset.AssetID.Split('#');
                                                                                    var assetFolderID = assetIDParts.Length > 1 ? assetIDParts[1] : string.Empty; // Extracting assetFolderID

                                                                                    // Construct the asset image URL
                                                                                    var assetImageURL = $"{System.Configuration.ConfigurationManager.AppSettings["TicketingAbsolutePath"]}/Assets/{assetFolderID}/{Model.empAsset.AssetType2Image}";

                                                                                    <img src="@assetImageURL" alt="Asset Image" class="asset-profileimage"> }
                                                                                else
                                                                                {
                                                                                    <img src="~/Assets/01_Mouse.png" alt="Mouse" />}

                                                                                <div class="allocate-info">
                                                                                    <div class="model"><span>Asset Name</span> @Model.empAsset.AssetType2</div>
                                                                                    <div class="assetid"><span>Asset ID</span> @Model.empAsset.AssetID</div>
                                                                                    <div class="allocatedby"><span>Allocated By</span> @Model.empAsset.AssignedBy</div>
                                                                                    <div class="allocateddate">
                                                                                        <span>Allocated Date</span>@if (Model.empAsset.AssignedDate.HasValue)
                                                                                        {
                                                                                            @Model.empAsset.AssignedDate.Value.ToString("dd-MM-yyyy")
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>No Date</span>
                                                                                        }
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            }
                                                            if (!string.IsNullOrWhiteSpace(Model.empAsset.AssetType3) && Model.empAsset.AssetType3 != "null")
                                                            {
                                                                <li>
                                                                    <div class="family" style="width: 172px">
                                                                        <div class="person child male">
                                                                            <div class="name allocate-details tree-child">
                                                                                @if (!string.IsNullOrWhiteSpace(Model.empAsset.AssetType3Image))
                                                                                {

                                                                                    // Split the AssetID by '#' and check if there are enough parts
                                                                                    var assetIDParts = Model.empAsset.AssetID.Split('#');
                                                                                    var assetFolderID = assetIDParts.Length > 1 ? assetIDParts[1] : string.Empty; // Extracting assetFolderID

                                                                                    // Construct the asset image URL
                                                                                    var assetImageURL = $"{System.Configuration.ConfigurationManager.AppSettings["TicketingAbsolutePath"]}/Assets/{assetFolderID}/{Model.empAsset.AssetType3Image}";

                                                                                    <img src="@assetImageURL" alt="Asset Image" class="asset-profileimage" width="80"> }
                                                                                else
                                                                                {
                                                                                    <img src="~/Assets/01_Mouse.png" alt="Mouse" />}
                                                                                <div class="allocate-info">
                                                                                    <div class="model"><span>Asset Name</span> @Model.empAsset.AssetType3</div>
                                                                                    <div class="assetid"><span>Asset ID</span> @Model.empAsset.AssetID</div>
                                                                                    <div class="allocatedby"><span>Allocated By</span> @Model.empAsset.AssignedBy</div>
                                                                                    <div class="allocateddate">
                                                                                        <span>Allocated Date</span>@if (Model.empAsset.AssignedDate.HasValue)
                                                                                        {
                                                                                            @Model.empAsset.AssignedDate.Value.ToString("dd-MM-yyyy")
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>No Date</span>
                                                                                        }
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            }
                                                            if (!string.IsNullOrWhiteSpace(Model.empAsset.AssetType4) && Model.empAsset.AssetType4 != "null")
                                                            {
                                                                <li>
                                                                    <div class="family" style="width: 172px">
                                                                        <div class="person child male">
                                                                            <div class="name allocate-details tree-child">
                                                                                @if (!string.IsNullOrWhiteSpace(Model.empAsset.AssetType4Image))
                                                                                {

                                                                                    // Split the AssetID by '#' and check if there are enough parts
                                                                                    var assetIDParts = Model.empAsset.AssetID.Split('#');
                                                                                    var assetFolderID = assetIDParts.Length > 1 ? assetIDParts[1] : string.Empty; // Extracting assetFolderID

                                                                                    // Construct the asset image URL
                                                                                    var assetImageURL = $"{System.Configuration.ConfigurationManager.AppSettings["TicketingAbsolutePath"]}/Assets/{assetFolderID}/{Model.empAsset.AssetType4Image}";

                                                                                    <img src="@assetImageURL" alt="Asset Image" class="asset-profileimage"> }
                                                                                else
                                                                                {
                                                                                    <img src="~/Assets/01_Mouse.png" alt="Mouse" />}
                                                                                <div class="allocate-info">
                                                                                    <div class="model"><span>Asset Name</span> @Model.empAsset.AssetType4</div>
                                                                                    <div class="assetid"><span>Asset ID</span> @Model.empAsset.AssetID</div>
                                                                                    <div class="allocatedby"><span>Allocated By</span> @Model.empAsset.AssignedBy</div>
                                                                                    <div class="allocateddate">
                                                                                        <span>Allocated Date</span>@if (Model.empAsset.AssignedDate.HasValue)
                                                                                        {
                                                                                            @Model.empAsset.AssignedDate.Value.ToString("dd-MM-yyyy")
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>No Date</span>
                                                                                        }
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            }
                                                            if (!string.IsNullOrWhiteSpace(Model.empAsset.AssetType5) && Model.empAsset.AssetType5 != "null")
                                                            {
                                                                <li>
                                                                    <div class="family" style="width: 172px">
                                                                        <div class="person child male">
                                                                            <div class="name allocate-details tree-child">
                                                                                @if (!string.IsNullOrWhiteSpace(Model.empAsset.AssetType5Image))
                                                                                {

                                                                                    // Split the AssetID by '#' and check if there are enough parts
                                                                                    var assetIDParts = Model.empAsset.AssetID.Split('#');
                                                                                    var assetFolderID = assetIDParts.Length > 1 ? assetIDParts[1] : string.Empty; // Extracting assetFolderID

                                                                                    // Construct the asset image URL
                                                                                    var assetImageURL = $"{System.Configuration.ConfigurationManager.AppSettings["TicketingAbsolutePath"]}/Assets/{assetFolderID}/{Model.empAsset.AssetType5Image}";
                                                                                    <img src="@assetImageURL" alt="Asset Image" class="asset-profileimage">
                                                                                }

                                                                                else
                                                                                {
                                                                                    <img src="~/Assets/01_Mouse.png" alt="Mouse" />
                                                                                }
                                                                                <div class="allocate-info">
                                                                                    <div class="model"><span>Asset Name</span> @Model.empAsset.AssetType5</div>
                                                                                    <div class="assetid"><span>Asset ID</span> @Model.empAsset.AssetID</div>
                                                                                    <div class="allocatedby"><span>Allocated By</span> @Model.empAsset.AssignedBy</div>
                                                                                    <div class="allocateddate">
                                                                                        <span>Allocated Date</span>@if (Model.empAsset.AssignedDate.HasValue)
                                                                                        {
                                                                                            @Model.empAsset.AssignedDate.Value.ToString("dd-MM-yyyy")
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>No Date</span>
                                                                                        }
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <li>

                                                                <div class="name allocate-details tree-child">
                                                                    <div class="allocate-info">
                                                                        <span>No assets assigned to this employee.</span>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade emp-ss-monthlymaintenanceview" id="tab4" role="tabpanel" aria-labelledby="tab4-link">
                        <div class="emp-ss-mm-year">
                            <h5 style="visibility:hidden;">Emp Monthly Maintenance</h5>
                            <div class="mm-year-dropdown">
                                <form id="yearFilterForm" method="get" action="/EmployeeDashboard/SelfService">
                                    <select class="form-control" id="emp-mm-year" name="year">
                                        @for (int i = DateTime.Now.Year; i >= 2020; i--)  // Adjust range as needed
                                        {
                                            <option value="@i" @(i == (Request["year"] != null ? int.Parse(Request["year"]) : DateTime.Now.Year) ? "selected" : "")>
                                                @i
                                            </option>
                                        }
                                    </select>
                                </form>
                            </div>

                        </div>

                        <div class="MaintenanceTableRows-div">
                            @Html.Partial("_MaintenanceTableRows", Model)
                        </div>


                    </div>


                </div>


            </div>

        </div>
    </div>


    <!-- Modal -->
    <div class="modal right fade" id="RescheduleMaintenancePopup" tabindex="-1" role="dialog" aria-labelledby="RescheduleMaintenancePopup">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="reschedulemaintenance-header-title">Reschedule Maintenance</h4>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                </div>
                <div class="modal-body">
                    <div class="reschedulemaintenance-body-title">
                        <span class="reschedulemaintenance-image-btn"><img src="" alt="ename"></span><span class="reschedulemaintenance-id-select" data-assetid="name">Name</span>
                    </div>
                    <div class="maintenanceapprove-info">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group maintenanceapproved-tabs">
                                    <label for="RescheduleMaintenance-Date">Maintenance Date</label>
                                    <input type="date" class="form-control" id="RescheduleMaintenance-Date" value="" readonly>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group reschedulemaintenance-tabs">
                                    <label for="RescheduleMaintenance-AgentName">Agent Name</label>
                                    <select name="RescheduleMaintenance-AgentName" class="RescheduleMaintenance-AgentName form-control form-select" id="RescheduleMaintenance-AgentName">
                                        <option value="" disabled selected hidden>Select Agent</option>
                                        @foreach (var agent in Model.ITEmployees)
                                        {
                                            <option value="@agent.EmployeeID">@agent.EmployeeName</option>
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group reschedulemaintenance-tabs">
                                    <label for="RescheduleMaintenance-Reschedule">Reschedule Date</label>
                                    <input type="date" class="form-control" id="RescheduleMaintenance-Reschedule" value="">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group reschedulemaintenance-tabs">
                                    <label for="RescheduleMaintenance-Notes">Notes</label>
                                    <textarea rows="3" class="form-control" id="RescheduleMaintenance-Notes" name="RescheduleMaintenance-Notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 text-right">
                                <button type="button" class="btn btn-primary reschedulemaintenance-Update" data-maintenancesno="">Reschedule</button>
                            </div>
                            <div class="col-lg-12 col-md-12 text-right">
                                <!-- Message div for showing success or failure message -->
                                <div id="MaintenancemodalMessage" class="mt-2" style="display:none;"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal -->

</div>

@Html.Partial("EmployeeFooter")

<!-- Change Password Modal -->
<div id="empChangePasswordModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="empChangePasswordModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="empTicketConfirmCancelModalLabel">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times-circle"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="changepassword">Current Password</label>
                        <input type="text" class="form-control" id="changepassword" placeholder="Enter Current Password">
                        <span toggle="#changepassword" class="fa fa-fw fa-eye field-icon toggle-changepassword text-muted"></span>
                        <span class="text-danger" id="changepasswordError"></span>
                    </div>
                    <div class="form-group">
                        <label for="newpassword">New Password</label>
                        <input type="text" class="form-control" id="newpassword" placeholder="Enter New Password">
                        <span toggle="#newpassword" class="fa fa-fw fa-eye field-icon toggle-newpassword text-muted"></span>
                        <span class="text-danger" id="newpasswordError"></span>
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword">Confirm Password</label>
                        <input type="text" class="form-control" id="confirmpassword" placeholder="Confirm New Password">
                        <span toggle="#confirmpassword" class="fa fa-fw fa-eye field-icon toggle-confirmpassword text-muted"></span>
                        <span class="text-danger" id="confirmpasswordError"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-ticketname="" id="empChangePasswordSubmitButton">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Change Password Success Modal -->
<div id="empChangePasswordSuccessModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="empChangePasswordSuccessModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="change-password-success-popup">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <div class="status-head">Password Updated!</div>
                    <div class="status-desc">Your password has been changed successfully</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //$(".emp-imgs").mouseover(function () {
        //    $(".img-edit-icon").css("display", "inline-block");
        //});
        //$(".emp-imgs").mouseout(function () {
        //    $(".img-edit-icon").css("display", "none");
        //});

        $(document).on('click', '.emp-ss-details-block4 .emp-change-password', function (e) {
            e.preventDefault();
            $('#changepassword').val("");
            $('#newpassword').val("");
            $('#confirmpassword').val("");
            $("#empChangePasswordModal").modal('show');
        });
    });


    function toggleEmpMaintenanceActionOptions(iconElement) {
        const optionsMenu = $(iconElement).next('.emp-maintenance-options');
        $('.emp-maintenance-options').not(optionsMenu).hide();
        optionsMenu.toggle();
    }


    $(document).on('click', '.emp-maintenance-info-view', function () {
        var maintananceNo = $(this).data('maintenancesno');
        window.location.href = '/EmployeeDashboard/MaintananceAck?Sno=' + maintananceNo;
    });

</script>

<script src="~/Scripts/z-changepassword.js"></script>
<script src="~/Scripts/Z-Maintanance.js"></script>