@model HRMS.Models.Timesheet

@{
    ViewBag.Title = "EmpTimesheetView";
}

@Html.Partial("_EmployeeNavbar")


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div class="container-fluid emp-timesheet-list-horizon">
    <div class="main-content container-fluid">
        <div class="content employee-timesheet">
            <div class="emp-timesheet-container">
                <div class="row res-emp-timesheet-header">
                    <div class="col-lg-3 res-emp-timesheet-title">
                        <h4>Timesheet</h4>
                    </div>
                </div>
            </div>

            <div class="emp-timesheet-details timesheet-nav" id="empTimesheet">

                <div class="emp-timesheet-header-block">
                    <div class="emp-timesheet-header-block-left">
                        <div class="emp-timesheet-block1">
                            <span class="emp-timesheet-weekno" id="view-week-number">Week @Model.Weeknumber</span>
                            <span class="emp-timesheet-weekrange-info">
                                <i class="fa fa-angle-left" aria-hidden="true" id="view-prev-week"></i>
                                <span class="emp-timesheet-weekrange">
                                    <span id="view-week-start">
                                        @Model.WeekStartDate.ToString("dd MMMM yyyy")
                                    </span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <span id="view-week-end">@Model.WeekEndDate.ToString("dd MMMM yyyy")</span>
                                </span>
                                <i class="fa fa-angle-right" aria-hidden="true" id="view-next-week"></i>
                            </span>
                        </div>
                        <div class="emp-timesheet-block2">
                            <div class="form-group col-lg-12 div-timesheet-company">
                                <select class="form-control" id="viewtimesheetclient">

                                    @*@foreach (var client in Model.WeekInfo[0].Clients)
                                        {*@
                                    <option value="@Model.SiteContext.EmpInfo.Client">@Model.SiteContext.EmpInfo.Client</option>
                                    @*}*@

                                </select>
                            </div>
                        </div>
                        <div class="emp-timesheet-block3">
                            <span>Reporting Manager </span> @Model.SiteContext.EmpInfo.ReportingManager
                        </div>
                    </div>
                    <div class="emp-timesheet-header-block-right">
                        <button type="button" class="btn btn-primary timesheet-enter">Enter Timesheet</button>
                    </div>
                </div>

                <div class="emp-timesheet-graph-block">
                    <div class="emp-timesheet-hours-spent">
                        <div class="emp-timesheet-block-content emp-timesheet-block-bar">
                            <div id="emp-timesheet-hours-spent" style="height: 270px; width: 100%;"></div>
                        </div>
                    </div>
                    <div class="emp-timesheet-attendance">
                        <div class="emp-timesheet-block-content emp-timesheet-block-donut">
                            <div class="emp-timesheet-block-donut-title">Hours Spent</div>
                            <canvas id="emp-timesheet-attendance" style="width:100%;max-width:100%"></canvas>
                        </div>
                    </div>
                </div>


                <div class="emp-timesheet-table-block">


                    <div class="emp-timesheet-table-body">
                        @Html.Partial("~/Views/Timesheet/_EmpViewTimeSheetrows.cshtml", Model)
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
@Html.Partial("EmployeeFooter")

<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

<script src="~/Scripts/z-EmpViewTimesheet.js"></script>
<script>



</script>


