@model  List<HRMS.JobReferral>

@using HRMS.Helpers
<div class="modal-content" style="border-color:transparent">
    <style>
        .tableempty_jobreferal {
            text-align: center;
        }
    </style>
    <div class="modal-body" style="padding:0px;">
        <div class="modal-header">
            <h5 class="modal-title" id="JobReferralProcessModalLabel">Recruitment Administrator-12891/#01</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="modal-body">
            <table id="admin_candidatelist_jobreferal" class="display" style="width: 100%;">
                <thead class="canjref_thead">
                    <tr>
                        <th>Candidate Name</th>
                        <th>Resume</th>
                        <th>Referred By</th>
                        <th>Referred Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody class="canjref_tbody">

                    @if (Model != null && Model.Any())
                    {
                        foreach (var candidate in Model)
                        {
                            <tr>
                                <td class="jobreferred_candidatename">@candidate.CandidateName</td>
                                <td class="jobreferred_resume">


                                    @{ var basePath = System.Configuration.ConfigurationManager.AppSettings["TicketingAbsolutePath"];
                                        var resumePath = $"/resume/{candidate.ResumePath}";
                                        var absolutePath = $"{basePath}{resumePath}"; }

                                    <a href="@absolutePath" target="_blank">Resume</a>
                                </td>
                                <td class="jobreferred_by d-flex">
                                    <img src="@candidate.CandidateName" alt="" class="">


                                    @{
                                        var empID = Model[0].ReferredById;
                                        var empreferred = EmployeeHelper.GetEmployeeDisplayInfo(empID);
                                    }

                                    @if (!string.IsNullOrWhiteSpace(empreferred.ImageSrc))
                                    {
                                        <img src="@empreferred.ImageSrc" alt="Employee Image" class="jobreffered_by_image mt-1">
                                    }
                                    else
                                    {
                                        <div class="emp-dash-modal-navbar">@empreferred.EmpShortName</div>
                                    }
                                    <span class="employee-details mt-2 ml-2">
                                        @candidate.ReferredBy<br />
                                        <small>@candidate.ReferredByEmail</small>
                                    </span>
                                </td>
                                <td class="jobreferred_date">@candidate.ReferredDate</td>
                                <td class="jobreferred_status">
                                    <select class="form-control" data-sno="@candidate.Sno" id="jobreferred_status_data" required>
                                        <option value="" selected disabled>Status</option>
                                        @{
                                            var candidateStatus = new List<string>();
                                            candidateStatus.Add("Selected");
                                            candidateStatus.Add("Open");
                                            candidateStatus.Add("Interview");
                                            candidateStatus.Add("Hold");
                                            candidateStatus.Add("Rejected");
                                            candidateStatus.Add("Removed");
                                            candidateStatus.Add("Others");
                                        }

                                        @foreach (var item in candidateStatus)
                                        {
                                            var selectedstatus = !string.IsNullOrEmpty(candidate.CandidateStatus) && (candidate.CandidateStatus == item) ? "selected" : "";
                                            <option value="@item" @selectedstatus>@item</option>
                                        }

                                    </select>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="tableempty_jobreferal"> No Results found</td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
        <script>
            $(document).ready(function () {
                if (!$.fn.DataTable.isDataTable('#admin_candidatelist_jobreferal')) {
                    $('#admin_candidatelist_jobreferal').DataTable({
                        "paging": false,
                        "searching": false,
                        "ordering": false,
                        //"scrollCollapse": true,
                        "info": true,
                        "autoWidth": false,
                        "lengthMenu": [[7, 14, 21, -1], [7, 14, 21, "All"]],
                        "columnDefs": [
                            { "orderable": false, "targets": 1 },
                            { "orderable": false, "targets": 3 }
                        ]
                    });
                }
            });
        </script>
    </div>
</div>
