@model HRMS.emplogin

@{
    var passwordResetLink = "";
    var loginPageLink = "";
}

@if (Model != null)
{
    var siteURL = System.Configuration.ConfigurationManager.AppSettings["siteURL"];
    var logoURL = siteURL + "/Assets/AMBC_Logo.png";

    passwordResetLink = siteURL + "/account/resetpassword?empid=" + @Model.EmployeeID;
    loginPageLink = siteURL;

    <html>
    <head>
        <style>
            .email-body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 20px;
                background-color: #f2f2f2;
            }
            .email-content {
                background-color: #ffffff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
            .email-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .email-logo img {
                max-width: 100px;
            }
            .email-footer {
                margin-top: 20px;
                text-align: center;
                font-size: 12px;
                color: #888888;
            }
        </style>
    </head>
    <body>
        <div class='email-body'>
            <div class='email-content'>
                <div class='email-header'>
                    <div>
                        <h2 style="margin: 0; font-size: 1.2em;">Hello <b>@Model.EmployeeName</b>,</h2>
                        <p>You're now part of the AMBC team!</p>
                    </div>
                    <div class='email-logo'>
                        <a href="@siteURL" target="_blank">
                            <img src="@logoURL" alt="AMBC Logo">
                        </a>
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <p>Here's how to access your employee account on our web application:</p>
                    <p><b>Web Application URL:</b> @siteURL</p>
                    <p><b>User ID:</b> <b>@Model.EmployeeID</b></p>
                    <p><b>Temporary Password:</b> <b>@Model.Password</b></p>
                    <p><b>Steps to Get Started:</b></p>
                    <ol>
                        <li>Visit the Web Application URL.</li>
                        <li>Enter your User ID and Temporary Password.</li>
                    </ol>
                    <p>For assistance, contact our AMBC HR Team.</p>
                </div>
                <div style="margin-top: 20px;">
                    <p>Thanks & Regards,</p>
                    <p><b>AMBC HR Department</b></p>
                </div>
            </div>
            <div class='email-footer'>
                <p>This is an automated email, please do not reply.</p>
                <p>Automated mail from <a href="https://prm.ambctechnologies.com" style="color: #2693F8;">https://prm.ambctechnologies.com</a></p>
            </div>
        </div>
    </body>
</html>
}
