@model HRMS.Models.Admin.AddEmployeeViewModel

<div class="admin-empadd-view">
    <h2 style="margin-bottom: 35px; margin-left: -5px; " class="addempheadline">
        @Model.HeadLine
    </h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist" style="background-color: #EEF4FF; font-size: 15px;" >
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tab1-link" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true"><b>General Information</b></a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab2-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><b>Bank details</b></a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab3-link" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><b>ID proof details</b></a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab4-link" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false"><b>Statutory details</b></a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab5-link" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false"><b>Education details</b></a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab6-link" data-toggle="tab" href="#tab6" role="tab" aria-controls="tab6" aria-selected="false"><b>Previous employer details</b></a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab7-link" data-toggle="tab" href="#tab7" role="tab" aria-controls="tab7" aria-selected="false"><b>Seperation information</b></a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-link">
            <form id="tab1-form" class="tabs-view needs-validation" novalidate>
                <div class="container tab-container" style="margin-left: 5px">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group tabs-general">
                                <label for="EmployeeID">Employee ID</label>
                                <input type="text" class="form-control" id="EmployeeID" value="@Model.EditableEmpInfo.EmployeeID" required>
                                <small style="font-size: 11px; float: right;">Last Emp ID: @Model.LastCreatedEmpID</small>
                            </div>
                            <div class="invalid-feedback">Please provide Employee ID.</div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group tabs-general">
                                <label for="EmployeeName">Employee Name</label>
                                <input type="text" class="form-control" id="EmployeeName" value="@Model.EditableEmpInfo.EmployeeName" required>
                                <div class="invalid-feedback">Please provide Employee Name.</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-general">
                                <label for="FatherName">Father's Name</label>
                                <input type="text" class="form-control" id="FatherName" value="@Model.EditableEmpInfo.FatherName" required>
                                <div class="invalid-feedback">Please provide Father Name.</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-general">
                                <label for="DOJ">Date of Joining</label>
                                @if (Model.EditableEmpInfo.DOJ != DateTime.MinValue)
                                {
                                    @Html.TextBoxFor(m => m.EditableEmpInfo.DOJ, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "DOJ" })
                                }
                                else
                                {
                                    <input type="date" class="form-control" id="DOJ" value="@Model.EditableEmpInfo.DOJ" required>
                                }

                                <div class="invalid-feedback">Please provide Employee ID.</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group tabs-general">
                                <label for="DOB">Date of Birth</label>
                                @if (Model.EditableEmpInfo.DOB != DateTime.MinValue)
                                {
                                    @Html.TextBoxFor(m => m.EditableEmpInfo.DOB, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control emp-dob", @id = "DOB" })
                                }
                                else
                                {
                                    <input type="date" class="form-control" id="DOB" value="@Model.EditableEmpInfo.DOB" required>
                                }
                                <div class="invalid-feedback">Please provide Date of Birth.</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group tabs-general">
                                <label for="Age">Age</label>
                                <input type="number" class="form-control" id="Age" value="@Model.EditableEmpInfo.Age" readonly="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-general drop-menu">
                                <label for="BloodGroup">Blood Group</label>
                                <select class="form-control" id="BloodGroup" required>
                                    @{
                                        var selectedBloodGroupItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.BloodGroup) ? "selected" : "";
                                    }
                                    <option value="" @selectedBloodGroupItem style="background-color: #f0f0f0;" class="default-option">Select Blood Group</option>

                                    @{
                                        var bloodGroupList = new List<string>();
                                        bloodGroupList.Add("A+");
                                        bloodGroupList.Add("A-");

                                        bloodGroupList.Add("B+");
                                        bloodGroupList.Add("B-");

                                        bloodGroupList.Add("AB+");
                                        bloodGroupList.Add("AB-");

                                        bloodGroupList.Add("O+");
                                        bloodGroupList.Add("O-");
                                    }

                                    @foreach (var item in bloodGroupList)
                                    {
                                        selectedBloodGroupItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.BloodGroup) && (Model.EditableEmpInfo.BloodGroup == item) ? "selected" : "";
                                        <option value="@item" @selectedBloodGroupItem>@item</option>
                                    }

                                </select>
                                <div class="invalid-feedback">Please select Blood Group.</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-general drop-menu">
                                <label for="EmployeeStatus">Employee Status</label>
                                <select class="form-control" id="EmployeeStatus" required>

                                    @{
                                        var selectedEmpStatusItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.EmployeeStatus) ? "selected" : "";
                                    }
                                    <option value="" @selectedEmpStatusItem>Select Employee Status</option>

                                    @{
                                        var empStatusList = new List<string>();
                                        empStatusList.Add("Active");
                                        empStatusList.Add("Inactive");
                                    }

                                    @foreach (var item in empStatusList)
                                    {
                                        selectedEmpStatusItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.EmployeeStatus) && (Model.EditableEmpInfo.EmployeeStatus == item) ? "selected" : "";
                                        <option value="@item" @selectedEmpStatusItem>@item</option>
                                    }
                                </select>
                                <div class="invalid-feedback">Please select Employee Status.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group tabs-general drop-menu">
                                <label for="Gender">Gender</label>
                                <select class="form-control" id="Gender" required>

                                    @{
                                        var selectedGenederItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.Gender) ? "selected" : "";
                                    }
                                    <option value="" @selectedGenederItem style="color:lightgray;">Select Gender</option>

                                    @{
                                        var genderList = new List<string>();
                                        genderList.Add("Male");
                                        genderList.Add("Female");
                                        genderList.Add("Other");
                                    }
                                    @foreach (var item in genderList)
                                    {
                                        selectedGenederItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.Gender) && (Model.EditableEmpInfo.Gender == item) ? "selected" : "";
                                        <option value="@item" @selectedGenederItem>@item</option>
                                    }
                                </select>
                                <div class="invalid-feedback">Please select Gender.</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-general drop-menu">
                                <label for="MaritalStatus">Marital Status</label>
                                <select class="form-control" id="MaritalStatus" required>
                                    @{
                                        var selectedMarrialStatusItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.MaritalStatus) ? "selected" : "";
                                    }
                                    <option value="" @selectedMarrialStatusItem style="color:lightgray;">Select Marital Status</option>

                                    @{
                                        var maritalStatusList = new List<string>();
                                        maritalStatusList.Add("Single");
                                        maritalStatusList.Add("Married");
                                        maritalStatusList.Add("Divorced");
                                        maritalStatusList.Add("Widowed");
                                    }
                                    @foreach (var item in maritalStatusList)
                                    {
                                        selectedMarrialStatusItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.MaritalStatus) && (Model.EditableEmpInfo.MaritalStatus == item) ? "selected" : "";
                                        <option value="@item" @selectedMarrialStatusItem>@item</option>
                                    }
                                </select>
                                <div class="invalid-feedback">Please select Marital Status.</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-general">
                                <label for="Designation">Designation</label>
                                <div class="input-group">
                                    <select class="form-control" id="Designation" required>
                                        @{
                                            var selectedDesignationItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.Designation) ? "selected" : "";
                                        }
                                        <option value="" @selectedDesignationItem style="color:lightgray;">Select Designation</option>
                                        @foreach (var item in Model.Designations)
                                        {
                                            selectedDesignationItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.Designation) && (Model.EditableEmpInfo.Designation == item.Name) ? "selected" : "";
                                            <option value="@item.Id" @selectedDesignationItem>@item.Name</option>
                                        }
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary btn-sm" type="button" data-toggle="modal" data-target="#addDesignationModel">
                                            <i class="fas fa-plus fa-xs"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-general">
                                <label for="Department">Department</label>
                                <div class="input-group">
                                    <select class="form-control" id="Department" required>
                                        @{
                                            var selectedDepartmentItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.Department) ? "selected" : "";
                                        }
                                        <option value="" @selectedDepartmentItem style="color:lightgray;">Select Department</option>
                                        @foreach (var item in Model.Departments)
                                        {
                                            selectedDepartmentItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.Department) && (Model.EditableEmpInfo.Department == item.Name) ? "selected" : "";
                                            <option value="@item.Id" @selectedDepartmentItem>@item.Name</option>
                                        }
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary btn-sm" type="button" data-toggle="modal" data-target="#addDepartmentModel">
                                            <i class="fas fa-plus fa-xs"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group drop-menu tabs-general">
                                <label for="Client">Client</label>
                                <div class="input-group">
                                    <select class="form-control" id="Client" onchange="handleClientChange(this.value)" required>
                                        @{
                                            var selectedClientItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.Client) ? "selected" : "";
                                        }
                                        <option value="" @selectedClientItem style="color:lightgray;">Select Client</option>
                                        @foreach (var item in Model.Clients)
                                        {
                                            selectedClientItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.Client) && (Model.EditableEmpInfo.Client == item.Name) ? "selected" : "";
                                            <option value="@item.Id" @selectedClientItem>@item.Name</option>
                                        }
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary btn-sm" type="button" data-toggle="modal" data-target="#addClientModal">
                                            <i class="fas fa-plus fa-xs"></i>
                                        </button>
                                    </div>
                                    <div class="invalid-feedback">Please select Client Name.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group drop-menu tabs-general">
                                <label for="EmployeeType">Employement Type</label>
                                <select class="form-control" id="EmployeeType" required>

                                    @{
                                        var selectedemploymentTypeItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.EmployeeType) ? "selected" : "";
                                    }
                                    <option value="" @selectedemploymentTypeItem style="color:lightgray;">Select Employee Type</option>

                                    @{
                                        var empTypeList = new List<string>();
                                        empTypeList.Add("Full-Time");
                                        empTypeList.Add("Probation");
                                    }

                                    @foreach (var item in empTypeList)
                                    {
                                        selectedemploymentTypeItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.EmployeeType) && (Model.EditableEmpInfo.EmployeeType == item) ? "selected" : "";
                                        <option value="@item" @selectedemploymentTypeItem>@item</option>
                                    }

                                </select>
                                <div class="invalid-feedback">Please select Employee Type.</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-general drop-menu">
                                <label for="Location">Location</label>
                                <select class="form-control" id="Location" required>

                                    @{
                                        var selectedLocationItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.Location) ? "selected" : "";
                                    }
                                    <option value="" @selectedLocationItem style="color:lightgray;">Select Location</option>

                                    @{
                                        var locationList = new List<string>();
                                        locationList.Add("Hyderabad");
                                        locationList.Add("Madurai");
                                    }
                                    @foreach (var item in locationList)
                                    {
                                        selectedLocationItem = !string.IsNullOrEmpty(Model.EditableEmpInfo.Location) && (Model.EditableEmpInfo.Location == item) ? "selected" : "";
                                        <option value="@item" @selectedLocationItem>@item</option>
                                    }
                                </select>
                                <div class="invalid-feedback">Please select Location.</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-general drop-menu">
                                <label for="ReportingManager">Reporting Manager</label>
                                <div class="input-group dropdownplacehodercolor">
                                    <select class="form-control" id="ReportingManager" required>
                                        @{
                                            var selectedReportingManager = string.IsNullOrEmpty(Model.EditableEmpInfo.ReportingManager) ? "selected" : "";
                                        }
                                        <option value="" @selectedReportingManager style="color:lightgray;">Select RM</option>

                                        @foreach (var item in Model.ReportingManagers)
                                        {
                                            selectedReportingManager = !string.IsNullOrEmpty(Model.EditableEmpInfo.ReportingManager) && (Model.EditableEmpInfo.ReportingManager == item.Name) ? "selected" : "";
                                            <option value="@item.Name" @selectedReportingManager>@item.Name</option>
                                        }

                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary btn-sm" type="button" data-toggle="modal" data-target="#addReportingManagerModal">
                                            <i class="fas fa-plus fa-xs"></i>
                                        </button>
                                    </div>
                                    <div class="invalid-feedback">Please select Reporting Manager.</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group tabs-general drop-menu">
                                <label for="LeavereportingManager">Leave Reporting Manager</label>
                                <div class="input-group">
                                    <select class="form-control" id="LeavereportingManager" required>
                                        @{
                                            var selectedLeaveManager = string.IsNullOrEmpty(Model.EditableEmpInfo.LeavereportingManager) ? "selected" : "";
                                        }
                                        <option value="" @selectedLeaveManager style="color:lightgray;">Select LM</option>

                                        @foreach (var item in Model.LeaveManagers)
                                        {
                                            selectedLeaveManager = !string.IsNullOrEmpty(Model.EditableEmpInfo.LeavereportingManager) && (Model.EditableEmpInfo.LeavereportingManager == item.Name) ? "selected" : "";
                                            <option value="@item.Name" @selectedLeaveManager>@item.Name</option>
                                        }

                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary btn-sm" type="button" data-toggle="modal" data-target="#addLeaveManagerModal">
                                            <i class="fas fa-plus fa-xs"></i>
                                        </button>
                                    </div>
                                    <div class="invalid-feedback">Please select Leave RM.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group tabs-general">
                                <label for="MobileNumber">Mobile Number</label>
                                <input type="text" class="form-control" id="MobileNumber" value="@Model.EditableEmpInfo.MobileNumber" required>
                                <div class="invalid-feedback">Please enter Mobile Number</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-general">
                                <label for="Personal_Emailid">Personal Email</label>
                                <input type="email" class="form-control" id="Personal_Emailid" value="@Model.EditableEmpInfo.Personal_Emailid">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-general">
                                <label for="OfficalEmailid">Official Email</label>
                                <input type="email" class="form-control" id="OfficalEmailid" value="@Model.EditableEmpInfo.OfficalEmailid" required>
                                <div class="invalid-feedback">Please enter Official Emial ID.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group tabs-general present-address" style=" margin-top: 6px;">
                                <label for="PresentAddress">Present Address</label>
                                <textarea class="form-control" id="PresentAddress">@Model.EditableEmpInfo.PresentAddress</textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group tabs-general permanent-address">
                                <label for="Permanent_Address">
                                    Permanent Address &nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" id="copyPresentAddress">
                                    <label for="copyPresentAddress">Same as Present Address</label>
                                </label>
                                <textarea class="form-control" id="Permanent_Address">@Model.EditableEmpInfo.PresentAddress</textarea>
                            </div>
                        </div>
                    </div>
                    <h3 class="emergency-det">Emergency Contact Details</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group tabs-general">
                                <label for="RelationName">Name</label>
                                <input type="text" class="form-control" id="RelationName" required value="@Model.EditableEmpInfo.RelationName">
                                <div class="invalid-feedback">Please enter Name.</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-general">
                                <label for="Relationship">Relationship</label>
                                <input type="text" class="form-control" id="Relationship" value="@Model.EditableEmpInfo.Relationship" required>
                                <div class="invalid-feedback">Please enter Relationship.</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-general">
                                <label for="FamilyMobileNumber">Family Mobile Number</label>
                                <input type="text" class="form-control" id="FamilyMobileNumber" value="@Model.EditableEmpInfo.FamilyMobileNumber" required>
                                <div class="invalid-feedback">Please enter Family Mobile Number.</div>

                            </div>
                        </div>
                        <button type="button" class="btn btn-primary save-and-next">Save and Next</button>
                    </div>

                    @*Current loggedin User name*@
                    <input type="text" class="form-control" id="CreatedBy" value="@Model.EmpInfo.Employer_name" style="display: none">
                    <input type="text" class="form-control" id="UpdatedBy" value="@Model.EmpInfo.Employer_name" style="display: none">
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-link">
            <form id="tab2-form" class="tabs-view needs-validation" novalidate>
                <div class="container tab-container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="BankName">Bank Name</label>
                                <input type="text" class="form-control" id="BankName" value="@Model.EditableEmpInfo.BankName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="AccountNumber">Account Number</label>
                                <input type="text" class="form-control" id="AccountNumber" value="@Model.EditableEmpInfo.AccountNumber">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="Branch">Branch</label>
                                <input type="text" class="form-control" id="Branch" value="@Model.EditableEmpInfo.Branch">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="TypeofAccount">Type of Account</label>
                                <input type="text" class="form-control" id="TypeofAccount" value="@Model.EditableEmpInfo.TypeofAccount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="IFSCcode">IFSC Code</label>
                                <input type="text" class="form-control" id="IFSCcode" value="@Model.EditableEmpInfo.IFSCcode">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary save-and-next" style="margin-left: 62%;">Save and Next</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-link">
            <form id="tab3-form" class="tabs-view">
                <div class="container tab-container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="PANnumber">PAN Number</label>
                                <input type="text" class="form-control" id="PANnumber" value="@Model.EditableEmpInfo.PANnumber">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="AadharNumber">Aadhar Number</label>
                                <input type="text" class="form-control" id="AadharNumber" value="@Model.EditableEmpInfo.AadharNumber">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="Passport">Passport Number</label>
                                <input type="text" class="form-control" id="Passport" value="@Model.EditableEmpInfo.Passport">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="DOEofPassport">Passport Date of Expiry</label>
                                @*<input type="date" class="form-control" id="DOEofPassport" value="@Model.EditableEmpInfo.DOEofPassport">*@

                                @if (Model.EditableEmpInfo.DOEofPassport != DateTime.MinValue)
                                {
                                    @Html.TextBoxFor(m => m.EditableEmpInfo.DOEofPassport, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "DOEofPassport" })
                                }
                                else
                                {
                                    <input type="date" class="form-control" id="DOEofPassport" value="@Model.EditableEmpInfo.DOEofPassport">
                                }

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary save-and-next" style=" margin-left: 88%;">Save and Next</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-link">
            <form id="tab4-form" class="tabs-view">
                <div class="container tab-container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="UANNumber">UAN Number</label>
                                <input type="text" class="form-control" id="UANNumber" value="@Model.EditableEmpInfo.UANNumber">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="PFNumber">PF Number</label>
                                <input type="text" class="form-control" id="PFNumber" value="@Model.EditableEmpInfo.PFNumber">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="ESICNumber">ESIC Number</label>
                                <input type="text" class="form-control" id="ESICNumber" value="@Model.EditableEmpInfo.ESICNumber">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary save-and-next">Save and Next</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-link">
            <form id="tab5-form" class="tabs-view">
                <div class="container tab-container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="LatestDegree">Latest Degree</label>
                                <input type="text" class="form-control" id="LatestDegree" value="@Model.EditableEmpInfo.LatestDegree ">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="College_Name">College Name</label>
                                <input type="text" class="form-control" id="College_Name" value="@Model.EditableEmpInfo.College_Name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="Specialization">Specialization</label>
                                <input type="text" class="form-control" id="Specialization" value="@Model.EditableEmpInfo.Specialization">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="YearofCompletion">Year of Completion</label>
                                <input type="number" class="form-control" id="YearofCompletion" value="@Model.EditableEmpInfo.YearofCompletion">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary save-and-next" style="margin-left: 88%;">Save and Next</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="tab6-link">
            <form id="tab6-form" class="tabs-view">
                <div class="container tab-container">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="Employer_name">Employer Name</label>
                                <input type="text" class="form-control" id="Employer_name" value="@Model.EditableEmpInfo.EmployeeName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="JobTitle">Job Title</label>
                                <input type="text" class="form-control" id="JobTitle" value="@Model.EditableEmpInfo.JobTitle">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="From_date">From Date</label>
                                @*<input type="date" class="form-control" id="From_date" value="@Model.EditableEmpInfo.From_date">*@

                                @if (Model.EditableEmpInfo.From_date != DateTime.MinValue)
                                {
                                    @Html.TextBoxFor(m => m.EditableEmpInfo.From_date, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "From_date" })
                                }
                                else
                                {
                                    <input type="date" class="form-control" id="From_date" value="@Model.EditableEmpInfo.From_date">
                                }

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="To_date">To Date</label>
                                @*<input type="date" class="form-control" id="To_date" value="@Model.EditableEmpInfo.To_date">*@
                                @if (Model.EditableEmpInfo.To_date != DateTime.MinValue)
                                {
                                    @Html.TextBoxFor(m => m.EditableEmpInfo.To_date, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "To_date" })
                                }
                                else
                                {
                                    <input type="date" class="form-control" id="To_date" value="@Model.EditableEmpInfo.To_date">
                                }

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="ReasonforRelieving">Reason of Relieving:</label>
                                <input type="text" class="form-control" id="ReasonforRelieving" value="@Model.EditableEmpInfo.ReasonforRelieving">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary save-and-next" style="margin-left: 271%;">Save and Next</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="tab7" role="tabpanel" aria-labelledby="tab7-link">
            <form id="tab7-form" class="tabs-view">
                <div class="container tab-container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="DateofExit">Date of Exit:</label>
                                @if (Model.EditableEmpInfo.DateofExit != DateTime.MinValue)
                                {
                                    @Html.TextBoxFor(m => m.EditableEmpInfo.DateofExit, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "DateofExit" })
                                }
                                else
                                {
                                    <input type="date" class="form-control" id="DateofExit" value="@Model.EditableEmpInfo.DateofExit">
                                }
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="Reason">Reason</label>
                                <input type="text" class="form-control" id="Reason" value="@Model.EditableEmpInfo.Reason">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group tabs-other">
                                <label for="EligibleforRehire">Eligible for Rehire</label>
                                <input type="text" class="form-control" id="EligibleforRehire" value="@Model.EditableEmpInfo.EligibleforRehire">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary addemp-submit-btn" style=" margin-top: 29px; width: 60%;">Submit</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div class="isaddaction" style="display: none">@Model.IsAddAction</div>

    <div class="modal fade" id="addDesignationModel" tabindex="-1" role="dialog" aria-labelledby="addDesignationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDesignationModalLabel">Add New Designation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your form for adding a new option goes here -->
                    <form id="addOptionForm">
                        <div class="form-group tabs-other">
                            <label for="newDesignation">New Designation</label>
                            <input type="text" class="form-control" id="newDesignation">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveNewDesignation">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addDepartmentModel" tabindex="-1" aria-labelledby="addDepartmentModelLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDepartmentModelLabel">Add Department</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add your form or content for adding a new department here -->
                    <form id="addDepartmentForm">
                        <div class="form-group tabs-other">
                            <label for="departmentName">Department Name:</label>
                            <input type="text" class="form-control" id="departmentName">
                        </div>
                        <!-- Add more form fields if needed -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveDepartment">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addClientModal" tabindex="-1" role="dialog" aria-labelledby="addClientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addClientModalLabel">Add New Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addClientForm">
                        <div class="form-group tabs-other">
                            <label for="newClientName">Client Name:</label>
                            <input type="text" class="form-control" id="newClientName" required>
                        </div>
                        <!-- Add more form fields if needed -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveClient">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addReportingManagerModal" tabindex="-1" aria-labelledby="addReportingManagerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addReportingManagerModalLabel">Add New Reporting Manager</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form to add new reporting manager -->
                    <form id="addReportingManagerForm">
                        <div class="form-group tabs-other">
                            <label for="newReportingManager">Name:</label>
                            <input type="text" class="form-control" id="newReportingManager" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveReportingManagerBtn">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addLeaveManagerModal" tabindex="-1" aria-labelledby="addLeaveManagerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLeaveManagerModalLabel">Add New Leave Manager</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form to add new leave manager -->
                    <form id="addLeaveManagerForm">
                        <div class="form-group tabs-other">
                            <label for="newLeaveManager">Name:</label>
                            <input type="text" class="form-control" id="newLeaveManager" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveLeaveManagerBtn">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EmpsuccessModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="addemp-message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-secondary refresh-emptablist" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

