@model HRMS.Models.Admin.AdminLeaveBalanceUpdateModel

<div class="admin-leaveBalanceUpdate-view">
    <style>
        .leaveupdate-type {
            display: flex;
            align-items: center;
        }

            .leaveupdate-type span {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 4px;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-weight: bold;
                border: 1px solid #ccc;
            }

        .ELupdate {
            background-color: #f4cccc;
        }

        .EMLupdate {
            background-color: #ea9999;
        }

        .SLupdate {
            background-color: #c9daf8;
        }

        .BLupdate {
            background-color: #ffe599;
        }

        .HPupdate {
            background-color: #b6d7a8;
        }

        .leaveblanceupdate-table input {
            width: 70px;
            text-align: center;
        }

        .leaveblanceupdate-table th, .leaveblanceupdate-table tbody td {
            border: none;
        }
    </style>
    <div class="container res-adminleavebalance-update-block">
        <h4 class="mb-4">Leave Balance</h4>
        <div class="d-flex justify-content-between mb-4 res-admin-leavebalance-select">
            <select class="custom-select w-50" id="userSelect">
                <option selected>Select User</option>

                @{
                    var selectedempID = Model.EmpLeaveBalance.EmpID;
                }
                @foreach (var emp in Model.Employees)
                {
                    var selected = emp.EmployeeID == selectedempID ? "selected" : "";
                    <option @selected value="@emp.EmployeeID">@emp.EmployeeName</option>
                }
            </select>
            @*<button class="btn btn-primary" data-toggle="modal" data-target="#addLeaveModal">Add Leave</button>*@
        </div>

        <div class="table-responsive">
            <table class="table leaveblanceupdate-table">
                <thead>
                    <tr>
                        <th scope="col">Leave Type</th>
                        <th scope="col">Total Days</th>
                        <th scope="col">Booked</th>
                        <th scope="col">Available</th>
                    </tr>
                </thead>
                <tbody id="leaveBalanceTableBody">

                    @foreach (var leave in Model.AvailableLeaves)
                    {
                        <tr>
                            <td class="leaveupdate-type"><span class="@leave.DashBoardColorCode">@leave.ShortName</span> @leave.Type</td>
                            <td><input type="number" class="form-control total-available-leave" value="@leave.Available.ToString().Replace(".00","")"></td>
                            <td><input type="text" disabled class="form-control" value="@leave.Booked.ToString().Replace(".00","")"></td>
                            <td><input type="text" disabled class="form-control" value="@leave.Balance.ToString().Replace(".00","")"></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" id="updateleavebalanceButton">Update</button>
    </div>

    <!-- Add Leave Modal -->
    <div class="modal fade" id="addLeaveModal" tabindex="-1" role="dialog" aria-labelledby="addLeaveModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLeaveModalLabel">Add New Leave Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addLeaveForm">
                        <div class="form-group">
                            <label for="leaveLabel">Leave Label</label>
                            <input type="text" class="form-control" id="leaveLabel" placeholder="Enter leave label">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveNewLeave()">Save</button>
                </div>
            </div>
        </div>
    </div>


    @Html.Partial("CommonModalPopups")
</div>


<script>
    ////function saveNewLeave() {
    ////    const leaveLabel = document.getElementById('leaveLabel').value;
    ////    if (leaveLabel) {
    ////        alert('New leave type added: ' + leaveLabel);
    ////        $('#addLeaveModal').modal('hide');
    ////    } else {
    ////        alert('Please enter a leave label.');
    ////    }
    ////}
</script>