@using HRMS.Helpers

@model HRMS.Models.Admin.AdminDashView

@{
    var currentContext = Session["SiteContext"] as HRMS.Models.SiteContextModel;
    var isSuperAdmin = HRMS.Helpers.SuperAdminHelper.IsSuperAdmin(currentContext);
    var adminLocations = HRMS.Helpers.SuperAdminHelper.GetAdminLocations(currentContext);
}

@Html.Partial("_NavBar")

<div class="container-fluid res-admin-dashboard">
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid" style="width: 84%">
        <div class="content admin-empmanagement-container ">

            <div class="admin-dashboard-view">
                <div class="container-fluid res-admindash">

                    <div class="row admin-dashboard-header">
                        <div class="admin-dashboard-header-title">
                            <h4 class="mb-3 header-title">Dashboard</h4>
                        </div>
                        <div class="admin-dashboard-header-right ml-auto" style="display: none">
                            <span class="admin-dash-handbook" title="Handbook" data-toggle="modal" data-target="#uploadHandbookModal"><img src="~/Assets/icon-handbook.png"></span>
                            <span class="admin-dash-announcement" title="HR Announcement" data-toggle="modal" data-target="#createAnnouncementModal"><img src="~/Assets/icon-announcement.png"></span>
                        </div>
                    </div>

                    <div class="dashboard">
                        <div class="row">
                            <div class="col-12 col-sm-11 col-md-6 col-lg-4 col-xl-4 p-0 dashcard_style">
                                <!-- Leave Request Section -->
                                <div class="card leave-requests mx-2 my-card">
                                    <div class="card-header leave-request-Page">
                                        @{
                                            var today = DateTime.Today;

                                            // Filter leaves for "Leave Requests" based on admin locations
                                            var filteredLeaveRequests = adminLocations.Any()
                                                ? Model.AllEMployeeLeaves.Where(x => adminLocations.Contains(x.LatestLeave.Location))
                                                : Model.AllEMployeeLeaves;

                                            // Calculate count for "Today's Leave"
                                            var todaysLeaveCount = Model.AllEMployeeLeaves
                                                .Count(x => x.LatestLeave.Fromdate.HasValue && x.LatestLeave.Todate.HasValue &&
                                                            today >= x.LatestLeave.Fromdate.Value.Date &&
                                                            today <= x.LatestLeave.Todate.Value.Date);
                                        }
                                        <span class="admin-leave-request active">Leave Request (@filteredLeaveRequests.Count())</span> |
                                        <span class="admin-today-leave">Todays Leave (@todaysLeaveCount)</span>

                                    </div>
                                    <div class="card-body admindash_card scrollbar p-2">
                                        <div class="admin-leave-request-details">
                                            @if (!Model.AllEMployeeLeaves?.Any() ?? true)
                                            {
                                                <div class="d-flex flex-column align-items-center justify-content-center">
                                                    <img src="~/Assets/Leave.png" alt="No Birthdays" class="img-fluid mb-3" style="max-width: 133px; margin-top: 72px;">
                                                    <p class="text-muted">No Leaves today...!!</p>
                                                </div>
                                            }
                                            else
                                            {
                                                <ul class="list-group list-group-flush">
                                                    @foreach (var leave in filteredLeaveRequests)
                                                    {
                                                        <li class="list-group-item p-0">
                                                            <div class="leave-info">
                                                                @{
                                                                    var empImagePath = "/Assets/EmpImages/" + leave.LatestLeave.employee_id + ".jpeg" + "?" + System.DateTime.Now;
                                                                }
                                                                <img src="@empImagePath" alt="emp name" class="rounded-circle">
                                                                <div class="leave-text mt-2">
                                                                    <span>@leave.LatestLeave.employee_name</span>
                                                                    @if (leave.LatestLeave.leavesource == "Hourly Permission")
                                                                    {
                                                                        <small>@leave.LatestLeave.leavesource | @leave.LatestLeave.Fromdate.Value.ToString("dd-MM-yyyy")</small>
                                                                    }
                                                                    else
                                                                    {
                                                                        <small>@leave.LatestLeave.leavesource | @leave.LatestLeave.Fromdate.Value.ToString("dd-MM-yyyy") to @leave.LatestLeave.Todate.Value.ToString("dd-MM-yyyy")</small>
                                                                    }
                                                                    @*else
                                                                        {
                                                                            <small>@leave.LatestLeave.leavesource | @leave.LatestLeave.Fromdate.Value.ToString("dd MMMM yyyy")</small>
                                                                        }*@
                                                                </div>

                                                            </div>
                                                            <div class="btn-group">

                                                                @if (leave.LatestLeave.LeaveStatus == "Pending")
                                                                {
                                                                    <button type="button" data-leavename="@leave.LatestLeave.LeaveRequestName" class="btn_approve p-0">✔ Approve</button>
                                                                    <button type="button" data-leavename="@leave.LatestLeave.LeaveRequestName" class="btn_reject ml-0">✖ Reject</button>
                                                                }
                                                                else
                                                                {
                                                                    var color = "#3E78CF";
                                                                    if (leave.LatestLeave.LeaveStatus != "Approved")
                                                                    {
                                                                        color = "red";
                                                                    }
                                                                    <small style="color: @color">
                                                                        @leave.LatestLeave.LeaveStatus
                                                                    </small>
                                                                }

                                                            </div>
                                                        </li>
                                                    }

                                                </ul>
                                            }
                                        </div>
                                        <div class="admin-todays-leave-details" style="display: none">
                                            @* Filter today's date and the employees on leave *@
                                            @{
                                                var today1 = DateTime.Today;

                                                // Filter leaves for "On Leave Today"
                                                var onLeaveToday = Model.AllEMployeeLeaves
                                                    .Where(x => x.LatestLeave.Fromdate.HasValue && x.LatestLeave.Todate.HasValue &&
                                                                today1 >= x.LatestLeave.Fromdate.Value.Date &&
                                                                today1 <= x.LatestLeave.Todate.Value.Date)
                                                    .ToList();
                                            }

                                            <div class="admin-todays-leave-list-all">
                                                @if (onLeaveToday.Any())
                                                {
                                                    foreach (var leave in onLeaveToday)
                                                    {
                                                        var empImagePath = "/Assets/EmpImages/" + leave.LatestLeave.employee_id + ".jpeg" + "?" + System.DateTime.Now;
                                                        var leaveStatusIcon = "/Assets/Pending.png";
                                                        if (leave.LatestLeave.LeaveStatus == "Approved")
                                                        {
                                                            leaveStatusIcon = "/Assets/Approve.png";

                                                        }
                                                        else if (leave.LatestLeave.LeaveStatus == "Rejected")
                                                        {
                                                            leaveStatusIcon = "/Assets/Reject.png";
                                                        }

                                                        <div class="admin-todays-leave-list">
                                                            <div class="col-lg-1 col-md-1 col-sm-2 admin-todays-leave-left">
                                                                <img class="userIcon" src="@empImagePath" alt="@leave.LatestLeave.employee_name">
                                                            </div>
                                                            <span class="col-lg-7 col-md-7 col-sm-5 admin-todays-leave-mid">
                                                                <div class="admin-itodays-leave-userinfo">@leave.LatestLeave.employee_name</div>
                                                                <div class="admin-todays-leave-date">
                                                                    @leave.LatestLeave.leavesource | @leave.LatestLeave.Fromdate.Value.ToString("dd-MM-yyyy") to @leave.LatestLeave.Todate.Value.ToString("dd-MM-yyyy")
                                                                </div>
                                                            </span>
                                                            <span class="col-lg-2 col-md-2 col-sm-2 admin-todays-leave-right">
                                                                <div class="admin-todays-leave-status">
                                                                    <img src="@leaveStatusIcon" alt="@leave.LatestLeave.LeaveStatus">
                                                                </div>
                                                            </span>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <p class="text-muted">No employees are on leave today.</p>
                                                }
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-11 col-md-6 col-lg-4 col-xl-4 p-0 dashcard_style">
                                <!-- Announcements Section -->
                                <div class="card mx-2 my-card">
                                    <div class="card-header hr-dashtickets">
                                        HR Tickets (@Model.AllHRTickets.Count())
                                    </div>
                                    <div class="card-body admindash_card scrollbar px-4 py-1 announcement_card">
                                        @if (!Model.AllHRTickets?.Any() ?? true)
                                        {
                                            <div class="d-flex flex-column align-items-center justify-content-center">
                                                <img src="~/Assets/Ticket.png" alt="No Tickets" class="img-fluid mb-3" style="max-width: 133px; margin-top: 72px;">
                                                <p class="text-muted">No Tickets...!!</p>
                                            </div>
                                        }
                                        else
                                        {
                                            foreach (var hrTicket in Model.AllHRTickets)
                                            {
                                                <p class="m-0 p-0">@hrTicket.Subject</p>
                                                <div class="d-flex inside_content">
                                                    <p class="mutedText admin-dash-hr-ticket-priority"><i class="fa-solid fa-circle-exclamation mr-1"></i>Priority-</p>
                                                    <p class="status-priority">High</p>

                                                    @if (hrTicket.Status == "Open")
                                                    {
                                                        <p class="mutedText ml-3 admin-dash-hr-ticket-user"><i class="fa-solid fa-user mr-1"></i>Open By: @hrTicket.EmployeeName</p>
                                                    }
                                                    else if (hrTicket.Status == "ReOpen")
                                                    {
                                                        <p class="mutedText ml-3 admin-dash-hr-ticket-user"><i class="fa-solid fa-user mr-1"></i>Re-Open By: @hrTicket.EmployeeName</p>

                                                    }
                                                    else if (hrTicket.Status == "Resolved")
                                                    {
                                                        <p class="mutedText ml-3 admin-dash-hr-ticket-user"><i class="fa-solid fa-user mr-1"></i>Resolved By: @hrTicket.EmployeeName</p>

                                                    }
                                                    else if (hrTicket.Status == "Closed")
                                                    {
                                                        <p class="mutedText ml-3 admin-dash-hr-ticket-user"><i class="fa-solid fa-user mr-1"></i>Closed By: @hrTicket.EmployeeName</p>
                                                    }
                                                </div>

                                            }

                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-11 col-md-6 col-lg-4 col-xl-4 p-0 dashcard_style">
                                <!-- Calendar Section -->
                                <div class="card mx-2 my-card">
                                    <!--<div class="card-header">
                                        January 2024
                                    </div>
                                    <div class="card-body">-->
                                    <!-- Calendar placeholder -->
                                    <!--<div id="calendar"></div>
                                    </div>-->

                                    <div class="card-header calendar-header text-dark">
                                        <div>
                                            <i class="fas fa-chevron-left chevron-icon ml-4" onclick="prevMonth()"></i>
                                        </div>
                                        <div>
                                            <h6 id="monthYear" class="mt-1 mb-0"></h6>
                                        </div>
                                        <div>
                                            <i class="fas fa-chevron-right chevron-icon mr-4" onclick="nextMonth()"></i>
                                        </div>
                                    </div>
                                    <div class="card-body calendar-body p-1 admindash_card">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Mon</th>
                                                    <th scope="col">Tue</th>
                                                    <th scope="col">Wed</th>
                                                    <th scope="col">Thu</th>
                                                    <th scope="col">Fri</th>
                                                    <th scope="col">Sat</th>
                                                    <th scope="col">Sun</th>
                                                </tr>
                                            </thead>
                                            <tbody id="calendarBody"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-11 col-md-6 col-lg-4 col-xl-4 p-0 dashcard_style">
                                <!-- Birthdays Section -->
                                <div class="card mx-2 my-card">
                                    <div class="card-header">
                                        Birthdays
                                    </div>
                                    <div class="card-body admindash_card scrollbar p-2">
                                        @if (!Model.BirthModel?.Any() ?? true)
                                        {
                                            <div class="d-flex flex-column align-items-center justify-content-center">
                                                <img src="~/Assets/Birthday.png" alt="No Birthdays" class="img-fluid mb-3" style="max-width: 133px; margin-top: 72px;">
                                                <p class="text-muted">No birthdays today...!!</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <ul class="list-group list-group-flush">

                                                @foreach (var empBirthday in Model.BirthModel)
                                                {
                                                    var empImageURl = System.Configuration.ConfigurationManager.AppSettings["EmpImagesFolder"] + "/" + empBirthday.imagePath + "?" + System.DateTime.Now;

                                                    <li class="list-group-item p-0">
                                                        <div class="d-flex align-items-center mb-3">
                                                            <img src="@empImageURl" class="mr-3 rounded-circle employee_img" alt="Avatar">
                                                            <div class="birthdayinfo mt-2">
                                                                <span>@empBirthday.EmpName</span><br>
                                                                <p class="smalltext mb-0">@empBirthday.Designation</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-11 col-md-6 col-lg-4 col-xl-4 p-0 dashcard_style">
                                <!-- Anniversaries Section -->
                                <div class="card mx-2 my-card">
                                    <div class="card-header">
                                        Anniversaries
                                    </div>
                                    <div class="card-body admindash_card scrollbar p-2">
                                        @if (!Model.AnniversaryModel?.Any() ?? true)
                                        {
                                            <div class="d-flex flex-column align-items-center justify-content-center">
                                                <img src="~/Assets/WorkAnni.png" alt="No Anniverseries" class="img-fluid mb-3" style="max-width: 135px; margin-top: 72px;">
                                                <p class="text-muted">No anniversaries today...!!</p>
                                            </div>
                                        }
                                        else
                                        {
                                            foreach (var employeeAnniversary in Model.AnniversaryModel)
                                            {
                                                var empAnniversaryImageURl = System.Configuration.ConfigurationManager.AppSettings["EmpImagesFolder"] + "/" + @employeeAnniversary.imagePath + "?" + System.DateTime.Now;

                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item p-0">
                                                        <div class="d-flex align-items-center mb-3">
                                                            <img src="@empAnniversaryImageURl" class="mr-3 rounded-circle employee_img" alt="Avatar">
                                                            <div class="birthdayinfo mt-2">
                                                                <span>@employeeAnniversary.EmpName</span><br>
                                                                <p class="smalltext mb-0">@employeeAnniversary.Designation</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-11 col-md-6 col-lg-4 col-xl-4 p-0 dashcard_style">
                                <!-- Upcoming Holidays Section -->
                                <div class="card mx-2 my-card">
                                    <div class="card-header">
                                        Holidays List
                                    </div>
                                    <div class="card-body scrollbar admindash_card p-2">
                                        <ul class="list-group list-group-flush res-admin-dash-upcomingholidays-block">
                                            @foreach (HRMS.Models.EmployeeEvent.UpcomingHoliday holiday in Model.UpcomingHolidays)
                                            {
                                                if (@holiday.HolidayDate != DateTime.MinValue)
                                                {
                                                    var compoffsAppliedBasedOnHoliday = Model.CompoffApplied as Dictionary<int, int>;
                                                    var totalApplied = compoffsAppliedBasedOnHoliday != null && compoffsAppliedBasedOnHoliday.ContainsKey(holiday.HolidayNo)
                                                                ? compoffsAppliedBasedOnHoliday[holiday.HolidayNo]
                                                                : 0;

                                                    <li>
                                                        <a class="dashhoiday_description res-holidays-details-left compOff-request" data-leavenumber="@holiday.HolidayNo" data-location="@holiday.Region">
                                                            <h6 class="mb-0 holiday-name">@holiday.HolidayName</h6>
                                                            <p class="smalltext res-admin-dash-location holiday-date">
                                                                @holiday.HolidayDate.ToString("dd MMMM yyyy dddd")
                                                            </p>
                                                            <span class="ml-2 holiday_location" style="display: none">@holiday.Region</span>
                                                        </a>

                                                        @if (totalApplied > 0)
                                                        {
                                                            <span class="res-holidays-details-right compOff-History-Page">
                                                                <div class="res-holiday-count">@totalApplied</div>
                                                                <div class="res-holiday-desc">Comp Off</div>
                                                            </span>
                                                        }

                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script src="~/Scripts/z-EmpDash.js"></script>
                <script src="~/Scripts/z-empleave.js"></script>
                @*<script>
                        generateCalendar(new Date().getMonth(), new Date().getFullYear());
                    </script>*@

            </div>
        </div>
    </div>

    @Html.Partial("_compoff", Model.Employees)
</div>

<div class="modal fade" id="createAnnouncementModal" tabindex="-1" aria-labelledby="createAnnouncementModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createAnnouncementModalLabel">Create Announcement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label for="announcementLocationName">Holidays</label>
                            <select class="form-control form-select-sm" name="announcementLocationName" id="announcementLocationName">
                                <option value="" disabled selected>Select Location</option>
                                <option value="Madurai">Madurai</option>
                                <option value="Hyderabad">Hyderabad</option>
                                <option value="All">All</option>
                            </select>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label for="announcementSubject">Subject</label>
                            <input type="text" class="form-control" id="announcementSubject" value="">
                        </div>
                        <div class="col-lg-12 form-group">
                            <label for="announcementDescription">Description</label>
                            <textarea class="form-control" id="announcementDescription" rows="3" cols="50" placeholder="Description"></textarea>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label for="AnnouncementFile" style="width:100%;">File Upload</label>
                            <div class="upload-btn-wrapper announcementwrapper">
                                <button class="btn AnnouncementFile-upload-btn">Upload File</button>
                                <input type="file"
                                       class="form-control"
                                       name="AnnouncementFile"
                                       id="AnnouncementFile"
                                       required
                                       accept=".png,.jpeg," data-existingfile="attach">
                            </div>

                            <a style="display:none;" class="announcementFile" href="" target="_blank">aa</a><br />

                            <small style="font-size: 12px; float: left; margin-top: -5px; color: #3E78CF; width: 100%;">File supported PNG, JPEG of 2MB</small>
                            <div class="invalid-feedback">File is required.</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary announcementSubmit">Submit</button>
                <div id="announcementMessage" style="display: none; margin-top: 10px;"></div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="uploadHandbookModal" tabindex="-1" aria-labelledby="uploadHandbookModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadHandbookModalLabel">Upload Handbook</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="handbook-file-upload" id="handbook-file-upload-area">
                        <label for="handbook-file-upload-input" id="handbook-file-upload-label">
                            <img src="~/Assets/icon-upload.png"><br>
                            Drag and drop files or Browse<br>
                            Supported formats: .PDF
                        </label>
                        <input type="file" id="handbook-file-upload-input" accept=".pdf" onchange="handleHandbookFileUpload(this)">
                    </div>

                    <!-- Error message container -->
                    <div class="handbook-uploaded-file" id="handbook-uploaded-file-info" style="display: none;">
                        <p style="color: red; font-size: 13px;" id="handbook-uploaded-file-text"></p>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="handnook-uploaded-file-test"></div>
                <div class="handnook-uploaded-file-details">
                    <img src="~/Assets/icon-pdf.png">
                    <span class="handbook-uploaded-file-name"><a href="#">test</a></span>
                </div>
                <button type="button" class="btn btn-primary uploadHandbooktSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#AnnouncementFile').on('change', function () {
            $(this).attr("data-existingfile", "");
            var fileInput1 = $('#AnnouncementFile');
            var file = fileInput1[0].files[0];
            if (file) {
                var fileName = file.name;
                var fileUrl = URL.createObjectURL(file);

                $('.announcementFile').attr('href', fileUrl).text(fileName).show();
            } else {
                $('.announcementFile').hide();
            }
            console.log("Announcement File validation passed.");

        });

        $('.admin-leave-request').on('click', function () {
            $('.admin-today-leave').removeClass('active');
            $('.admin-leave-request').addClass('active');
            $('.admin-todays-leave-details').css({ 'display': 'none' });
            $('.admin-leave-request-details').css({ 'display': 'block' });
        });

        $('.admin-today-leave').on('click', function () {
            $('.admin-leave-request').removeClass('active');
            $('.admin-today-leave').addClass('active');
            $('.admin-leave-request-details').css({ 'display': 'none' });
            $('.admin-todays-leave-details').css({ 'display': 'block' });
        });

    });



    function handleHandbookFileUpload(input) {
        const file = input.files[0];
        const maxSize = 2 * 1024 * 1024;

        if (file) {
            if (file.size > maxSize) {
                $("#handbook-uploaded-file-info").show();
                $("#handbook-uploaded-file-text").text("The file size is too large. Please upload a file smaller than 2MB.").css("color", "red");
                $(".handbook-uploaded-file-name").text("");
                input.value = "";
            } else {
                $(".handbook-uploaded-file-name").text(file.name);
                $("#handbook-uploaded-file-info").show();
                $("#handbook-uploaded-file-text").text("File selected: " + file.name).css("color", "black");
                $("#handbook-uploaded-file-info").hide();
            }
        } else {
            $("#handbook-uploaded-file-info").hide();
        }
    }



    $(document).on("click", ".uploadHandbooktSubmit", function () {
        const fileInput = $("#handbook-file-upload-input");
        const file = fileInput[0].files[0];

        if (!file) {
            $("#handbook-uploaded-file-info").text("Please upload a file.").css("color", "red").show();
            return;
        }

        $("#handbook-uploaded-file-info").hide();
        $(".handbook-uploaded-file-name").text(file.name);

        $(".handnook-uploaded-file-details").show();

        const formData = new FormData();
        formData.append("file", file);
        $.ajax({
            url: '/admindash/uploadhandbook',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.success) {
                    $(".handnook-uploaded-file-test").text(response.message).css("color", "green").show();
                } else {
                    $(".handnook-uploaded-file-test").text("Error: " + response.message).css("color", "red").show();
                }
            },
            error: function () {
                $(".handnook-uploaded-file-test").text("An error occurred while uploading the file.").css("color", "red").show();
            }
        });
    });

    $('#uploadHandbookModal').on('show.bs.modal', function () {
        $("#handbook-file-upload-input").val("");
        $("#handbook-uploaded-file-info").hide();
        $(".handnook-uploaded-file-test").text("").hide();
        $(".handnook-uploaded-file-details").show();
        $(".handbook-uploaded-file-name").text("");
    });


    $(document).on("click", ".announcementSubmit", function () {
        const announcementLocation = $("#announcementLocationName").val();
        const announcementSubject = $("#announcementSubject").val();
        const announcementDescription = $("#announcementDescription").val();

        let isValid = true;

        if (!announcementLocation) {
            $("#announcementLocationName").addClass("is-invalid");
            $("#announcementLocationName").next(".invalid-feedback").text("Location is required.").show();
            isValid = false;
        } else {
            $("#announcementLocationName").removeClass("is-invalid");
            $("#announcementLocationName").next(".invalid-feedback").hide();
        }

        if (!announcementSubject) {
            $("#announcementSubject").addClass("is-invalid");
            $("#announcementSubject").next(".invalid-feedback").text("Subject is required.").show();
            isValid = false;
        } else {
            $("#announcementSubject").removeClass("is-invalid");
            $("#announcementSubject").next(".invalid-feedback").hide();
        }

        if (!announcementDescription) {
            $("#announcementDescription").addClass("is-invalid");
            $("#announcementDescription").next(".invalid-feedback").text("Description is required.").show();
            isValid = false;
        } else {
            $("#announcementDescription").removeClass("is-invalid");
            $("#announcementDescription").next(".invalid-feedback").hide();
        }

        if (isValid) {
            const formData = new FormData();
            formData.append("Location", announcementLocation);
            formData.append("Subject", announcementSubject);
            formData.append("Description", announcementDescription);
            formData.append("File", $("#AnnouncementFile")[0].files[0] || null);

            $.ajax({
                url: '/admindash/createAnnouncement',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    const messageDiv = $("#announcementMessage");
                    if (response.success) {
                        messageDiv.text("Announcement created successfully!").css("color", "green").show();
                        $(".announcementSubmit").prop("disabled", true);  // Disable the submit button
                    } else {
                        messageDiv.text("Error: " + response.message).css("color", "red").show();
                    }
                },
                error: function () {
                    const messageDiv = $("#announcementMessage");
                    messageDiv.text("An error occurred while creating the announcement.").css("color", "red").show();
                }
            });
        }
    });


    $('#createAnnouncementModal').on('show.bs.modal', function () {
        $('#announcementLocationName').val('').removeClass('is-invalid');
        $('#announcementSubject').val('').removeClass('is-invalid');
        $('#announcementDescription').val('').removeClass('is-invalid');
        $('#AnnouncementFile').val('').removeClass('is-invalid');
        $('.announcementFile').hide().attr('href', '').text('');
        $('.invalid-feedback').hide();
        $('#announcementMessage').hide().text('');
    });



</script>
