@using HRMS.Helpers

@model HRMS.Models.Admin.AdminDashView

@{
    var currentContext = Session["SiteContext"] as HRMS.Models.SiteContextModel;
    var isSuperAdmin = HRMS.Helpers.SuperAdminHelper.IsSuperAdmin(currentContext);
    var adminLocations = HRMS.Helpers.SuperAdminHelper.GetAdminLocations(currentContext);
}

@Html.Partial("_NavBar")

<div class="container-fluid res-admin-dashboard">
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid" style="width: 84%">
        <div class="content admin-empmanagement-container ">

            <div class="admin-dashboard-view">
                <div class="container-fluid res-admindash">
                    <h4 class="mb-3 header-title">Dashboard</h4>
                    <div class="dashboard">
                        <div class="row">
                            <div class="col-12 col-sm-11 col-md-6 col-lg-4 col-xl-4 p-0 dashcard_style">
                                <!-- Leave Request Section -->
                                <div class="card leave-requests mx-2 my-card">
                                    <div class="card-header leave-request-Page">
                                        @{
                                            var filteredLeaveRequests = adminLocations.Any()
                                            ? Model.AllEMployeeLeaves.Where(x => adminLocations.Contains(x.LatestLeave.Location))
                                            : Model.AllEMployeeLeaves;
                                        }
                                        Leave Request (@filteredLeaveRequests.Count())
                                    </div>
                                    <div class="card-body admindash_card scrollbar p-2">
                                        @if (!Model.AllEMployeeLeaves?.Any() ?? true)
                                        {
                                            <div class="d-flex flex-column align-items-center justify-content-center">
                                                <img src="~/Assets/Leave.png" alt="No Birthdays" class="img-fluid mb-3" style="max-width: 133px; margin-top: 72px;">
                                                <p class="text-muted">No Leaves today...!!</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <ul class="list-group list-group-flush">
                                                @foreach (var leave in filteredLeaveRequests)
                                                {
                                                    <li class="list-group-item p-0">
                                                        <div class="leave-info">
                                                            @{
                                                                var empImagePath = "/Assets/EmpImages/" + leave.LatestLeave.employee_id + ".jpeg" + "?" + System.DateTime.Now;
                                                            }
                                                            <img src="@empImagePath" alt="emp name" class="rounded-circle">
                                                            <div class="leave-text mt-2">
                                                                <span>@leave.LatestLeave.employee_name</span>
                                                                @if (leave.LatestLeave.leavesource == "Hourly Permission")
                                                                {
                                                                    <small>@leave.LatestLeave.leavesource | @leave.LatestLeave.Fromdate.Value.ToString("dd MMMM yyyy")</small>
                                                                }
                                                                else
                                                                {
                                                                    <small>@leave.LatestLeave.leavesource | @leave.LatestLeave.Fromdate.Value.ToString("dd MMMM yyyy") to @leave.LatestLeave.Todate.Value.ToString("dd MMMM yyyy")</small>
                                                                }
                                                                @*else
                                {
                                    <small>@leave.LatestLeave.leavesource | @leave.LatestLeave.Fromdate.Value.ToString("dd MMMM yyyy")</small>
                                }*@
                                                            </div>

                                                        </div>
                                                        <div class="btn-group">

                                                            @if (leave.LatestLeave.LeaveStatus == "Pending")
                                                            {
                                                                <button type="button" data-leavename="@leave.LatestLeave.LeaveRequestName" class="btn_approve p-0">✔ Approve</button>
                                                                <button type="button" data-leavename="@leave.LatestLeave.LeaveRequestName" class="btn_reject ml-0">✖ Reject</button>
                                                            }
                                                            else
                                                            {
                                                                var color = "#3E78CF";
                                                                if (leave.LatestLeave.LeaveStatus != "Approved")
                                                                {
                                                                    color = "red";
                                                                }
                                                                <small style="color: @color">
                                                                    @leave.LatestLeave.LeaveStatus
                                                                </small>
                                                            }

                                                        </div>
                                                    </li>
                                                }

                                            </ul>
                                        
                                     }
                                      </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-11 col-md-6 col-lg-4 col-xl-4 p-0 dashcard_style">
                                <!-- Announcements Section -->
                                <div class="card mx-2 my-card">
                                    <div class="card-header hr-dashtickets">       
                                        HR Tickets (@Model.AllHRTickets.Count())
                                    </div>
                                    <div class="card-body admindash_card scrollbar px-4 py-1 announcement_card">
                                        @if (!Model.AllHRTickets?.Any() ?? true)
                                        {
                                            <div class="d-flex flex-column align-items-center justify-content-center">
                                                <img src="~/Assets/Ticket.png" alt="No Tickets" class="img-fluid mb-3" style="max-width: 133px; margin-top: 72px;">
                                                <p class="text-muted">No Tickets...!!</p>
                                            </div>
                                        }
                                        else
                                        {
                                            foreach (var hrTicket in Model.AllHRTickets)
                                            {
                                                <p class="m-0 p-0">@hrTicket.Subject</p>
                                                <div class="d-flex inside_content">
                                                    <p class="mutedText admin-dash-hr-ticket-priority"><i class="fa-solid fa-circle-exclamation mr-1"></i>Priority-</p>
                                                    <p class="status-priority">High</p>

                                                    @if (hrTicket.Status == "Open")
                                                    {
                                                        <p class="mutedText ml-3 admin-dash-hr-ticket-user"><i class="fa-solid fa-user mr-1"></i>Open By: @hrTicket.EmployeeName</p>
                                                    }
                                                    else if (hrTicket.Status == "ReOpen")
                                                    {
                                                        <p class="mutedText ml-3 admin-dash-hr-ticket-user"><i class="fa-solid fa-user mr-1"></i>Re-Open By: @hrTicket.EmployeeName</p>

                                                    }
                                                    else if (hrTicket.Status == "Resolved")
                                                    {
                                                        <p class="mutedText ml-3 admin-dash-hr-ticket-user"><i class="fa-solid fa-user mr-1"></i>Resolved By: @hrTicket.EmployeeName</p>

                                                    }
                                                    else if (hrTicket.Status == "Closed")
                                                    {
                                                        <p class="mutedText ml-3 admin-dash-hr-ticket-user"><i class="fa-solid fa-user mr-1"></i>Closed By: @hrTicket.EmployeeName</p>
                                                    }
                                                </div>

                                            }

                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-11 col-md-6 col-lg-4 col-xl-4 p-0 dashcard_style">
                                <!-- Calendar Section -->
                                <div class="card mx-2 my-card">
                                    <!--<div class="card-header">
                                        January 2024
                                    </div>
                                    <div class="card-body">-->
                                    <!-- Calendar placeholder -->
                                    <!--<div id="calendar"></div>
                                    </div>-->

                                    <div class="card-header calendar-header text-dark">
                                        <div>
                                            <i class="fas fa-chevron-left chevron-icon ml-4" onclick="prevMonth()"></i>
                                        </div>
                                        <div>
                                            <h6 id="monthYear" class="mt-1 mb-0"></h6>
                                        </div>
                                        <div>
                                            <i class="fas fa-chevron-right chevron-icon mr-4" onclick="nextMonth()"></i>
                                        </div>
                                    </div>
                                    <div class="card-body calendar-body p-1 admindash_card">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Mon</th>
                                                    <th scope="col">Tue</th>
                                                    <th scope="col">Wed</th>
                                                    <th scope="col">Thu</th>
                                                    <th scope="col">Fri</th>
                                                    <th scope="col">Sat</th>
                                                    <th scope="col">Sun</th>
                                                </tr>
                                            </thead>
                                            <tbody id="calendarBody"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-11 col-md-6 col-lg-4 col-xl-4 p-0 dashcard_style">
                                <!-- Birthdays Section -->
                                <div class="card mx-2 my-card">
                                    <div class="card-header">
                                        Birthdays
                                    </div>
                                    <div class="card-body admindash_card scrollbar p-2">
                                        @if (!Model.BirthModel?.Any() ?? true)
                                        {
                                            <div class="d-flex flex-column align-items-center justify-content-center">
                                                <img src="~/Assets/Birthday.png" alt="No Birthdays" class="img-fluid mb-3" style="max-width: 133px; margin-top: 72px;">
                                                <p class="text-muted">No birthdays today...!!</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <ul class="list-group list-group-flush">

                                                @foreach (var empBirthday in Model.BirthModel)
                                                {
                                                    var empImageURl = System.Configuration.ConfigurationManager.AppSettings["EmpImagesFolder"] + "/" + empBirthday.imagePath + "?" + System.DateTime.Now;

                                                    <li class="list-group-item p-0">
                                                        <div class="d-flex align-items-center mb-3">
                                                            <img src="@empImageURl" class="mr-3 rounded-circle employee_img" alt="Avatar">
                                                            <div class="birthdayinfo mt-2">
                                                                <span>@empBirthday.EmpName</span><br>
                                                                <p class="smalltext mb-0">@empBirthday.Designation</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-11 col-md-6 col-lg-4 col-xl-4 p-0 dashcard_style">
                                <!-- Anniversaries Section -->
                                <div class="card mx-2 my-card">
                                    <div class="card-header">
                                        Anniversaries
                                    </div>
                                    <div class="card-body admindash_card scrollbar p-2">
                                        @if (!Model.AnniversaryModel?.Any() ?? true)
                                        {
                                            <div class="d-flex flex-column align-items-center justify-content-center">
                                                <img src="~/Assets/WorkAnni.png" alt="No Anniverseries" class="img-fluid mb-3" style="max-width: 135px; margin-top: 72px;">
                                                <p class="text-muted">No anniversaries today...!!</p>
                                            </div>
                                        }
                                        else
                                        {
                                            foreach (var employeeAnniversary in Model.AnniversaryModel)
                                            {
                                                var empAnniversaryImageURl = System.Configuration.ConfigurationManager.AppSettings["EmpImagesFolder"] + "/" + @employeeAnniversary.imagePath + "?" + System.DateTime.Now;

                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item p-0">
                                                        <div class="d-flex align-items-center mb-3">
                                                            <img src="@empAnniversaryImageURl" class="mr-3 rounded-circle employee_img" alt="Avatar">
                                                            <div class="birthdayinfo mt-2">
                                                                <span>@employeeAnniversary.EmpName</span><br>
                                                                <p class="smalltext mb-0">@employeeAnniversary.Designation</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-11 col-md-6 col-lg-4 col-xl-4 p-0 dashcard_style">
                                <!-- Upcoming Holidays Section -->
                                <div class="card mx-2 my-card">
                                    <div class="card-header">
                                        Upcoming Holidays
                                    </div>
                                    <div class="card-body scrollbar admindash_card p-2">
                                        <ul class="list-group list-group-flush res-admin-dash-upcomingholidays-block">
                                            @foreach (HRMS.Models.EmployeeEvent.UpcomingHoliday holiday in Model.UpcomingHolidays)
                                            {
                                                if (@holiday.HolidayDate != DateTime.MinValue)
                                                {
                                                    var compoffsAppliedBasedOnHoliday = Model.CompoffApplied as Dictionary<int, int>;
                                                    var totalApplied = compoffsAppliedBasedOnHoliday != null && compoffsAppliedBasedOnHoliday.ContainsKey(holiday.HolidayNo)
                                                                ? compoffsAppliedBasedOnHoliday[holiday.HolidayNo]
                                                                : 0;

                                                    <li>
                                                        <a class="dashhoiday_description res-holidays-details-left compOff-request" data-leavenumber="@holiday.HolidayNo" data-location="@holiday.Region">
                                                            <h6 class="mb-0">@holiday.HolidayName</h6>
                                                            <p class="smalltext res-admin-dash-location">@holiday.HolidayDate.ToString("dd MMMM dddd")</p><span class="ml-2 holiday_location" style="display: none">@holiday.Region</span>
                                                        </a>

                                                        @if (totalApplied > 0)
                                                        {
                                                            <span class="res-holidays-details-right compOff-History-Page">
                                                                <div class="res-holiday-count">@totalApplied</div>
                                                                <div class="res-holiday-desc">Comp Off</div>
                                                            </span>
                                                        }

                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script src="~/Scripts/z-EmpDash.js"></script>
                <script src="~/Scripts/z-empleave.js"></script>
                @*<script>
                        generateCalendar(new Date().getMonth(), new Date().getFullYear());
                    </script>*@

            </div>
        </div>
    </div>

    @Html.Partial("_compoff", Model.Employees)
</div>
