@model HRMS.Models.TicketingModel

<style>
    #adminhrticketlistingTable_length {
        display: none;
    }

    #adminhrticketlistingTable_filter {
        display: none;
    }
</style>

@Html.Partial("_NavBar")
<div class="container-fluid res-admin-Ticketing">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid AdminHrTicketing-View" style="width: 84%">

        <div class="content admin-hr-ticketing-container" style="margin-left: -15px; margin-top: 20px;">
            <div class="container-fluid res-admin-hr-ticket-listing">
                <div class="row mb-2 align-items-center admin-hr-ticket-title-header">
                    <div class="col-lg-3 col-md-6">
                        <h4 class="ml-1">HR Ticketing</h4>
                    </div>

                    <div class="col-lg-4 navbarl1 col-sm-12 col-md-12 res-admin-empman-search">
                        <div class="search-container" style=" margin-left: 32px; ">
                            <div class="input-group" style="border-radius: 20px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="background-color: transparent; border-right: none; border-radius: 5px 0 0 5px; height: 35px;"><i class="fas fa-search" style="color: #369479"></i></span>
                                </div>
                                <input type="text" placeholder="Search By Keyword" class="advancesearch hr-search form-control" aria-label="Search By Keyword" style="border-radius: 0 5px 5px 0; height: 35px; font-size: 14px;">
                            </div>
                        </div>
                    </div>

                    @*<div class="col-lg-6 res-admin-hr-ticketlisting-main-header">
                            <div class="dropdown col-lg-12 col-sm-12 col-md-6 res-admin-hr-ticketlisting-searchbar">
                                <a class="btn btn-outline-primary adminhrticketlisting-dropdown-toggle" href="#" id="employeeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select Employees <i class="fas fa-chevron-down ml-1"></i>
                                </a>
                                <div class="dropdown-menu adminhrticketlisting-dropdown-menu dropdown-menu-wide p-3" aria-labelledby="employeeDropdown">
                                    <input type="text" class="form-control mb-2" id="employeeSearch" placeholder="Search">
                                    <div id="employeeList">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="selectAll">
                                            <label class="adminhrticketlisting-form-check-label" for="selectAll">
                                                <span>Select All</span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="11">
                                            <label class="adminhrticketlisting-form-check-label" for="11">
                                                <span>AAA 11</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <div class="col-lg-5 res-admin-hr-ticketlisting-header-right">
                        <!-- Filters -->
                        <div class="col-lg-12 col-sm-7 col-md-5 res-admin-hr-ticketlisting-block-header res-admin-hr-ticketlisting-filter">
                            <div class="admin-hr-ticketlisting-filtertab d-flex align-items-center">
                                <p class="advancetitle mb-0">Filters</p>
                                <div class="toggle-button admin-hr-ticketlisting-button ml-2">
                                    <button class="collapsedropdown collapsed btn" type="button" data-toggle="collapse" data-target="#adminhrticketlistingfilter" aria-expanded="false" aria-controls="demo">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row justify-content-end ml-2 col-md-12 res-admin-hr-ticketlisting-filter-show">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div id="adminhrticketlistingfilter" class="collapse adminhrticketlistingfilter">
                            <div class="collapse-topic align-items-center justify-content-end res-admin-hr-ticketlisting-filter-inside" style="margin-right: 0; display: flex;">
                                <span class="mr-3 res-admin-filter">
                                    Filter By<span class="res-close-btn" style="display:none;">X</span>
                                </span>
                                <div class="form-group res-adminadvfilter-hrticketlisting d-flex">
                                    <label for="from" class="mr-2">From Date</label>
                                    <input type="date" class="form-control form-control-sm mr-2" id="hrticketlisting-fromDate" style="width: 120px;">
                                </div>
                                <div class="form-group res-adminadvfilter-hrticketlisting d-flex">
                                    <label for="from" class="mr-2">To Date</label>
                                    <input type="date" class="form-control form-control-sm mr-2" id="hrticketlisting-toDate" style="width: 120px;">
                                </div>
                                <div class="dropdown res-adminadvfilter-hrticketlisting">
                                    <select class="form-control form-select-sm" name="status" id="hr-ticketlisting-status-dropdown" style="border-radius: 15px; height: 28px; width: 131px; border: 1px solid lightgray; padding: 0 10px; font-size: 12px;">
                                        <option value="" disabled selected>Status</option>
                                        <option value="Open">Open</option>
                                        <option value="Resolved">Resolved</option>
                                        <option value="Closed">Closed</option>
                                        <option value="Cancelled">Cancelled</option>
                                        <option value="Re-Open">Re-Open</option>
                                        <option value="All">All</option>
                                    </select>
                                </div>
                                <div class="dropdown res-adminadvfilter-hrticketlisting">
                                    <select class="form-control form-select-sm" name="location" id="hr-ticketlisting-location-dropdown" style="border-radius: 15px; height: 28px; width: 131px; border: 1px solid lightgray; padding: 0 10px; font-size: 12px;">
                                        <option value="" disabled selected>Location</option>
                                        <option value="Madurai">Madurai</option>
                                        <option value="Hyderabad">Hyderabad</option>
                                        <option value="All">All</option>
                                    </select>
                                </div>
                                <div class="dropdown res-adminadvfilter-hrticketlisting">
                                    <select class="form-control form-select-sm" name="closedby" id="hr-ticketlisting-closedby-dropdown" style="border-radius: 15px; height: 28px; width: 131px; border: 1px solid lightgray; padding: 0 10px; font-size: 12px;">
                                        <option value="" disabled selected>Closed By</option>

                                        @foreach (var itemp in Model.itEmployees)
                                        {
                                            <option value="@itemp.EmployeeID">@itemp.EmployeeName</option>
                                        }
                                        <option value="All">All</option>

                                    </select>
                                </div>
                                <div class="form-group align-items-center res-adminadvfilter-hrticketlisting mr-2">
                                    <button type="button" class="btn btn-sm btn-primary hrticketlisting-view">View</button>
                                    <button type="button" class="btn btn-sm btn-primary hrticketlisting-export">Export</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="res-admin-hr-ticket-listing-table table-responsive">
                    <table class="table table-admin-hr-ticket-listing" id="adminhrticketlistingTable" style="font-size:14px;">
                        <thead style="background-color: #EEF4FF; border-radius: 10px;display:none;">
                            <tr>
                                <th>Emp-ID</th>
                                <th>Priority</th>
                                <th>Location</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.empTickets)
                            {
                                <tr>
                                    <td style="width: 400px">
                                        <div class="res-admin-hr-ticketlisting-user-details" style="display: flex; align-items: center;">
                                            <i class="hr-ticket-msg-icon fa-regular fa-message"></i>
                                            <span style="margin-top: 0px; margin-right: 10px;">
                                                <div class="admin-hr-ticketing-listing-title" title="@ticket.Subject" data-ticketnum="@ticket.TicketNo">@ticket.Subject</div>
                                                <div class="admin-hr-ticketing-listing-details">
                                                    <span class="hr-ticket-id">@ticket.TicketNo</span>
                                                    <span class="hr-ticket-info"><i class="fa-solid fa-folder" aria-hidden="true"></i> @ticket.Category</span>
                                                    <span class="id-name">@ticket.EmployeeID @ticket.EmployeeName</span>
                                                </div>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width: 400px" class="res-admin-hr-ticketlisting-priority">
                                        @{
                                            TimeSpan responseTime = new TimeSpan();
                                            int totalHours = 0;
                                            int totalMinutes = 0;
                                            var isVisible = "visibility: hidden;";
                                        }
                                        @if (ticket.ResponseTime != null && ticket.ResponseTime.HasValue)
                                        {
                                            responseTime = TimeSpan.FromSeconds(ticket.ResponseTime.Value);
                                            totalHours = (int)responseTime.TotalHours;
                                            totalMinutes = responseTime.Minutes;
                                            isVisible = "";
                                        }

                                        <div style="@isVisible" class="hr-ticketing-response-time">
                                            Response Time: @totalHours.ToString("00"):@totalMinutes.ToString("00") Hr
                                        </div>

                                        <div class="hr-ticketing-priority-date">
                                            <span class="hr-ticket-prioritylevel">
                                                <span class="res-hr-ticketlisting-color @HRMS.Helpers.TicketingHelper.GetPriorityColor(ticket.Priority)"></span>
                                                <span class="res-hr-ticketlisting-priority-status">@ticket.Priority</span>
                                            </span>
                                            <span class="res-admin-hr-ticketlisting-date">
                                                <i class="fa-solid fa-clock" aria-hidden="true"></i>
                                                <span class="res-ticketlisting-priority-status">
                                                    @(ticket.Created_date.HasValue ? ticket.Created_date.Value.ToString("dd MMM yyyy, ddd hh:mmtt") : "N/A")
                                                </span>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="res-admin-ticketlisting-location-info">
                                        <div class="hr-ticketing-empty-block"></div>
                                        <div class="res-ticketlisting-location">@ticket.Location</div>
                                    </td>
                                    <td class="res-admin-ticketlisting-status">
                                        <div class="hr-ticketing-empty-block"></div>
                                        <div class="res-ticketlisting-status-level @HRMS.Helpers.TicketingHelper.GetTicketStatusCssClass(ticket.Status) ticket-status-@ticket.Status">@ticket.Status</div>
                                    </td>
                                </tr>
                            }
                            @*<tr class="even">
                                    <td style="width: 400px">
                                        <div class="res-admin-hr-ticketlisting-user-details" style="display: flex; align-items: center;">
                                            <i class="hr-ticket-msg-icon fa-regular fa-message"></i>
                                            <span style="margin-top: 0px; margin-right: 10px;">
                                                <div class="admin-hr-ticketing-listing-title">Laptop Not Working</div>
                                                <div class="admin-hr-ticketing-listing-details">
                                                    <span class="hr-ticket-id">#1212</span>
                                                    <span class="hr-ticket-info"><i class="fa-solid fa-folder" aria-hidden="true"></i> Others</span>
                                                    <span class="id-name">123 Sriram</span>
                                                </div>
                                                <div class="admin-hr-ticketing-listing-closedby">Closed By <span>TestUser</span></div>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width: 400px" class="res-admin-hr-ticketlisting-priority">
                                        <div class="hr-ticketing-response-time">
                                            Response Time 2 Hr
                                        </div>
                                        <div class="hr-ticketing-priority-date">
                                            <span class="hr-ticket-prioritylevel">
                                                <span class="res-hr-ticketlisting-color res-hr-ticketlisting-color-orange"></span>
                                                <span class="res-hr-ticketlisting-priority-status">Medium</span>
                                            </span>
                                            <span class="res-admin-hr-ticketlisting-date">
                                                <i class="fa-solid fa-clock" aria-hidden="true"></i>
                                                <span class="res-ticketlisting-priority-status">07 Oct 2024, Sat 07:00AM</span>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="res-admin-ticketlisting-location-info">
                                        <div class="hr-ticketing-empty-block"></div>
                                        <div class="res-ticketlisting-location">Madurai</div>
                                    </td>
                                    <td class="res-admin-ticketlisting-status">
                                        <div class="hr-ticketing-empty-block"></div>
                                        <div class="res-ticketlisting-status-level ticket-status-closed">Closed</div>
                                    </td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- admin hr ticket comments Modal -->
<div id="adminHrTicketCommentsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="adminHrTicketCommentsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <h5 class="modal-title" id="adminHrTicketConfirmCancelModalLabel">Comments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="admin-hr-ticketing-commentbox-popup-list">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if (!$.fn.DataTable.isDataTable('#adminhrticketlistingTable')) {
            var table = $('#adminhrticketlistingTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "lengthMenu": [[7, 14, 21, -1], [7, 14, 21, "All"]],
                "columnDefs": [
                    { "orderable": false, "targets": 1 },
                    { "orderable": false, "targets": 3 }
                ]
            });

            $(document).on('keyup', '.hr-search', function () {
                table.search(this.value).draw(); // Search value across all columns and redraw table
            });
        }


    });

    function adminhrticketcommentpopup(currentthis) {
        var ticketName = currentthis.attr("data-ticketname");

        // Show the confirmation modal
        $('#adminHrTicketCommentsModal').modal('show');
    }



</script>

@*<script>
        $(document).on('keyup', '.hr-search', function () {
            var searchText = $(this).val().toLowerCase();
            $('#adminhrticketlistingTable tbody tr').each(function () {
                var found = false;
                $(this).find('td').each(function () {
                    var cellContent = $(this).text().toLowerCase();
                    if (cellContent.indexOf(searchText) !== -1) {
                        found = true;
                        return false; // Exit loop if found
                    }
                });

                if (found) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    </script>*@