@model HRMS.Models.TicketDetailsViewModel

@{
    var currentUserSession = Session["SiteContext"] as HRMS.Models.SiteContextModel;

    var isItAdmin = currentUserSession.IsITAdmin ? true : false;
    var isReadOnlyUser = "";
    var IsReadonlyButtonDisabled = "";

    if (isItAdmin == false)
    {
        isReadOnlyUser = "readonly";
        IsReadonlyButtonDisabled = "disabled";
    }
}

@Html.Partial("_NavBar")
<div class="container-fluid res-admin-Ticketing">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid AdminItTicketing-View" style="width: 84%; margin-top: 15px;">
        <div class="AdminAssignAgent-View">
            <div class="col-lg-5 col-md-11 admin-ticket-it-popup-form">
                <form id="admin-ticket-it-Form">
                    <div class="form-group">
                        <h4 class="mb-4 admin-it-ticketing-pagetitle">IT Ticketing</h4>
                        <div class="form-group div-admin-itticket-category">
                            <label for="admin-itticket-category" class="admin-itticket-label">Category</label>
                            <input type="text" class="form-control" id="admin-itticket-category" value="@Model.TicketViewModel.Category" readonly>
                        </div>
                        <div class="form-group div-admin-itticketing-subject">
                            <label for="admin-itticket-subject" data-ticketnum="">Subject</label>
                            <input type="text" class="form-control" id="admin-itticket-subject" value="@Model.TicketViewModel.Subject" readonly>
                            <a target="_blank" href="@Model.TicketViewModel.AttatchimageFile.Replace(System.Configuration.ConfigurationManager.AppSettings["TicketingFolderPath"], "/ticketing")"><i class="fa-regular fa-image"></i></a>
                        </div>
                        <div class="form-group">
                            <label for="admin-itticket-description">Description*</label>
                            <textarea readonly class="form-control" id="admin-itticket-description">@Model.TicketViewModel.Description</textarea>
                        </div>
                        <div class="form-group">
                            <label for="admin-itticket-raisedby">Raised By</label>
                            <input type="text" class="form-control" id="admin-itticket-raisedby" value="@Model.TicketViewModel.EmployeeID @Model.TicketViewModel.EmployeeName" readonly>

                        </div>
                        <div class="form-group div-admin-itticket-raisedon">
                            <label for="admin-itticket-raisedon">Raised On</label>

                            @if (Model.TicketViewModel.Created_date.HasValue)
                            {
                                <input type="text" class="form-control" id="admin-itticket-raisedon"
                                       value="@Model.TicketViewModel.Created_date.Value.ToString("dd MMM yyyy, ddd hh:mm tt")" readonly>
                            }

                        </div>
                        <div class="form-group div-admin-itticket-priority">
                            <label for="admin-itticket-priority" class="admin-itticket-priority-label">Priority</label>
                            <input type="text" class="form-control" id="admin-itticket-raisedon" value="@Model.TicketViewModel.Priority" readonly>

                        </div>
                        <div class="form-group div-admin-itticket-closedby">
                            <label for="admin-itticket-closedby" class="admin-itticket-priority-label">Resolved By*</label>
                            <select class="form-control" id="admin-itticket-closedby" @isReadOnlyUser>
                                <option selected disabled>Select Name</option>
                                @{
                                    var selectedemp = Model.TicketViewModel.Resolved_by;
                                }
                                @foreach (var itemp in Model.ITEmployees)
                                {
                                    var selected = itemp.EmployeeID == selectedemp ? "selected" : "";
                                    <option @selected value="@itemp.EmployeeID">@itemp.EmployeeName</option>

                                }
                            </select>
                            <span class="error-message" style="color: red" id="admin-itticket-closedby-error"></span>
                        </div>
                        <div class="admin-itticketing-block">
                            <div class="form-group div-admin-itticket-status">
                                <label for="admin-itticket-closedby" class="admin-itticket-priority-label">Select Status*</label>
                                <select class="form-control" id="admin-itticket-status" @isReadOnlyUser>
                                    <option selected disabled>Select Status</option>
                                    @{
                                        var selectedTicketStatus = Model.TicketViewModel.Status;
                                    }

                                    @{
                                        var ticketStatuses = new List<string>();
                                        ticketStatuses.Add("Resolved");
                                        ticketStatuses.Add("Closed");
                                        ticketStatuses.Add("Re-Open");
                                    }                                   
                                    @foreach (var item in ticketStatuses)
                                    {
                                        var selectedStatus = item == selectedTicketStatus ? "selected" : "";
                                        <option value="@item" @selectedStatus>@item</option>
                                    }
                                </select>
                                <span class="error-message" style="color: red" id="admin-itticket-status-error"></span>
                            </div>
                            <div class="form-group div-admin-itticket-closeddate">
                                <label for="admin-itticket-closeddate" class="admin-itticket-closeddate-label" @isReadOnlyUser>Date*</label>
                                @{
                                    string displayDate = "";
                                    if (Model.TicketViewModel.Status == "Resolved")
                                    {
                                        displayDate = Model.TicketViewModel.ResolvedDate?.ToString("yyyy-MM-dd");
                                    }
                                    else if (Model.TicketViewModel.Status == "Closed")
                                    {
                                        displayDate = Model.TicketViewModel.Closed_date?.ToString("yyyy-MM-dd");
                                    }
                                    else if (Model.TicketViewModel.Status == "Re-Open")
                                    {
                                        displayDate = Model.TicketViewModel.ReopenedDate?.ToString("yyyy-MM-dd");
                                    }
                                    else // default to current date if status is "Open" or other status
                                    {
                                        displayDate = DateTime.Now.ToString("yyyy-MM-dd");
                                    }
                                }
                                <input @isReadOnlyUser type="date" class="form-control form-control-sm mr-2" id="admin-itticketing-closeddate" value="@displayDate">
                            </div>
                        </div>
                        <div class="admin-itticket-submit">
                            <button type="button" class="btn btn-itticketing-back mb-4">Back</button>
                            @if (Model.TicketViewModel.Status != "Cancelled" && Model.TicketViewModel.Status != "Closed")
                            {
                                <button @IsReadonlyButtonDisabled type="button" class="btn btn-primary btn-apply-admin-itticket-submit mb-4" data-ticketnum="@Model.TicketViewModel.TicketNo">Submit</button>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@Html.Partial("CommonModalPopups")