@model HRMS.Models.CompOffModel

<div class="admin-leave-compoff-view">
    <style>
        .error {
            border-color: red !important;
        }

        .userIcon {
            width: 42px;
            height: 42px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 10px;
        }
    </style>
    <div class="container-fluid res-admin-leavecompoff-view">
        <div class="row res-admincompoff-header">
            <div class="col-sm-12 col-md-12 col-lg-4 res-adminleave-compoff-header-left">
                <h5>CompOff Request</h5>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-3 d-flex justify-content-center res-adminleave-compoff-header-center">
                <div class="search-container">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background-color: transparent; border-right: none; border-radius: 10px 0 0 10px; height: 35px;"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" placeholder="Search By Keyword" class="advanceLeavecompoffsearch form-control" aria-label="Search By Keyword" style="border-radius: 0 10px 10px 0; height: 35px; font-size: 14px;">
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-4 d-flex justify-content-end res-adminleave-compoff-header-right">
                <div class="dropdowns-leave-compoff-container">


                    <div class="form-group adminleave-compoff-dropdown" style="margin-top: 10px;">
                        <label class="export-compoff-label" for="exportcompoffLeaveLabel" style="margin:0;">Export</label>
                        <i class="fas fa-chevron-down" id="exportcompoffLeaveIcon" style="cursor: pointer; font-size:13px;" data-toggle="collapse" data-target="#LeavecompoffDateDropdown"></i>
                    </div>
                    <div class="dropdown res-adminleave-drop">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="leavecompoffSettingsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="">
                            Leave Settings
                        </button>
                        <div class="dropdown-menu" aria-labelledby="leavecompoffSettingsDropdown" style="border:1px solid gray; cursor: pointer;">
                            <a class="dropdown-item adminleave-history">Leave History</a>
                            <a class="dropdown-item adminleave-Balanve-link">Leave Balance</a>
                            <a class="dropdown-item adminleave-CompOff-link">CompOff Request</a>
                            <a class="dropdown-item adminside-leaveapply">Apply Leave</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="collapse" id="LeavecompoffDateDropdown">
            <div class="col-md-4"></div> <!-- Empty column -->
            <div class="col-md-8 d-flex res-adminleave-compoff-from-to">
                <div class="form-group d-flex">
                    <label for="from" class="mr-2">From</label>
                    <input type="date" class="form-control form-control-sm mr-2" id="fromDate" style="width: 120px;">
                    @*<div id="fromDateError" class="text-danger" style="display: none;">Please select a from date</div>*@
                </div>
                <div class="form-group d-flex">
                    <label for="to" class="mr-2">To</label>
                    <input type="date" class="form-control form-control-sm mr-2" id="toDate" style="width: 120px;">
                    @*<div id="toDateError" class="text-danger" style="display: none;">Please select a to date</div>*@
                </div>
                <div class="form-group d-flex align-items-center mr-2">
                    <button type="button" class="btn btn-sm btn-primary btn-admin-compoff-history">Submit</button>
                    <a href="#" class="clearLeave-compoff-filter ml-2">Clear</a>
                </div>
            </div>
        </div>

        <div class="res-adminleavecompoffTable-mgmt table-responsive">
            <table id="adminleavecompoffTable" class="table leave-compoff-table" style="width:100%;">
                <thead class="thead-light" style="display:none;">
                    <tr>
                        <th>Emp-ID</th>
                        <th>Name</th>
                        <th>Requested Date</th>
                        <th>Work Date</th>
                        <th>Location</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var compoff in Model.CompOffs)
                    {
                        <tr class="rowBorder">
                            <td class="fontSmall">@compoff.EmployeeID</td>
                            @{
                                var empImagePath = "/Assets/EmpImages/" + @compoff.EmployeeID + ".jpeg";
                            }
                            <td><div style="display: flex; align-items: center;"><img class="userIcon" src="@empImagePath"><span style="margin-top: 0px; margin-right: 10px;">@compoff.EmployeeName<br><span style="color: #3E78CF;">@compoff.OfficalEmailid</span></span></div></td>
                            <td class="fontSmall dataMinWidth dateMaxWidth">
                                <span class="mutedText">Requested Date</span>
                                <p class="mb-0 fontWtMedium">
                                    @(compoff.createddate.HasValue
            ? compoff.createddate.Value.ToString("dd MMMM yyyy")
            : "No Date Available"),     @(compoff.createddate.HasValue
            ? compoff.createddate.Value.ToString("ddd")
            : "No Date Available")
                                </p>

                            </td>
                            <td class="fontSmall">
                                <div class="mutedText">Work Date</div>
                                <span class="fontWtMedium">@compoff.CampOffDate.ToString("dd MMMM yyyy"), @compoff.CampOffDate.ToString("ddd")</span>
                            </td>
                            <td class="fontSmall">
                                <div class="mutedText">Location</div>
                                <span class="fontWtbold">@compoff.Location</span>
                            </td>
                            <td style="width:320px;" class="fontSmall commentSec">
                                <div class="dFlex">
                                    <i class="fa-solid fa-message chatIcon"></i>
                                    <p>
                                        @compoff.Reason
                                    </p>
                                </div>
                                <div class="statusBtnFlex">
                                    @if (@compoff.addStatus != "Approved" && compoff.addStatus != "Rejected")
                                    {
                                        <a href="" class="statusBtn acceptLeavecompoffBtn" data-leavename="Approve" data-compoffnum="@compoff.Compoff_no">Approve</a>
                                        <a href="" class="statusBtn rejectLeavecompoffBtn" data-leavename="Reject" data-compoffnum="@compoff.Compoff_no">Reject</a>
                                        <div id="statusLabel" class="statusLabel" style="display: none">@compoff.addStatus</div>
                                    }
                                    else
                                    {
                                        var statuscolorcode = "green";
                                        if (@compoff.addStatus == "Rejected")
                                        {
                                            statuscolorcode = "red";
                                        }
                                        <div id="statusLabel" class="statusLabel" style="color: @statuscolorcode ">@compoff.addStatus</div>

                                    }

                                    @if (@compoff.addStatus == "Approved" || compoff.addStatus == "Rejected")
                                    {
                                        <i class="fas fa-ellipsis-h adminleave-edit-history" onclick="toggleAdminLeaveHistoryActionOptions(this)"></i>
                                        <div class="admin-leavehistoryoptions" style="display:none">
                                            @if (compoff.addStatus == "Approved")
                                            {
                                                <a href="" class="dropdown-item rejectLeavecompoffBtn" data-leavename="Reject" data-compoffnum="@compoff.Compoff_no">Change Status</a>
                                            }
                                            else
                                            {
                                                <a href="" class="dropdown-item acceptLeavecompoffBtn" data-leavename="Approve" data-compoffnum="@compoff.Compoff_no">Change Status</a>
                                            }

                                            @*<a class="dropdown-item admin-leavehistory-edit" onclick="adminleavehistoryedit($(this))" data-adminleavehistoryname=''>Edit</a>*@
                                            @*<a class="dropdown-item admin-leavehistory-cancel" onclick="adminleavehistorycancel($(this))" data-adminleavehistoryname=''>Cancel</a>*@
                                        </div>
                                    }
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if (!$.fn.DataTable.isDataTable('#adminleavecompoffTable')) {
            var table = $('#adminleavecompoffTable').DataTable({
                "responsive": true,
                "paging": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "lengthMenu": [[7, 14, 21, -1], [7, 14, 21, "All"]]
            });
        }

        $(document).on('keyup', '.advanceLeavecompoffsearch', function () {
            table.search(this.value).draw();
        });



    });

    function toggleAdminLeaveHistoryActionOptions(iconElement) {
        const optionsMenu = $(iconElement).next('.admin-leavehistoryoptions');
        $('.admin-leavehistoryoptions').not(optionsMenu).hide(); // Hide any other open menus
        optionsMenu.toggle(); // Toggle visibility of the clicked menu
    }
</script>