@model HRMS.Models.Admin.AdminJobModel
@{
    ViewBag.Title = "AdminJobListing";
}

@Html.Partial("_NavBar")
<div class="container-fluid res-admin-jobreferral">
    <style>
        
    </style>
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid" >
        <div class="content admin-jobreferral-list" >
            <div class="content admin-jobreferral">
                <div style="margin-left: 0%">
                    <div class="admin-jobreferal-container">
                        <div class="row admin-jobreferral-header">
                            <div class="admin-jobreferral-title">
                                <h4>Job Application</h4>
                            </div>
                            <div class="adminpost_jobreferal ml-auto">
                                <btn type="button" class="btn btn-primary btn_admin_postjobreferal">Post Job</btn>
                            </div>
                        </div>
                    </div>

                    <div class="admin-jobreferral-details" id="adminJobReferral" style="">
                        <div class="row res-admin-jobreferral-header">
                            <div class="col-lg-5 col-md-12 col-sm-12 res-admin-jobreferral-left">
                                <button type="button" id="all-jobs" class="btn all-jobs active">All Jobs</button>
                                <button type="button" id="open-jobs" class="btn open-jobs ">Open Jobs</button>
                                <button type="button" id="closed-jobs" class="btn closed-jobs ">Closed Jobs</button>
                            </div>
                        </div>
                        <div class="admin-jobreferal-body" id="admin-jobreferal-data">
                            @foreach (var job in Model.alljobListings)
                            {
                                <div class="admin-jobreferal-data-block open-jobs">
                                    <div class="admin-jobreferal-data-block-header">
                                        <a class="admin-jobreferal-data-title" style="cursor:pointer;" data-jobId="@job.JobID">@job.JobTitle</a>
                                        <span class="admin-jobreferal-data-options" onclick="togglejobreferalActionOptions(this, event)">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </span>
                                        <div class="admin-jobreferal-dataoptions" style="display:none">
                                            <a class="dropdown-item admin-jobreferal-edit" data-jobid="@job.JobID" onclick="">Edit</a>
                                            <a class="dropdown-item admin-jobreferal-delete" data-jobid="@job.JobID" data-toggle="modal" data-target="#adminJobReferralDeleteModal">Delete</a>
                                        </div>
                                    </div>
                                    <div class="admin-jobreferal-data-block-body">
                                        <span class="admin-jobreferal-data-experience"><i class="fas fa-bookmark"></i> Experience: @job.Experience</span>
                                        <span class="admin-jobreferal-data-location"><i class="fas fa-map-marker-alt"></i>@job.Location</span>
                                        <span class="admin-jobreferal-data-onsite"><i class="fas fa-check-circle"></i> On-Site</span>
                                        <span class="admin-jobreferal-data-candidate">
                                            <i class="fa-solid fa-user-group"></i>
                                            <a class="admin_applied_jobreferal" data-jobId="@job.JobID" data-toggle="modal" data-target="#adminJobReferralProcessModal" style="cursor:pointer;">
                                                @(job.TotalReferrers ?? 0) Candidates
                                            </a>

                                        </span>
                                    </div>
                                    <div class="admin-jobreferal-data-block-footer">
                                        <div class="admin-jobreferal-data-status open">@job.JobStatus</div>
                                    </div>

                                </div>
                            }
                            @*<div class="admin-jobreferal-data-block closed-jobs">
                <div class="admin-jobreferal-data-block-header">
                    <span class="admin-jobreferal-data-title">Lead Engineer</span>
                    <span class="admin-jobreferal-data-posted"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                </div>
                <div class="admin-jobreferal-data-block-body">
                    <span class="admin-jobreferal-data-experience"><i class="fas fa-bookmark"></i> Experience: 10 - 12 Years</span>
                    <span class="admin-jobreferal-data-location"><i class="fas fa-map-marker-alt"></i> Chennai, Tamilnadu, India</span>
                    <span class="admin-jobreferal-data-onsite"><i class="fas fa-check-circle"></i> On-Site</span>
                    <span class="admin-jobreferal-data-candidate">
                        <i class="fa-solid fa-user-group"></i>
                        <a class="admin_applied_jobreferal" data-toggle="modal" data-target="#adminJobReferralProcessModal">3 Candidates</a>
                    </span>
                </div>
                <div class="admin-jobreferal-data-block-footer">
                    <div class="admin-jobreferal-data-status closed">Closed</div>
                </div>
            </div>
            <div class="admin-jobreferal-data-block open-jobs">
                <div class="admin-jobreferal-data-block-header">
                    <span class="admin-jobreferal-data-title">Lead Engineer</span>
                    <span class="admin-jobreferal-data-posted"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                </div>
                <div class="admin-jobreferal-data-block-body">
                    <span class="admin-jobreferal-data-experience"><i class="fas fa-bookmark"></i> Experience: 10 - 12 Years</span>
                    <span class="admin-jobreferal-data-location"><i class="fas fa-map-marker-alt"></i> Chennai, Tamilnadu, India</span>
                    <span class="admin-jobreferal-data-onsite"><i class="fas fa-check-circle"></i> On-Site</span>
                    <span class="admin-jobreferal-data-candidate">
                        <i class="fa-solid fa-user-group"></i>
                        <a class="admin_applied_jobreferal" data-toggle="modal" data-target="#adminJobReferralProcessModal">3 Candidates</a>
                    </span>
                </div>
                <div class="admin-jobreferal-data-block-footer">
                    <div class="admin-jobreferal-data-status open">Open</div>
                </div>
            </div>

            <div class="admin-jobreferal-data-block closed-jobs">
                <div class="admin-jobreferal-data-block-header">
                    <span class="admin-jobreferal-data-title">Lead Engineer</span>
                    <span class="admin-jobreferal-data-posted"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                </div>
                <div class="admin-jobreferal-data-block-body">
                    <span class="admin-jobreferal-data-experience"><i class="fas fa-bookmark"></i> Experience: 10 - 12 Years</span>
                    <span class="admin-jobreferal-data-location"><i class="fas fa-map-marker-alt"></i> Chennai, Tamilnadu, India</span>
                    <span class="admin-jobreferal-data-onsite"><i class="fas fa-check-circle"></i> On-Site</span>
                    <span class="admin-jobreferal-data-candidate">
                        <i class="fa-solid fa-user-group"></i>
                        <a class="admin_applied_jobreferal" data-toggle="modal" data-target="#adminJobReferralProcessModal">3 Candidates</a>
                    </span>
                </div>
                <div class="admin-jobreferal-data-block-footer">
                    <div class="admin-jobreferal-data-status closed">Closed</div>
                </div>
            </div>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- admin job referal process Modal -->
        <div id="adminJobReferralProcessModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="adminJobReferralProcessModal" aria-hidden="true">
            <div class="modal-dialog " role="document" style="max-width:880px !important">
                <div class="modal-content">
                    <div class="modal-body">
                        @*<div class="modal-header">
                                <h5 class="modal-title" id="JobReferralProcessModalLabel">Recruitment Administrator-12891/#01</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table id="admin_candidatelist_jobreferal" class="display" style="width: 100%;">
                                    <thead class="canjref_thead">
                                        <tr>
                                            <th>Candidate Name</th>
                                            <th>Resume</th>
                                            <th>Referred By</th>
                                            <th>Referred Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="canjref_tbody">
                                        <tr>
                                            <td class="jobreferred_candidatename">Shiva Prakash</td>
                                            <td class="jobreferred_resume"><a href="#">resume1.pdf</a></td>
                                            <td class="jobreferred_by d-flex">
                                                <img src="~/Assets/EmpImages/1020.jpeg" alt="" class="jobreffered_by_image mt-1">
                                                <span class="employee-details mt-2 ml-2">
                                                    Prathiksha Kubendran<br />
                                                    <small>prathikshak@ambconline.com</small>
                                                </span>
                                            </td>
                                            <th class="jobreferred_date">12-11-2024</th>
                                            <th class="jobreferred_status">
                                                <select class="form-control" id="jobreferred_status_data" required>
                                                    <option value="" selected disabled>Status</option>
                                                    <option value="selected">Selected</option>
                                                    <option value="interview">Interview</option>
                                                </select>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td class="jobreferred_candidatename">Shiva Prakash</td>
                                            <td class="jobreferred_resume"><a href="#">resume1.pdf</a></td>
                                            <td class="jobreferred_by d-flex">
                                                <img src="~/Assets/EmpImages/1020.jpeg" alt="" class="jobreffered_by_image mt-1">
                                                <span class="employee-details mt-2 ml-2">
                                                    Prathiksha Kubendran<br />
                                                    <small>prathikshak@ambconline.com</small>
                                                </span>
                                            </td>
                                            <th class="jobreferred_date">12-11-2024</th>
                                            <th class="jobreferred_status">
                                                <select class="form-control" id="jobreferred_status_data" required>
                                                    <option value="" selected disabled>Status</option>
                                                    <option value="selected">Selected</option>
                                                    <option value="interview">Interview</option>
                                                </select>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>*@
                    </div>
                </div>
            </div>
        </div>

        <!--Admin Job referal Delete Pop up Model-->
        <div class="modal fade" id="adminJobReferralDeleteModal" tabindex="-1" role="dialog" aria-labelledby="adminJobReferralDeleteModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="border-bottom:0px;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="text-align: center; padding: 0px; font-size: 18px;">
                        <p class="delete-message">Are you sure you want to delete this Job Post ?</p>

                    </div>
                    <div class="modal-footer" style="border-top: 0px;padding-top:0px;">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger delete-jobreferaldelete">Delete</button>
                    </div>
                </div>
            </div>
        </div>


        <script src="~/Scripts/z-jobreferralscript.js"></script>
        <script>
            $(document).ready(function () {
                if (!$.fn.DataTable.isDataTable('#admin_candidatelist_jobreferal')) {
                    $('#admin_candidatelist_jobreferal').DataTable({
                        "paging": false,
                        "searching": false,
                        "ordering": false,
                        //"scrollCollapse": true,
                        "info": true,
                        "autoWidth": false,
                        "lengthMenu": [[7, 14, 21, -1], [7, 14, 21, "All"]],
                        "columnDefs": [
                            { "orderable": false, "targets": 1 },
                            { "orderable": false, "targets": 3 }
                        ]
                    });
                }
            });

            function togglejobreferalActionOptions(iconElement, event) {
                const optionsMenu = $(iconElement).siblings('.admin-jobreferal-dataoptions');
                $('.admin-jobreferal-dataoptions').not(optionsMenu).hide();
                optionsMenu.toggle();
                event.stopPropagation();
            }

            $(document).click(function (event) {
                // Check if the click was outside the icon and the dropdown
                if (!$(event.target).closest('.admin-jobreferal-data-options, .admin-jobreferal-dataoptions').length) {
                    // Hide all open dropdowns
                    $('.admin-jobreferal-dataoptions').hide();
                }
            });


            $(document).on('click', '.admin-jobreferal-edit', function (event) {
                var jobid = $(this).attr("data-jobid");
                window.location.href = "/admindashboard/adminpostjobs?jobid=" + jobid;
                return;
            });


            let selectedJobId = null;


            $(document).on('click', '.admin-jobreferal-delete', function () {
                selectedJobId = $(this).data('jobid');
            });

            $(document).on('click', '.delete-jobreferaldelete', function () {
                if (selectedJobId) {
                    $.ajax({
                        url: '/admindashboard/deletejob',
                        type: 'POST',
                        data: { jobId: selectedJobId },
                        success: function (response) {
                            if (response.success) {
                                $('#modalMessage')
                                    .text("Job deleted successfully!")
                                    .addClass('text-success')
                                    .removeClass('text-danger');
                                $('#adminJobReferralDeleteModal').modal('hide');

                                $(`.admin-jobreferal-edit[data-jobid="${selectedJobId}"]`).closest('.admin-jobreferal-dataoptions').remove();
                            } else {
                                $('#modalMessage')
                                    .text("Error: " + response.message)
                                    .addClass('text-danger')
                                    .removeClass('text-success');
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log("Error deleting job:", status, error);
                            $('#modalMessage')
                                .text("An error occurred: " + error)
                                .addClass('text-danger')
                                .removeClass('text-success');
                        }
                    });
                }
            });

        </script>

    </div>
</div>

