@{
    var pageUrlPath = Request.Url.AbsolutePath.ToLowerInvariant();
    var currentContext = Session["SiteContext"] as HRMS.Models.SiteContextModel;


    var leaveSidebarShow = "display: none";

    if (pageUrlPath.Contains("/adminleave/index") || pageUrlPath.Contains("/adminleave/adminleavehistory")
        || pageUrlPath.Contains("/adminleave/adminleavebalance") || pageUrlPath.Contains("/adminleave/adminleavecompensatoryoff"))
    {
        leaveSidebarShow = "display: block";
    }


    var ticketigSidebarShow = "display: none";
    var highliateHRTicketing = "";
    var highliateITTicketing = "";
    if (pageUrlPath.Contains("/adminticketing/itticketing") || pageUrlPath.Contains("/adminticketing/hrticketing") || pageUrlPath.Contains("/adminticketing/gethrticketdetails") || pageUrlPath.Contains("/adminticketing/getitticketdetails"))
    {
        ticketigSidebarShow = "display: block";
        if (pageUrlPath.Contains("/adminticketing/gethrticketdetails"))
        {
            highliateHRTicketing = "sidebaractive";
        }

        if (pageUrlPath.Contains("/adminticketing/getitticketdetails"))
        {
            highliateITTicketing = "sidebaractive";
        }
    }

    var highliateITSupport = "";
    var itSupportSidebarShow = "display: none";
    if (pageUrlPath.Contains("/vendor/index") || pageUrlPath.Contains("/vendor/approvevendor") || pageUrlPath.Contains("/vendor/addvendor") || pageUrlPath.Contains("/vendor/importvendor")
        || pageUrlPath.Contains("/purchase/index") || pageUrlPath.Contains("/subscription/subscriptioninfo")
        || pageUrlPath.Contains("/asset/assetinfo") || pageUrlPath.Contains("/allocatedinformation/allocatedinfo") || pageUrlPath.Contains("/purchase/purchasesuperadmin")
        || pageUrlPath.Contains("/purchase/addpurchaserequest"))
    {
        itSupportSidebarShow = "display: block";
        highliateITSupport = "sidebaractive";


    }

}

<div id="left-side-menu-normal" class="row">
    <style>
        .sidebar {
            box-shadow: 0 0 5px 0.5px rgba(0,0,0,0.3)
        }
    </style>
    <div class="col-md-2">
        <div class="sidebar" style="top: 56px !important">
            <ul id="admindash-menu">
                @if (currentContext.IsAdmin || currentContext.IsSuperAdmin)
                {
                    <li class="mb-2 @(pageUrlPath.Contains("/admindash/index") ? "active sidebaractive" : "")">
                        <a href="/admindash/index" class="@(pageUrlPath == "/admindash/index" ? "active" : "")">
                            <img class="menu-icon" src="~/Assets/Icons/Dashboard.png" /><span>Dashboard</span>
                        </a>
                    </li>
                    <li class="mb-2 @(pageUrlPath.Contains("/admindashboard/employeemanagement") ? "active sidebaractive" : "")">
                        <a href="/admindashboard/employeemanagement" class="@(pageUrlPath == "/admindashboard/employeemanagement" ? "active" : "")">
                            <img class="menu-icon" src="~/Assets/Icons/Employee.png" /><span>Employee</span>
                        </a>
                    </li>
                    <li class="mb-2 @(pageUrlPath.Contains("/adminattendance/attendance") ? "active sidebaractive" : "")">
                        <a href="/adminattendance/attendance" class="@(pageUrlPath == "/adminattendance/attendance" ? "active" : "")">
                            <img class="menu-icon" src="~/Assets/Icons/Attendance.png" /><span>Attendance</span>
                        </a>
                    </li>
                    <li class="admin-leave-main-menu sidebar-dropdown mb-2 @(pageUrlPath.Contains("/adminleave/index") ? "active sidebaractive" : "")">
                        <a href="#" class="@(pageUrlPath == "/adminleave/index" ? "active" : "")">
                            <img class="menu-icon" src="~/Assets/Icons/Leave.png" /><span>Leave</span>
                            <i class="fa fa-chevron-down pull-right side-menubar-updown"></i>
                        </a>
                        <div class="sidebar-submenu" style="@leaveSidebarShow">
                            <ul>
                                <li><a href="/adminleave/index"><span class="menu-bar-design-red"></span>Leave Tracker</a></li>
                                <li><a href="/adminleave/adminleavehistory" class="adminleave-history"><span class="menu-bar-design-blue"></span>Leave History</a></li>
                                <li><a href="/adminleave/adminleavebalance" class="adminleave-Balanve-link"><span class="menu-bar-design-chocolate"></span>Leave Balance</a></li>
                                <li><a href="/adminleave/adminleavecompensatoryoff" class="adminleave-CompOff-link "><span class="menu-bar-design-darkcyan"></span>CompOff Request</a></li>
                                @*<li><a class="adminside-leaveapply"><span class="menu-bar-design-slategrey"></span>Apply Leave</a></li>*@
                            </ul>
                        </div>
                    </li>
                }

                @if (currentContext.IsAdmin || currentContext.IsSuperAdmin || currentContext.IsITAdmin)
                {
                    <li class="admin-ticket-main-menu sidebar-dropdown mb-2 @(pageUrlPath.Contains("/adminticketting/index") ? "active sidebaractive" : "")">
                        <a href="#" class="@(pageUrlPath == "/adminticketting/index" ? "active" : "")">
                            <img class="menu-icon" src="~/Assets/Icons/Ticketing.png" /><span>Ticketing</span>
                            <i class="fa fa-chevron-down pull-right side-menubar-updown"></i>
                        </a>
                        <div class="sidebar-submenu" style="@ticketigSidebarShow">
                            <ul>
                                <li class="@highliateITTicketing"><a href="/adminticketing/itticketing"><span class="menu-bar-design-red"></span>IT Ticketing</a></li>

                                @if (currentContext.IsAdmin || currentContext.IsSuperAdmin)
                                {
                                    <li class="@highliateHRTicketing"><a href="/adminticketing/hrticketing" class=""><span class="menu-bar-design-blue"></span>HR Ticketing</a></li>
                                }
                            </ul>
                        </div>
                    </li>
                }
                @if (currentContext.IsSuperAdmin || currentContext.IsITAdmin || currentContext.IsAccountAdmin)
                {
                    <li class="admin-itsupport-main-menu sidebar-dropdown mb-2 @(!string.IsNullOrWhiteSpace(highliateITSupport) ? "active" : "")">
                        <a href="#" class="@(pageUrlPath == "/vendor/index" ? "active" : "")">
                            <img class="menu-icon" src="~/Assets/Icons/Leave.png" /><span>IT Support</span>
                            <i class="fa fa-chevron-down pull-right side-menubar-updown"></i>
                        </a>
                        <div class="sidebar-submenu" style="@itSupportSidebarShow">
                            <ul>
                                @if (currentContext.IsITAdmin || currentContext.IsAccountAdmin)
                                {
                                    <li><a href="/vendor/index"><span class="menu-bar-design-red"></span>Vendor</a></li>
                                }
                                @if (currentContext.IsSuperAdmin)
                                {
                                    <li><a href="/vendor/approveVendor"><span class="menu-bar-design-red"></span>Vendor</a></li>
                                }
                                @if (currentContext.IsITAdmin)
                                {
                                    <li><a href="/purchase/index" class=""><span class="menu-bar-design-blue"></span>Purchase Request</a></li>
                                }
                                @if (currentContext.IsSuperAdmin)
                                {
                                    <li><a href="/purchase/purchasesuperadmin" class=""><span class="menu-bar-design-blue"></span>Purchase Request</a></li>
                                }
                                @if (currentContext.IsAccountAdmin)
                                {
                                    <li><a href="/purchase/purchaseaccountadmin" class=""><span class="menu-bar-design-blue"></span>Purchase Request</a></li>
                                }
                                <li><a href="/subscription/subscriptioninfo" class=""><span class="menu-bar-design-chocolate"></span>Subscription</a></li>
                                <li><a href="/asset/assetinfo" class=" "><span class="menu-bar-design-darkcyan"></span>Asset</a></li>
                                <li><a href="/allocatedinformation/allocatedInfo" class=""><span class="menu-bar-design-red"></span>Allocated Information</a></li>

                                @*<li><a href="/purchase/purchaseaccountadmin" class=""><span class="menu-bar-design-chocolate"></span>Purchase Account</a></li>
                                    <li><a href="/purchase/PurchaseAccountSubmit" class=""><span class="menu-bar-design-chocolate"></span>PAccountSubmit</a></li>
                                    <li><a href="/purchase/purchasesuperadmin" class=" "><span class="menu-bar-design-darkcyan"></span>PurchaseSuperAdmin</a></li>
                                    <li><a href="/purchase/purchasesuperapproval" class=""><span class="menu-bar-design-red"></span>PurchaseSApproval</a></li>*@
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<div id="left-side-menu" class="row" style="margin-left: -29px;">
    <div class="col-md-2">
        <div class="sidebar" style="">
            <div class="sidebar-header mt-4">
                <div class="bl">

                    @if (!string.IsNullOrWhiteSpace(currentContext.EmpInfo.imagepath))
                    {
                        var empImageURl = System.Configuration.ConfigurationManager.AppSettings["EmpImagesFolder"] + "/" + currentContext.EmpInfo.imagepath + "?" + System.DateTime.Now;
                        <img src="@empImageURl" alt="Employee Image" class="profile img-fluid nav-image-profile">
                    }
                    else
                    {
                        string[] names = currentContext.EmpInfo.EmployeeName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);
                        if (names.Length > 0)
                        {
                            string firstName = names[0];
                            string lastName = names.Length > 1 ? names[names.Length - 1] : string.Empty;
                            char firstLetterOfFirstName = char.ToUpper(firstName[0]);
                            char firstLetterOfLastName = !string.IsNullOrEmpty(lastName) ? char.ToUpper(lastName[0]) : '\0';
                            <div class="default-image-navbar">@firstLetterOfFirstName@firstLetterOfLastName</div>
                        }
                    }
                    @*<img src="https://res.cloudinary.com/practicaldev/image/fetch/s--kg3uPx2P--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5%3Fs%3D250" alt="Employee Image" class="profile img-fluid nav-image-profile">*@
                </div>
                <div class="br">
                    <div class="name font-weight-bold">@currentContext.EmpInfo.EmployeeName</div>
                    <div class="email"><a href="mailto:@currentContext.EmpInfo.OfficalEmailid">@currentContext.EmpInfo.OfficalEmailid</a></div>
                    <div class="designation">@currentContext.EmpInfo.Designation</div>
                </div>
            </div>
            <ul id="admindash-menu" style="list-style-type: none;">
                @if (currentContext.IsAdmin || currentContext.IsSuperAdmin)
                {
                    <li class="mb-2 @(pageUrlPath.Contains("/admindash/index") ? "active sidebaractive" : "")">
                        <a href="/admindash/index" class="@(pageUrlPath == "/admindash/index" ? "active" : "")">
                            <img class="menu-icon" src="~/Assets/Icons/Dashboard.png" /><span>Dashboard</span>
                        </a>
                    </li>
                    <li class="mb-2 @(pageUrlPath.Contains("/admindashboard/employeemanagement") ? "active sidebaractive" : "")">
                        <a href="/admindashboard/employeemanagement" class="@(pageUrlPath == "/admindashboard/employeemanagement" ? "active" : "")">
                            <img class="menu-icon" src="~/Assets/Icons/Employee.png" /><span>Employee</span>
                        </a>
                    </li>
                    <li class="mb-2 @(pageUrlPath.Contains("/adminattendance/attendance") ? "active sidebaractive" : "")">
                        <a href="/adminattendance/attendance" class="@(pageUrlPath == "/adminattendance/attendance" ? "active" : "")">
                            <img class="menu-icon" src="~/Assets/Icons/Attendance.png" /><span>Attendance</span>
                        </a>
                    </li>
                    <li class="admin-leave-main-menu sidebar-dropdown mb-2 @(pageUrlPath.Contains("/adminleave/index") ? "active sidebaractive" : "")">
                        <a href="#" class="@(pageUrlPath == "/adminleave/index" ? "active" : "")">
                            <img class="menu-icon" src="~/Assets/Icons/Leave.png" /><span>Leave</span>
                            <i class="fa fa-chevron-down pull-right side-menubar-updown"></i>
                        </a>
                        <div class="sidebar-submenu" style="@leaveSidebarShow">
                            <ul>
                                <li><a href="/adminleave/index"><span class="menu-bar-design-red"></span>Leave Tracker</a></li>
                                <li><a href="/adminleave/adminleavehistory" class="adminleave-history"><span class="menu-bar-design-blue"></span>Leave History</a></li>
                                <li><a href="/adminleave/adminleavebalance" class="adminleave-Balanve-link"><span class="menu-bar-design-chocolate"></span>Leave Balance</a></li>
                                <li><a href="/adminleave/adminleavecompensatoryoff" class="adminleave-CompOff-link "><span class="menu-bar-design-darkcyan"></span>CompOff Request</a></li>
                                @*<li><a class="adminside-leaveapply"><span class="menu-bar-design-slategrey"></span>Apply Leave</a></li>*@
                            </ul>
                        </div>
                    </li>
                }
                @if (currentContext.IsAdmin || currentContext.IsSuperAdmin || currentContext.IsITAdmin)
                {
                    <li class="admin-ticket-main-menu sidebar-dropdown mb-2 @(pageUrlPath.Contains("/adminitticketting/index") ? "active sidebaractive" : "")">
                        <a href="#" class="@(pageUrlPath == "/adminticketting/index" ? "active" : "")">
                            <img class="menu-icon" src="~/Assets/Icons/Ticketing.png" /><span>Ticketing</span>
                            <i class="fa fa-chevron-down pull-right side-menubar-updown"></i>
                        </a>
                        <div class="sidebar-submenu" style="@ticketigSidebarShow">
                            <ul>
                                <li class="@highliateITTicketing"><a href="/adminticketing/itticketing"><span class="menu-bar-design-red"></span>IT Ticketing</a></li>
                                <li class="@highliateHRTicketing"><a href="/adminticketing/hrticketing" class=""><span class="menu-bar-design-blue"></span>HR Ticketing</a></li>
                            </ul>
                        </div>
                    </li>
                }
                @if (currentContext.IsSuperAdmin || currentContext.IsITAdmin || currentContext.IsAccountAdmin)
                {
                    <li class="admin-itsupport-main-menu sidebar-dropdown mb-2 @(!string.IsNullOrWhiteSpace(highliateITSupport) ? "active" : "")">
                        <a href="#" class="@(pageUrlPath == "/vendor/index" ? "active" : "")">
                            <img class="menu-icon" src="~/Assets/Icons/Leave.png" /><span>IT Support</span>
                            <i class="fa fa-chevron-down pull-right side-menubar-updown"></i>
                        </a>
                        <div class="sidebar-submenu" style="@itSupportSidebarShow">
                            <ul>
                                @if (currentContext.IsITAdmin || currentContext.IsAccountAdmin)
                                {
                                    <li><a href="/vendor/index"><span class="menu-bar-design-red"></span>Vendor</a></li>
                                }
                                @if (currentContext.IsSuperAdmin)
                                {
                                    <li><a href="/vendor/approveVendor"><span class="menu-bar-design-red"></span>Vendor</a></li>
                                }
                                @if (currentContext.IsITAdmin)
                                {
                                    <li><a href="/purchase/index" class=""><span class="menu-bar-design-blue"></span>Purchase Request</a></li>
                                }
                                @if (currentContext.IsSuperAdmin)
                                {
                                    <li><a href="/purchase/purchasesuperadmin" class=""><span class="menu-bar-design-blue"></span>Purchase Request</a></li>
                                }
                                @if (currentContext.IsAccountAdmin)
                                {
                                    <li><a href="/purchase/purchaseaccountadmin" class=""><span class="menu-bar-design-blue"></span>Purchase Request</a></li>
                                }
                                <li><a href="/subscription/subscriptioninfo" class=""><span class="menu-bar-design-chocolate"></span>Subscription</a></li>
                                <li><a href="/asset/assetinfo" class=" "><span class="menu-bar-design-darkcyan"></span>Asset</a></li>
                                <li><a href="/allocatedinformation/allocatedInfo" class=""><span class="menu-bar-design-red"></span>Allocated Information</a></li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
            <ul id="logout_sidebar_button" class="nav nav-sidebar">
                <li><a onclick="signOut()">Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>
