@model Compoff

@{
    var siteURL = System.Configuration.ConfigurationManager.AppSettings["siteURL"];
    var logoURL = siteURL + "/Assets/AMBC_Logo.png";
}

@*<style>
    body {
        font-family: Arial, sans-serif;
        color: #333;
    }

    .email-container {
        border: 1px solid #ddd;
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
    }

    .email-content {
        padding: 20px;
    }

    .email-footer {
        text-align: center;
        padding: 10px;
        border-top: 1px solid #ddd;
    }
</style>*@

@if (Model != null)
{
    <div class="email-container" style="font-family: Calibri; color: #333; background-color: #f9f9f9; padding: 20px; border-radius: 8px; max-width: 600px; margin: auto;">
        <div class="email-content" style="position: relative; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <table width="80%" cellpadding="0" cellspacing="0" border="0" style="background-color:#ffffff;">
                <tr>
                    <td style="padding:0;">
                        <p>Hello HR,</p>
                    </td>
                    <td align="right" style="padding: 0;">
                        <a href="@siteURL" target="_blank">
                            <img src="@logoURL" alt="AMBC Logo" width="80" style="display: block;">
                        </a>
                    </td>
                </tr>
            </table> 
            <p>
                I will be working on @Model.HolidayName due to @Model.Reason.
            </p>
            <p>
                Thanks and Regards,<br />
                @Model.EmployeeName,<br />
                AMBC Technologies Pvt Ltd.
            </p>
        </div>
        <div style="font-family: Calibri; color: #696969; font-size: 1.1em; margin-top: 20px; text-align: center;">
            This is an automated email, please do not reply.
            <br />
            Automated mail from <a href="https://prm.ambctechnologies.com" style="color: #2693F8;">https://prm.ambctechnologies.com</a>
        </div>
    </div>

}
