@model List<con_leaveupdate>

@{

    var siteURL = System.Configuration.ConfigurationManager.AppSettings["siteURL"];
    var logoURL = siteURL + "/Assets/AMBC_Logo.png";
}

<style>
    body {
        font-family: Arial, sans-serif;
        color: #333;
    }

    .email-container {
        border: 1px solid #ddd;
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
    }

    .email-content {
        padding: 20px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

    td, th {
        text-align: left;
        padding: 8px;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f4f4f4;
    }
</style>

@if (Model != null && Model.Any())
{
    var leaveUpdate = Model.First();
    <div class="email-container" style="background-color: #f8f9fa; padding: 20px; border-radius: 5px; position: relative;">
        <a href="@siteURL" target="_blank" style="position: absolute; top: 20px; right: 20px;">
            <img src="@logoURL" alt="AMBC Logo" style="max-width: 50px;">
        </a>
        <div class="email-content">
            <p style="margin-top: 70px;">Hello <strong>@leaveUpdate.employee_name</strong>,</p>
            <p>Your leave request has been <strong>approved</strong>.</p>
            <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                <tr>
                    <th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;"><strong>Approver Name</strong></th>
                    <th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;"><strong>Status</strong></th>
                </tr>
                <tr>
                    <td style="padding: 8px; border-bottom: 1px solid #ddd;">@leaveUpdate.updatedby</td>
                    <td style="padding: 8px; border-bottom: 1px solid #ddd;">Approved On @System.DateTime.Now.ToString("dd-MMM-yyyy hh:mm tt")</td>
                </tr>
            </table>
        </div>
    </div>
}
