@model List<con_leaveupdate>

@{
    var siteURL = System.Configuration.ConfigurationManager.AppSettings["siteURL"];
    var logoURL = siteURL + "/Assets/AMBC_Logo.png";
}

<style>
   /* body {
        font-family: Arial, sans-serif;
        color: #333;
    }

    .email-container {
        border: 1px solid #ddd;
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
    }

    .email-content {
        padding: 20px;
    }

    .email-footer {
        text-align: center;
        padding: 10px;
        border-top: 1px solid #ddd;
    }*/
</style>

@if (Model != null && Model.Any())
{
    var leaveUpdate = Model.First();
    <div class="email-container" style="border: 1px solid #ddd; background-color: #f9f9f9; padding: 20px;">
        <div class="email-content">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <p>Hello HR,</p>
                <a href="@siteURL" target="_blank">
                    <img src="@logoURL" alt="AMBC Logo" style="max-width: 50px; float: right;">
                </a>
            </div>

            <p><strong>Leave Type:</strong> @leaveUpdate.leavesource</p>

            <p><strong>From Date:</strong> @leaveUpdate.Fromdate</p>
            <p><strong>To Date:</strong> @leaveUpdate.Todate</p>

            <p><strong>Reason:</strong>@leaveUpdate.leave_reason</p>

            <p><strong>Backup Resource Name:</strong> @leaveUpdate.BackupResource_Name</p>

            <p><strong>Contact Number (In case of Emergency):</strong> @leaveUpdate.EmergencyContact_no</p>

            <p>
                Thanks and Regards,<br />
                @leaveUpdate.employee_name
            </p>
        </div>
    </div>
}

