@model List<con_leaveupdate>

@{
    var siteURL = System.Configuration.ConfigurationManager.AppSettings["siteURL"];
    var logoURL = siteURL + "/Assets/AMBC_Logo.png";
}


@if (Model != null && Model.Any())
{
    var leaveUpdate = Model.First();
    <div class="email-container" style="background-color: #f8f9fa; padding: 20px; border-radius: 5px; position: relative; max-width: 600px; margin: auto;">
        <div class="email-content" style="padding: 20px; background-color: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <a href="@siteURL" target="_blank" style="float: right; margin-left: 20px; margin-top: 20px;">
                <img src="@logoURL" alt="AMBC Logo" width="70" style="display: block;">
            </a>
            <p style="margin-top: 40px;">Hello <strong>@leaveUpdate.employee_name</strong>,</p>
            <p>Your leave request has been <strong>Rejected</strong>.</p>
            <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                <tr>
                    <th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;"><strong>Rejected By</strong></th>
                    <th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;"><strong>Status</strong></th>
                </tr>
                <tr>
                    <td style="padding: 8px; border-bottom: 1px solid #ddd;">@leaveUpdate.rejectedbyname</td>
                    <td style="padding: 8px; border-bottom: 1px solid #ddd;">Rejected On @System.DateTime.Now.ToString("dd-MMM-yyyy hh:mm tt")</td>
                </tr>
            </table>
        </div>
    </div>

    <div style="font-family: Calibri; color: #696969; font-size: 1.1em; margin-top: 20px; text-align: center;">
        This is an automated email, please do not reply.
        <br />
        Automated mail from <a href="https://prm.ambctechnologies.com" style="color: #2693F8;">https://prm.ambctechnologies.com</a>
    </div>

}


