@model List<con_leaveupdate>

@{

    var siteURL = System.Configuration.ConfigurationManager.AppSettings["siteURL"];
    var logoURL = siteURL + "/Assets/AMBC_Logo.png";
}

@if (Model != null && Model.Any())
{
    var leaveUpdate = Model.First();
    <div class="email-container" style="font-family: Calibri; color: #333; background-color: #f8f9fa; padding: 20px; border-radius: 8px; max-width: 600px; margin: auto;">
        <div class="email-content" style="padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); position: relative;">
            <a href="@siteURL" target="_blank" style="position: absolute; top: 20px; right: 20px;">
                <img src="@logoURL" alt="AMBC Logo" style="max-width: 50px;">
            </a>
            <p style="margin-top: 70px;">Hello <strong>@leaveUpdate.employee_name</strong>,</p>
            <p>Your leave request has been <strong>approved</strong>.</p>
            <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                <tr>
                    <th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;"><strong>Approver Name</strong></th>
                    <th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;"><strong>Status</strong></th>
                </tr>
                <tr>
                    <td style="padding: 8px; border-bottom: 1px solid #ddd;">@leaveUpdate.updatedby</td>
                    <td style="padding: 8px; border-bottom: 1px solid #ddd;">Approved On @System.DateTime.Now.ToString("dd-MMM-yyyy hh:mm tt")</td>
                </tr>
            </table>
        </div>
        <div style="font-family: Calibri; color: #696969; font-size: 1.1em; margin-top: 20px; text-align: center;">
            This is an automated email, please do not reply.
            <br />
            Automated mail from <a href="https://prm.ambctechnologies.com" style="color: #2693F8;">https://prm.ambctechnologies.com</a>
        </div>
    </div>
}

