<style>
    .navbar-nav .nav-item {
        position: relative;
    }

    .profile-image-container {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
        cursor: pointer;
    }

        .profile-image-container img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }

    .profile-dropdown {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 250px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        z-index: 1000;
    }

        .profile-dropdown h4 {
            margin: 0 0 10px;
        }

        .profile-dropdown p {
            margin: 5px 0;
        }

        .profile-dropdown .btn {
            display: block;
            width: 100%;
            margin: 10px 0;
        }
</style>

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" style="box-shadow: 0 0 10px 2px rgba(0, 0, 0, .3); height: 55px;">
    <a class="navbar-brand" href="#"><img src="~/Assets/AMBC_Logo.png" alt="logo" class="logo-img" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" id="navbar-profile">
                @{
                    var currentContext = Session["SiteContext"] as HRMS.Models.SiteContextModel;
                }
                <div class="profile-image-container" onclick="toggleDropdown()">
                    @if (!string.IsNullOrWhiteSpace(currentContext.EmpInfo.imagepath))
                    {
                        var empImageURl = System.Configuration.ConfigurationManager.AppSettings["EmpImagesFolder"] + "/" + currentContext.EmpInfo.imagepath;
                        <img src="@empImageURl" alt="Employee Image" class="profile img-fluid nav-image-profile">
                    }
                    else
                    {
                        string[] names = currentContext.EmpInfo.EmployeeName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);
                        if (names.Length > 0)
                        {
                            string firstName = names[0];
                            string lastName = names.Length > 1 ? names[names.Length - 1] : string.Empty;
                            char firstLetterOfFirstName = char.ToUpper(firstName[0]);
                            char firstLetterOfLastName = !string.IsNullOrEmpty(lastName) ? char.ToUpper(lastName[0]) : '\0';
                            <div class="default-image-navbar">@firstLetterOfFirstName@firstLetterOfLastName</div>
                        }
                    }
                </div>
            </li>
        </ul>
    </div>

    <div id="profileDropdown" class="profile-dropdown">
        <h4>@currentContext.EmpInfo.EmployeeName</h4>
        <p>@currentContext.EmpInfo.OfficalEmailid</p>
        <p>@currentContext.EmpInfo.Designation</p>

        @if (!currentContext.IsAdmin)
        {
            <button class="btn btn-primary" onclick="viewProfile()">View Profile</button>
        }

        <button class="btn btn-danger" onclick="signOut()">Sign Out</button>
        <form id="logoutForm" action="@Url.Action("Logout", "Profile")" method="post">
            @Html.AntiForgeryToken()
        </form>
    </div>
</nav>



<script>
    function toggleDropdown1() {
        var dropdown = document.getElementById('profileDropdown');
        dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
    }

    function viewProfile() {
        $('.emp-selfservice').click();
    }

    function signOut() {
        document.getElementById('logoutForm').submit();
    }

    // Close the dropdown if clicked outside
    window.onclick = function (event) {
        if (!document.getElementById('navbar-profile').contains(event.target)) {
            document.getElementById('profileDropdown').style.display = 'none';
        }
    }

    // Using jQuery to handle the click event
    $(document).ready(function () {
        $('.profile-image-container').on('click', function () {
            toggleDropdown1();
        });
    });
</script>

