@model HRMS.PurchaseRequest

@{
    var subject = $"New Purchase Request Created - @{Model.PRNumber}";
}
@{

    var siteURL = System.Configuration.ConfigurationManager.AppSettings["siteURL"];
    var logoURL = siteURL + "/Assets/AMBC_Logo.png";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>@subject</title>
</head>
<style>
    body {
        color: #333;
        background-color: #ffffff;
        margin: 0;
        padding: 0;
    }

    .purchase_body {
        background-color: #f4f4f4;
    }
    .email-footer {
        padding-top: 20px;
        border-top: 1px solid #eeeeee;
        font-size: 12px;
        color: #888888;
        text-align: center;
        font-family: Calibri, Arial, sans-serif;
        color: #696969;
        font-size: 1.1em;
        margin-top: 20px;
    }

    .email-container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 4px;
    }
    .email-container a {
        color: #2693F8;
        text-decoration: none;
    }
    .email-footer a {
        color: #2693F8;
        text-decoration: none;
    }
</style>
<body class="purchase_body">
    <div class="email-container">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#ffffff;">
            <tr>
                <td style="padding:0;">
                    <p style="padding:0px">Hello Mam,</p>
                </td>
                <td align="right" style="padding: 0;">
                    <a href="@siteURL" target="_blank">
                        <img src="@logoURL" alt="AMBC Logo" width="80" style="display: block;">
                    </a>
                </td>
            </tr>
        </table>
        <p>Good Day!</p>
        <p>A new purchase request with ID number <strong>@Model.PRNumber</strong> has been created with the following details:</p>
        <table style="width: 50%; border-collapse: collapse; padding: 0;background-color:#ffffff;">
            <tr>
                <td style="padding: 5px 0;"><strong>PR Number:</strong></td>
                <td style="padding:5px 0;">@Model.PRNumber</td>
            </tr>
            <tr>
                <td style="padding: 5px 0;"><strong>Asset Type:</strong></td>
                <td style="padding:5px 0;"> @Model.AssetType</td>
            </tr>
            <tr>
                <td style="padding: 5px 0;"><strong>Requested By:</strong></td>
                <td style="padding:5px 0;"> @Model.RejectedBy</td>
            </tr>
            <tr>
                <td style="padding: 5px 0;"><strong>Required On:</strong></td>
                <td style="padding:5px 0;">
                    @if (Model.RequiredOn.HasValue)
                    {
                        @Model.RequiredOn.Value.ToString("dd-MM-yyyy")
                    }
                </td>
            </tr>
        </table>

        <table style="width:80%; border-collapse: collapse; padding: 0; margin: 10px 20px;background-color:#ffffff;align-items:center;text-align:center;">
            <tr>
                <td style="padding: 3px 0;width:25%"></td>
                <td style="padding:3px 0; background-color: #D3E3FD;border-right:1px solid white"><strong>Vendor 1</strong></td>
                <td style="padding:3px 0; background-color: #D3E3FD; border-right: 1px solid white "><strong>Vendor 2</strong></td>
                <td style="padding:3px 0; background-color: #D3E3FD; "><strong>Vendor 3</strong></td>
            </tr>
            <tr>
                <td style="padding:3px 0; background-color: #B7CEF0;border-bottom:1px solid white"><strong>Vendor Name</strong></td>
                <td style="padding:3px 0">@Model.VendorName1</td>
                <td style="padding:3px 0">@Model.VendorName2</td>
                <td style="padding:3px 0">@Model.VendorName3</td>
            </tr>
            <tr>
                <td style="padding:3px 0; background-color: #B7CEF0; "><strong>Quotation</strong></td>
                <td style="padding:3px 0;">
                    @(string.IsNullOrWhiteSpace(Model.QuotationPrice1) ? "N/A" : Model.QuotationPrice1.Trim())
                </td>
                <td style="padding:3px 0;">
                    @(string.IsNullOrWhiteSpace(Model.QuotationPrice2) ? "N/A" : Model.QuotationPrice2.Trim())
                </td>
                <td style="padding:3px 0;">
                    @(string.IsNullOrWhiteSpace(Model.QuotationPrice3) ? "N/A" : Model.QuotationPrice3.Trim())
                </td>

            </tr>
        </table>        
        <div class="email-footer" style="margin-top: 20px; font-size: 12px; color: #666;">
            <p style="margin: 0; background-color: #ffffff; ">This is an automated email, please do not reply.</p>
            <p style="margin: 0; background-color: #ffffff; ">Automated mail from <a href="https://prm.ambctechnologies.com">https://prm.ambctechnologies.com</a></p>
        </div>
    </div>
</body>


