@model HRMS.VendorList

@{

    var siteURL = System.Configuration.ConfigurationManager.AppSettings["siteURL"];
    var logoURL = siteURL + "/Assets/AMBC_Logo.png";
}

<style>
    body {
        color: #333;
        background-color: #ffffff;
        margin: 0;
        padding: 0;
    }
    .approveemail_body {
        background-color: #f4f4f4;
    }
    .email-container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 0 20px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 4px;
    }

    .email-header {
        padding-bottom: 10px;
        border-bottom: 1px solid #eeeeee;
    }

        .email-header h1 {
            font-size: 24px;
            color: #2c3e50;
            margin: 0;
        }

    .email-body {
        padding: 20px 0;
    }
    
    table{
        background-color:#ffffff;
    }
    .email-footer {
        padding-top: 20px;
        border-top: 1px solid #eeeeee;
        font-size: 12px;
        color: #888888;
        text-align: center;
        font-family: Calibri, Arial, sans-serif;
        color: #696969;
        font-size: 1.1em;
        margin-top: 20px;
    }

        .email-footer a {
            color: #2693F8;
            text-decoration: none;
        }
    .email-body a {
        color: blue;
        text-decoration: underline;
    }
    
</style>

@if (Model != null)
{
<body class="approveemail_body">
    <div class="email-container" style="line-height: 2; background-color: #ffffff ">
        <div class="email-body">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#ffffff;">
                <tr>
                    <td style="padding: 15px 0;">
                        <p style="margin: 0;">Hi Team</p>
                    </td>
                    <td align="right" style="padding: 15px 0;">
                        <a href="@siteURL" target="_blank">
                            <img src="@logoURL" alt="AMBC Logo" width="80" style="display: block;">
                        </a>
                    </td>
                </tr>
            </table>
            <p style="margin: 0; background-color: #ffffff;">Your Vendor ID <strong>@Model.VedorID</strong> has been Approved successfully.</p>
            <p style="background-color:#ffffff;padding:0px;margin:0px;">Details:</p>
            <table style="width: 50%; border-collapse: collapse; padding-bottom: 10px; margin: 0 20px;background-color:#ffffff">
                <tr>
                    <td style="padding: 5px 0;"><strong>Vendor Name:</strong></td>
                    <td style="padding: 5px 0;">@Model.VendorName @Model.VedorID</td>
                </tr>
                <tr>
                    <td style="padding: 5px 0; "><strong>Approved By:</strong></td>
                    <td style="padding: 5px 0;">@Model.ApprovedBy</td>
                </tr>
                <tr>
                    <td style="padding: 5px 0; "><strong>Status:</strong></td>
                    <td style="padding: 5px 0;">
                        Approved on <br />
                        @if (Model.ApprovedDate.HasValue)
                        {
                            @Model.ApprovedDate.Value.ToString("dd-MM-yyyy hh:mm tt")
                        }
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px 0;"><strong>Remarks:</strong></td>    
                    <td style="padding: 5px 0;">@Model.ApproveRejectReason</td>
                </tr>
            </table>            
        </div>
        <div class="email-footer" style="margin-top: 20px; font-size: 12px; color: #666;">
            <p style="margin: 0; background-color: #ffffff; ">This is an automated email, please do not reply.</p>
            <p style="margin: 0; background-color: #ffffff; ">Automated mail from <a href="https://prm.ambctechnologies.com">https://prm.ambctechnologies.com</a></p>
        </div>
    </div>
</body>

}