@model HRMS.emplogin

@{
    var passwordResetLink = "";
    var siteURL = System.Configuration.ConfigurationManager.AppSettings["siteURL"];
    var logoURL = siteURL + "/Assets/AMBC_Logo.png";
}
@if (Model != null)
{
    <div class="emailbodycontent" style="background-color: #f9f9f9; padding: 20px; border: 1px solid #dcdcdc;">
        <div style="font-family: Calibri; color: #696969; position: relative;">
            <h2 style="font-size: 1.5em; margin: 0;">Hello <b>@Model.EmployeeName</b>,</h2>
            <a href="@siteURL" target="_blank" style="float: right; margin-left: 10px;">
                <img src="@logoURL" alt="AMBC Logo" width="70" style="display: block;">
            </a>
        </div>

        <div style="font-family: Calibri; color: #696969; font-size: 1.1em;">
            Forget your password?,<br />
            We received a request to reset the password for your account.
        </div>

        <div style="font-family: Calibri; color: #696969; font-size: 1.1em;">
            To reset your password, click on the button below:
        </div>
        <br />
        <br />
        @{
            if (System.Web.HttpContext.Current.Request.Url.Port == 443)
            {
                var url = System.Web.HttpContext.Current.Request.Url.Scheme + "://" + System.Web.HttpContext.Current.Request.Url.Host;
                passwordResetLink = url + "/account/resetpassword?empid=" + @Model.EmployeeID;
            }
            else
            {
                var url = System.Web.HttpContext.Current.Request.Url.Scheme + "://" + System.Web.HttpContext.Current.Request.Url.Host + ":" + System.Web.HttpContext.Current.Request.Url.Port;
                passwordResetLink = url + "/account/resetpassword?empid=" + @Model.EmployeeID;
            }
        }

        <a href="@passwordResetLink" style="background-color: #2693F8; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; font-size: 1.1em;">Reset Password</a>
        <br />
        <br />

        <div style="font-family: Calibri; color: #696969; font-size: 1.1em;">
            Or copy and paste the URL into your browser:
            <br />
            @passwordResetLink
        </div>

        <br />
        <br />
        <div style="font-family: Calibri; color: #696969; font-size: 1.1em;">
            Thanks & Regards,
            <br />
            <b>AMBC HR Department</b>
        </div>
        <br />
        <br />
    </div>
    <div style="font-family: Calibri; color: #696969; font-size: 1.1em;">
        This is an automated email, please do not reply.
        <br />
        Automated mail from <a href="https://prm.ambctechnologies.com" style="color: #2693F8;">https://prm.ambctechnologies.com</a>
    </div>

}
