@model HRMS.emplogin

@{
    var passwordResetLink = "";
    var siteURL = ConfigurationManager.AppSettings["siteURL"];
    var logoURL = siteURL + "/Assets/AMBC_Logo.png";
}

<style>
    body {
        background-color: #fff;
        font-size: initial;
        color: #2167ae;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        text-align: left;
        padding: 8px;
        border: 0px !important;
    }

    tr:nth-child(even) {
        background-color: grey;
    }

    .time-header {
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .emailbody {
        font-family: "Lato", sans-serif;
    }

    .email-footer {
        background-color: #eee;
        font-size: medium;
        height: 25px;
        border-radius: 20px;
    }

    .emailbodycontent {
        font-family: "Lato", sans-serif;
        color: #2167ae;
    }

    .circle {
        height: 20px;
        width: 20px;
        background-color: #d3d3d3;
        border-radius: 50%;
    }
</style>

@if (Model != null)
{
    <div class="emailbodycontent">
        <div style="font-family: Calibri; color: #696969; display: flex; align-items: center;">
            <h2>Hello <b>@Model.EmployeeName</b>,</h2>
            <a href="@siteURL" target="_blank" style="margin-left: 10px;">
                <img src="@logoURL" alt="AMBC Logo" style="max-width: 50px;">
            </a>
        </div>

        <div style="font-family: Calibri; color: #696969;">
            Forget your password?,<br />
            We received a request to reset the password for your account.
        </div>

        <div style="font-family: Calibri; color: #696969;">
            To reset your password, click on the button below:
        </div>
        <br />
        <br />
        @{
            if (System.Web.HttpContext.Current.Request.Url.Port == 443)
            {
                var url = System.Web.HttpContext.Current.Request.Url.Scheme + "://" + System.Web.HttpContext.Current.Request.Url.Host;
                passwordResetLink = url + "/account/resetpassword?empid=" + @Model.EmployeeID;
            }
            else
            {
                var url = System.Web.HttpContext.Current.Request.Url.Scheme + "://" + System.Web.HttpContext.Current.Request.Url.Host + ":" + System.Web.HttpContext.Current.Request.Url.Port;
                passwordResetLink = url + "/account/resetpassword?empid=" + @Model.EmployeeID;
            }

        }

        <a href="@passwordResetLink" style="background-color: #2693F8; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px;">Reset Password</a>
        <br />
        <br />

        <div style="font-family: Calibri; color: #696969;">
            Or copy and paste the URL into your browser:
            <br />
            @passwordResetLink
        </div>

        <br />
        <br />
        <div style="font-family: Calibri; color: #696969; font-size: initial;">
            Thanks & Regards,
            <br />
            <b>AMBC HR Department</b>
        </div>
        <br />
        <br />

    </div>
}
